.indicator {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  position: relative;
  flex-shrink: 0;
}

.status--success {
  background-color: var(--theme-success-500);
}

.status--warning {
  background-color: var(--theme-warning-500);
}

.status--error {
  background-color: var(--theme-error-500);
}

.status--info {
  background-color: var(--theme-elevation-500);
}

.spinner {
  &:after {
    content: '';
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    background: transparent;
    border-radius: 100%;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 1px solid transparent;
    border-right: 1px solid var(--theme-elevation-600);
    border-top: 0px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}