@use '@scss/common' as *;

.header {
  position: fixed;
  width: 100%;
  z-index: var(--z-nav);
  padding: calc(var(--base) * 1.5) 0;
  transition: color 300ms ease;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--theme-bg);
    opacity: 0.85;
    z-index: -1;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: -1;
    opacity: 1;
    transition: opacity 50ms ease-out;
  }

  @include large-break {
    padding: var(--base) 0;
  }

  @include mid-break {
    padding: calc(var(--base) * .75) 0;
  }
}

.header.mobileNavOpen {
  &:after {
    opacity: 0;
  }
}