@use '@scss/common.scss' as *;

.partnerDirectory {
  position: relative;
  padding-block: 6rem;
}

.directoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  & * {
    margin: 0;
  }

  .results {
    display: flex;
    gap: 1rem;
    align-items: center;

    & > button {
      @include small;
      padding: 0;
      background: none;
      border: none;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        opacity: .75;
      }
      &:disabled {
        display: none;
      }
    }
  }
}

.sidebar {
  position: relative;
}

.filterWrapper {
  position: sticky;
  top: var(--header-height);
  height: auto;
  border-top: 1px solid var(--theme-border-color);

  & > * {
    border-bottom: 1px solid var(--theme-border-color);
  }
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  & > * {
    margin: 0;
  }
}

.filterGroup {
  display: grid;
  grid-template-rows: auto 0fr;
  overflow: hidden;

  .filterGroupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    @include h5;
    font-weight: 700;
    padding: 1rem 1.5rem;
    margin: 0;
    text-align: left;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;

    &:hover {
      .chevron {
        opacity: 1;
      }
    }
  }

  .pill {
    width: 1.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-elevation-100);
    margin-left: .5rem;
    font-size: .75rem;
    line-height: 1.2rem;
    border-radius: .25rem;
  }

  .chevron {
    transition: transform .3s ease, opacity .3s ease;
    opacity: .5;
    width: .75rem;
    height: .75rem;
    transform: rotate(-90deg);
    margin-left: auto;
  }

  .checkboxes {
    gap: .75rem;
    overflow: hidden;
    padding: 0 1.5rem;
    height: 100%;

    & label {
      display: flex;
      align-items: center;
      width: fit-content;
      margin: 0;
      padding: .25rem 0;
      gap: .5rem;
      cursor: pointer;
      color: var(--theme-elevation-750);
      transition: color .3s ease;

      &:hover {
        color: var(--theme-text);
      }

      &:has(input:checked) {
        color: var(--theme-text);
      }

      & input {
        width: 1rem;
        height: 1rem;
        appearance: none;

        &::before {
          content: '';
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          width: 1rem;
          height: 100%;
          margin: 0;
          padding: 0;
          border: 1px solid var(--theme-elevation-250);
          transition: background-color .3s ease, border-color .3s ease;
          cursor: pointer;
        }

        &:checked::before {
          content: url('/images/check.svg');
          border-color: var(--theme-elevation-250);
          background-color: var(--theme-elevation-0);

          @include data-theme-selector('dark') {
            content: url('/images/check-dark.svg');
          }
        }

        &:hover::before {
          border-color: var(--theme-elevation-750);
          background-color: var(--theme-elevation-50);
        }
      }
    }


    & * {
      margin: 0;
      display: flex;
      gap: .75rem;
    }

    & > *:last-child {
      margin-bottom: 1rem;
    }
  }
}

.filterGroup:has(input:focus), .open {
  grid-template-rows: auto 1fr;

  .filterGroupHeader {
    padding-bottom: .5rem;
  }

  .chevron {
    transform: rotate(0deg);
  }
}