@use '@scss/common.scss' as *;

.userInitial {
  @include small;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: var(--theme-elevation-50);
  color: var(--theme-elevation-900);
  padding: 1rem;
  width: 250px;
  margin-top: 0.5rem;

  & > * {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.dropdownLabel {
  @include small;
  color: var(--theme-elevation-300);
  margin-bottom: 0.5rem;
}

.profileLink {
  display: flex;
  align-items: center;
}

.profileAvatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: var(--theme-elevation-900);
  color: var(--theme-elevation-50);
  font-weight: 500;
  text-transform: uppercase;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 0.5rem;
  text-overflow: ellipsis;
}

.profileName {
  margin: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
