@use '@scss/common.scss' as *;

.left--full {
  padding-left: var(--gutter-h);

  @include extra-large-break {
    padding-left: calc(var(--gutter-h) / 2);  
  }

  @include large-break {
    padding-left: var(--gutter-h);
  }
}

.left--half {
  padding-left: calc(var(--gutter-h) / 2);
}

.right--full {
  padding-right: var(--gutter-h);

  @include extra-large-break {
    padding-right: calc(var(--gutter-h) / 2);  
  }

  @include large-break {
    padding-left: var(--gutter-h);
  }
}

.right--half {
  padding-right: calc(var(--gutter-h) / 2);
}

.disableMobile {
  @include mid-break {
    padding-left: 0;
    padding-right: 0;
  }
}