.left--full {
  padding-left: var(--gutter-h);
}

.left--half {
  padding-left: calc(var(--gutter-h) / 2);
}

.right--full {
  padding-right: var(--gutter-h);
}

.right--half {
  padding-right: calc(var(--gutter-h) / 2);
}