@use 'queries' as *;

/////////////////////////////
// HEADINGS
/////////////////////////////

@mixin h1 {
  margin: 50px 0;
  font-size: 132px;
  line-height: 1;
  font-weight: normal;

  @include extra-large-break {
    font-size: 108px;
  }

  @include large-break {
    font-size: 84px;
  }

  @include mid-break {
    font-size: 70px;
  }

  @include small-break {
    margin: 24px 0;
    font-size: 36px;
    line-height: 42px;
  }
}

@mixin h2 {
  margin: 32px 0;
  font-size: 84px;
  line-height: 1;
  font-weight: normal;
  
  @include extra-large-break {
    font-size: 60px;
  }

  @include mid-break {
    margin: 36px 0;
    font-size: 48px;
  }

  @include small-break {
    margin: 24px 0;
    font-size: 28px;
    line-height: 32px;
  }
}

@mixin h3 {
  margin: 28px 0;
  font-size: 60px;
  line-height: 72px;
  font-weight: normal;

  @include large-break {
    font-size: 48px;
    line-height: 56px;
  }

  @include mid-break {
    font-size: 40px;
    line-height: 48px;
  }

  @include small-break {
    margin: 24px 0;
    font-size: 24px;
    line-height: 30px;
  }
}

@mixin h4 {
  margin: 36px 0 24px;
  font-size: 40px;
  line-height: 48px;
  font-weight: normal;

  @include mid-break {
    font-size: 33px;
    line-height: 36px;
  }

  @include small-break {
    margin: 20px 0;
    font-size: 20px;
    line-height: 24px;
  }
}

@mixin h5 {
  margin: 20px 0;
  font-size: 32px;
  line-height: 42px;
  font-weight: normal;

  @include mid-break {
    font-size: 26px;
    line-height: 32px;
  }

  @include small-break {
    margin: 16px 0;
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin h6 {
  margin: 20px 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;

  @include mid-break {
    font-size: 20px;
    line-height: 30px;
  }

  @include small-break {
    margin: 16px 0;
    font-size: 16px;
    line-height: 22px;
  }
}

/////////////////////////////
// TYPE STYLES
/////////////////////////////

@mixin body {
  font-size: var(--font-body-size);
  line-height: 32px;

  @include small-break {
    line-height: 24px;
  }
}

@mixin large-body {
  font-size: 33px;
  line-height: 42px;

  @include mid-break {
    font-size: 22px;
    line-height: 30px;

  }

  @include small-break {
    font-size: 17px;
    line-height: 24px;
  }
}

@mixin label {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include large-break {
    font-size: 13px;
    letter-spacing: 2.75px;
  }

  @include small-break {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2.625px;
  }
}