@use '@scss/common' as *;

.header {
    margin-bottom: calc(var(--base) * 2);
}

.ghLink {
    width: 100%;
    display: flex;
    align-items: center;
    border: 0;
    border-top: 0.5px solid var(--theme-elevation-250);
    border-bottom: 0.5px solid var(--theme-elevation-250);
    padding: calc(var(--base) * 2) 0;
    background: transparent;
    outline: none;
    text-align: left;
    cursor: pointer;
}

.ghTitle {
    flex-grow: 1;
}

.ghIcon {
    margin-right: var(--base);
    width: calc(var(--base) * 2);
    height: calc(var(--base) * 2);
}

.footer {
    margin-top: calc(var(--base) * 2);

    a {
        color: var(--theme-blue-500);
        text-decoration: underline;
    }
}
