@import '~@payloadcms/ui/scss';

.embed-node {
  @extend %body;
  @include shadow-sm;
  padding: calc(var(--base) * 0.75);
  padding-top: calc(var(--base) * 0.5);
  background: var(--theme-input-bg);
  border: 1px solid var(--theme-elevation-100);
  font-family: var(--font-body);
  margin: 0 0 1.5em;
  width: 560px;

  &__controls {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: calc(var(--base) * 0.25);
  }

  &__buttons {
    display: flex;
    flex-direction: row;
  }

  &__removeButton, &__swapButton {
    margin: 0;
  }

  &__urlDisplay {
    margin: 0;
    font-size: 1em;
  }

  iframe {
    width: 100%; // make iframe responsive by setting width to 100%
    height: 315px;
  }
}
