@use '~@payloadcms/ui/scss';

.after-nav-actions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;

  &__group-title {
    color: var(--theme-elevation-400);
  }
}
