@use '@scss/common.scss' as *;

.roadmapBlock {
  position: relative;
  margin-top: -18rem;
}

.introWrapper {
  margin-bottom: 3rem;

  @include mid-break {
    margin-bottom: 2rem;
  }
}

.richText {
  @include large-body;
}

.roadmapWrapper {
  column-gap: 2rem;
  align-items: start;

  @include mid-break {
    column-gap: 3rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--grid-line-light);

  @include data-theme-selector('dark') {
    background-color: var(--theme-elevation-100);
    border-color: var(--grid-line-dark);
  }
}

.columnHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.25rem;
  padding: 1.5rem 1.5rem 1.25rem;
  min-height: 8.5rem;
  margin: -1px -1px 0;
  border: 1px solid transparent;
}

.columnHeader--p0 {
  background-color: rgb(229 247 236);
  border-color: rgb(172 216 189);

  @include data-theme-selector('dark') {
    background-color: rgb(30 60 40);
    border-color: rgb(60 100 75);
  }
}

.columnHeader--p1 {
  background-color: var(--theme-success-100);
  border-color: var(--theme-success-200);

  @include data-theme-selector('dark') {
    background-color: var(--theme-success-150);
    border-color: var(--theme-success-150);
  }
}

.columnHeader--p2 {
  background-color: var(--theme-warning-100);
  border-color: var(--theme-warning-200);

  @include data-theme-selector('dark') {
    background-color: var(--theme-warning-150);
    border-color: var(--theme-warning-250);
  }
}


.columnTitle {
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: var(--theme-elevation-1000);

  @include data-theme-selector('dark') {
    color: var(--theme-elevation-0);
  }
}

.columnDescription {
  margin: 0;
  font-size: 0.75rem;
  color: var(--theme-elevation-600);

  @include data-theme-selector('dark') {
    color: var(--theme-elevation-500);
  }
}

.cards {
  display: flex;
  flex-direction: column;
}

.loading {
  padding: 3rem;
  text-align: center;
  color: var(--theme-elevation-600);
  font-size: 0.9375rem;

  @include data-theme-selector('dark') {
    color: var(--theme-elevation-500);
  }
}
