@use "@scss/common" as *;

.backgroundGrid {
  position: absolute;
  top: 0;
  left: calc(var(--gutter-h));
  width: calc(100% - var(--gutter-h) * 2);
  height: 100%;
  z-index: -1;
  border-left: 1px solid var(--theme-elevation-200);
  border-right: 1px solid var(--theme-elevation-200);
  box-sizing: border-box;
  pointer-events: none;
  user-select: none;

  &.ignoreGutter {
    left: 0;
    width: 100%;
  }
}


.column {
  width: 1px;
  background: var(--theme-elevation-200);

  &:nth-of-type(1) {
    grid-area: 1/5/1/9;

  }
  &:nth-of-type(2) {
    grid-area: 1/9/1/13;

    @include mid-break {
      display: none;
    }
  }
  &:nth-of-type(3) {
    grid-area: 1/13/1/17;

    @include mid-break {
      display: none;
    }
  }
}
