@use "@scss/common" as *;

.backgroundGrid {
  position: absolute;
  top: 0;
  left: calc(var(--gutter-h));
  width: calc(100% - var(--gutter-h) * 2 + 2px);
  height: 100%;
  z-index: -1;
  border-left: 1px solid var(--theme-elevation-200);
  border-right: 1px solid var(--theme-elevation-200);

  /* background-size: 25% 100%;
  background-repeat: repeat-x;

  background: repeating-linear-gradient(
    to right,
    var(--theme-elevation-200),
    var(--theme-elevation-200) 1px,
    transparent 1px,
    transparent 25%
  ); */
  /* border-right: 1px solid var(--theme-elevation-200); */


  @include mid-break {
    background-size: 50% 100%;
  }
}

.column {
  /* background-color: red; */

  &:nth-of-type(1) {
    grid-area: 1/1/1/5;
    border-right: 1px solid var(--theme-elevation-200);
  }
  &:nth-of-type(2) {
    grid-area: 1/5/1/9;
    border-right: 1px solid var(--theme-elevation-200);
    @include mid-break {
      display: none;
    }
  }
  &:nth-of-type(3) {
    grid-area: 1/9/1/13;
    border-right: 1px solid var(--theme-elevation-200);
    @include mid-break {
      display: none;
    }
  }
  &:nth-of-type(4) {
    grid-area: 1/13/1/17;

    @include mid-break {
      display: none;
    }
  }
}
