.intersectionObserverDebugger {
  --center-of-header: calc(var(--top-bar-height) + calc(var(--header-height) * .5));
  position: fixed;
  height: var(--center-of-header);
  width: 100%;
  z-index: 2000;
  opacity: .5;
  background-color: var(--theme-success-500);
}