@use '@scss/common' as *;

.pagination {
  display: flex;
  align-items: center;
}

.page {
  margin: 0 var(--base);
}

.button {
  all: unset;
  cursor: pointer;
  width: calc(var(--base) * 3);
  height: calc(var(--base) * 3);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-color: transparent;
  margin-right: calc(var(--base) * 0.5);

  svg {
    width: var(--base);
    height: var(--base);
  }

  &:hover {
    border-color: #3C3C3C;
  }

  &.disabled {
    cursor: default;
    color: var(--theme-elevation-500);

    &:hover {
      border-color: transparent;
    }
  }

  @include small-break {
    width: calc(var(--base) * 2);
    height: calc(var(--base) * 2);
    margin-right: calc(var(--base) * 0.25);
  }
}

.paginationButton {
  all: unset;
  cursor: pointer;
  width: calc(var(--base) * 3);
  height: calc(var(--base) * 3);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-color: transparent;
  margin-right: calc(var(--base) * 0.5);

  &:hover {
    border-color: #3C3C3C;
  }

  @include small-break {
    width: calc(var(--base) * 2);
    height: calc(var(--base) * 2);
    margin-right: calc(var(--base) * 0.25);
  }
}

.paginationButtonActive {
  border: 1px solid currentColor;
}

.dash {
  margin-right: calc(var(--base) * 0.5);
}

.disabled {
  pointer-events: none;
}
