@use "@scss/common" as *;

.invites {  
  margin-bottom: var(--base);
  
  & > *:not(:last-child) {
    margin-bottom: var(--base);
  }
}

.item {
  display: flex;
  position: relative;
  left: calc(var(--base) * -0.5);
  width: calc(100% + var(--base));

  & > * {
    flex: 1;
    margin: 0 calc(var(--base) / 2);
  }
}

.field {
  width: 100%;
  align-self: flex-end;
  flex: 1 1;
}