@use '@scss/common.scss' as *;

.extendedBackgroundWrap {
  --bg-extension: calc(var(--gutter-h) * .5);
  --pixel-bg-extension: calc(var(--bg-extension) * 2);
  --pixel-padding: calc(var(--bg-extension) / 2);
  position: relative;

  @include large-break {
    --bg-extension: calc(var(--gutter-h) * .75);
  }

  @include mid-break {
    --bg-extension: var(--gutter-h);
    --pixel-padding: var(--bg-extension);
  }
  
  &.withPixels {
   padding-bottom: var(--pixel-padding);
  }

  [data-background-container] {
    margin: 0 calc(-1 * var(--bg-extension) / 2);
    background-color: var(--theme-bg);
  }

  [data-border-highlight] {
    width: 100%;
  }

  [data-container-content] {
    padding: calc(var(--base) * 1.5) calc(var(--bg-extension) / 2);
  
    @include small-break {
      padding: calc(var(--base) * 1) calc(var(--bg-extension) / 2);
    }
  }

  .lowerBackground {
    [data-container-content] {
      padding: calc(var(--base) * 1.5) calc(var(--bg-extension) / 2);
      top: -1px;
    
      @include small-break {
        padding: calc(var(--base) * 1) calc(var(--bg-extension) / 2);
      }
    }
  }  
}



.pixelBackground {
  z-index: -2;
  position: absolute;
  bottom: 0;
  max-height: calc(50% + var(--pixel-padding));
  background-image: url('/images/dot.png');
  background-repeat: repeat;
  background-position-x: 5px; // half image width
  left: calc(-1 * var(--pixel-bg-extension) / 2);
  width: calc(100% + var(--pixel-bg-extension));
  height: 100%;
}