.label {
  display: block;
  margin-bottom: calc(var(--base) * 0.5);
  color: var(--theme-elevation-500);
}

.required {
  color: var(--color-failure-500);
  margin: 0 calc(var(--base) * 0.25);
}

.labelWithActions {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  margin-left: auto;

  svg {
    height: 24px;
    width: auto;
  }
}