@use "@scss/common" as *;

.uniqueRepoName {
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--theme-error-500)
}

.success {
  color: var(--theme-success-500)
}

.description {
  @include small;
}

.check {
  path {
    stroke: var(--theme-success-500);
  }
}