
.deploymentLogs {
  margin-top: calc(var(--base) * 4);
  
  .logTabs {
    position: sticky;
    top: calc(var(--top-bar-height) + var(--header-height));
    background: var(--theme-bg);
  }
}

.tabLabel {
  display: flex;
  align-items: center;
  gap: calc(var(--base) * .75);
}

.inactiveIndicator {
  opacity: .25;
}