.deploymentLogs {
  margin-top: calc(var(--base) * 4);
  isolation: isolate;
  
  .logTabs {
    position: sticky;
    top: calc(var(--top-bar-height) + var(--header-height));
    z-index: 1;

    > div {
      &:before {
        content: '';
        position: absolute;
        background: var(--theme-bg);
        opacity: 0.85;
        width: 100%;
        height: 100%;
        left: 0;
      }
  
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        backdrop-filter: blur(5px);
        z-index: -1;
      }
    }
  }
}

.tabLabel {
  display: flex;
  align-items: center;
  gap: calc(var(--base) * .75);
}

.inactiveIndicator {
  opacity: .25;
}