@use '@scss/common' as *;
@use '@forms/fields/shared.scss';

.submit {
  margin-top: 1rem;

  @include mid-break {
    margin-top: 0.25rem;
  }
}

.links {
  margin-bottom: 2rem;

  & > * {
    margin: 0;
  }

  & a {
    color: var(--theme-blue-500);
    text-decoration: underline;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @include mid-break {
    gap: 1rem;
  }
}

.buttonWrap {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
