@use '@scss/common' as *;

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(-3rem);
  }
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }
  100% {
    opacity: 1;
    transform: translateY(3rem);
  }
}

.mediaOne, .mediaTwo  {
  display: block;
  width: calc(var(--column) * 12);
  height: auto;
  padding: 0.25rem;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.05);
  border-radius: .5rem;
  backdrop-filter: blur(2rem);
  box-shadow: 0px 3rem 4rem 1rem rgba(0,0,0,.5);
  overflow: hidden;

  & > * {
    display: block;
    border-radius: .25rem;
    border: 1px solid rgba(255,255,255,0.05);
    background-color: #141414;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0rem .25rem 0rem rgba(0,0,0,.5);
  }

  @include mid-break {
    width: calc(var(--column) * 8);
  }
}

.mediaOne {
  position: absolute;
  top: 0;
  left: calc(var(--column) * 3);
  z-index: 1;
  translate: 0, 4rem;
  opacity: 0;
  animation: fadeInTop 3s cubic-bezier(0, .2, .2, 1) 0.5s forwards;
}

.mediaTwo {
  top: 0;
  left: 0;
  z-index: 0;
  translate: 0, 4rem;
  opacity: 0;
  animation: fadeInBottom 3s cubic-bezier(0, .2, .2, 1) 0.5s forwards;

  @include mid-break {
    margin-top: 4rem;
  }
}