@use '@scss/common' as *;

.privacyBanner {
  position: fixed;
  bottom: 1rem;
  right: var(--gutter-h);
  width: max-content;
  max-width: calc(var(--column) * 8);
  z-index: var(--z-nav);
  transition: transform 0.3s ease-out;
  border: solid 1px var(--theme-border-color);

  @include large-break {
    margin-left: 0;
    margin-right: 0;
  }
}

.animateOut {
  transform: translateY(100%);
}

.contentWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: black;
  padding: 1.5rem;

  @include large-break {
    margin-left: 0;
    margin-right: 0;
  }

  @include small-break {
    flex-direction: column;
  }

  @include extra-small-break {
    align-items: flex-start;
  }
}

.content {
  margin: 0;

  & a {
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 1px dotted currentColor;
    transition: all 0.2s ease;

    &:visited {
      color: var(--text-color);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.privacyLink {
  &:hover {
    color: var(--color-purple-600);
  }
}

.buttonWrap {
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;
  width: 100%;

  button {
    width: 50%;
  }

  @include small-break {
    margin-top: 1rem;
  }
}

:global([data-theme='light']) {
  .content {
    color: var(--color-base-100);
  }

  .rejectButton {
    color: var(--color-base-100);

    &:hover {
      border-color: var(--color-base-200);
    }
  }

  .acceptButton {
    background: var(--color-base-100);
    border-color: var(--color-base-100);
    color: black;

    &:hover {
      background: var(--color-base-300);
      border-color: var(--color-base-300);
    }
  }
}
