@use '@scss/common' as *;

.leadingHeader {
  margin-bottom: 2rem;
  max-width: 1200px;

  @include extra-large-break {
    max-width: 900px;
  }
}

.slider {
  position: relative;
  --pixel-extension-top: 2.5rem;
  --pixel-extension-bottom: 5rem;
  --pixel-extension-total: calc(var(--pixel-extension-top) + var(--pixel-extension-bottom));

  @include mid-break {
    --pixel-extension-top: 2rem;
    --pixel-extension-bottom: 2.25rem;
  }
}

.withPixelBackground {
  margin-top: calc(var(--pixel-extension-top) + var(--block-spacing));
  margin-bottom: calc(var(--pixel-extension-bottom)  + var(--block-spacing));
}

.sliderNav {
  margin-left: 4.5rem;
  margin-top: 2rem;

  @include mid-break {
    margin-left: 1rem;
  }
}

.navButton {
  all: unset;
  cursor: pointer;
  width: 0.6rem;

  @include mid-break {
    width: 1rem;
  }

  svg {
    width: 100%;
    height: auto;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.prevButton {
  margin-right: 1.5rem;
}

.sliderTrack {
  scrollbar-width: none;
  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.trackWrap {
  position: relative;
  margin-left: calc(var(--gutter-h));
  margin-right: calc(var(--gutter-h));
  background: white;

  @include data-theme-selector('light') {
    background: var(--color-base-0);
  }

  @include data-theme-selector('dark') {
    background: var(--color-base-1000);
  }
}

.slide {
  position: relative;
  box-sizing: border-box;
}

.pixelContainer {
  position: absolute;
  left: 0;
  right: 0;
  height: calc(100% + var(--pixel-extension-total));
  top: calc(-1 * var(--pixel-extension-top));
  z-index: -3;
  * {
    height: 100%;
  }
}

.pixelCell {
  position: relative;
  height: 100%;
  width: calc(100% + var(--gutter-h));
}

.quoteSlide {
  box-sizing: border-box;
  max-width: calc(var(--column) * 12);

  @include mid-break {
    max-width: 100%;
  }
}

.fakeSlide {
  width: calc(25% - 1px);
  flex-shrink: 0;

  @include mid-break {
    display: none;
  }
}
