@use "@scss/common" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.error {
  color: var(--theme-error-500);
}

.submit {
  margin-top: calc(var(--base) * 1.5);
}

.hr {
  margin: var(--base) 0;
  border: 0.5px solid var(--theme-elevation-500);
}