@use "@scss/common" as *;

.formHero {
  position: relative;
  margin-top: calc(var(--base) * -2);
  color: var(--color-base-0);
}

.formWrap {
  position: relative;
}

.formCell {
  position: relative;
  padding: calc(var(--base) * 4) 0;

  & > *:not(:last-child) {
    margin-bottom: var(--base);
  }

  @include mid-break {
    margin-top: var(--base);
    padding: 0;
  }
}

.leader {
  @include label;
  margin-bottom: var(--base);
}

.richText  {
  :global {
    ul, ol {
      list-style: none;
      padding: 0;
    }
  }
}

.li {
  @include large-body;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: var(--base);

    @include mid-break {
      margin-bottom: calc(var(--base) / 2);
    }
  }
}

.bullet {
  position: relative;
  // top: 1px;
  color: var(--color-success-500);
  border: 1px solid currentColor;
  border-radius: 100%;
  flex-shrink: 0;
  display: inline-flex;
  width: calc(var(--base) * 1.5);
  height: calc(var(--base) * 1.5);
  margin-right: var(--base);
  align-items: center;
  justify-content: center;

  @include mid-break {
    top: 4px;
  }
}

.gutter {
  position: relative;
  padding-top: calc(var(--base) * 8);
  padding-bottom: calc(var(--base) * 8);

  @include mid-break {
    padding-top: calc(var(--base) * 4);
    padding-bottom: calc(var(--base) * 4);
  }
}

.richTextCell {
  position: relative;
}

.formCellWrapper {
  position: relative;
}

// .formCellContent {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   height: 100%;
// }

.bgWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bgGutter {
  width: 100%;
  height: 100%;
}

.bg1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-base-950);
  margin-left: calc(var(--gutter-h) / -2);
  width: calc(100% + var(--gutter-h));

  @include mid-break {
    margin: 0;
    width: 100%;
  }
}

.pixelBG {
  position: absolute;
  height: 100%;
  width: calc(var(--base) * 16);
  right: 0;
  left: auto;
  
  @include mid-break {
    width: calc(var(--base) * 10);
  }
}

.bg2Wrapper {
  width: 100%;
  height: calc(100% - (var(--base) * 16));
  top: calc(var(--base) * 8);
  position: absolute;
  left: 0;

  @include mid-break {
    height: calc(100% - (var(--base) * 4));
    top: calc(var(--base) * 2);
  }
}

.bg2Grid {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg2Cell {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg2 {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + var(--gutter-h));
  height: 100%;
  background-color: var(--color-base-900);
}
