@use '@scss/common' as *;

.header {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.description {
    margin-bottom: 0;
}

.headerContent {
    flex-grow: 1;
}

.callToAction {
    @include shadow;
    background-color: var(--theme-bg);
    padding: calc(var(--base) * 2) 0;
}