@use "@scss/common" as *;

.linkGrid {
    position: relative;
}

.links {
    display: flex;
    flex-direction: column;
}

.linkWrapper {
    width: 100%;
    position: relative;
}

.link {
    @include h3;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    display: flex;
    margin: 0;

    // NOTE: do not `align-items: center;` here
    // this is bcc we want the text to wrap without the icon vertically centering
    // instead, use a static `top` value on the icon

    &:focus {
        text-decoration: none;
    }

  .linkLabel {
    @include h3;
    padding-top:  calc(var(--base) * 1.5);
    padding-bottom:  calc(var(--base) * 1.5);
  }

  .linkArrow {
    width: calc(var(--base) * 1);
    height: auto;
  }
}

.icon {
    margin-left: var(--base);
    top: 8px;
    position: relative;

    @include small-break {
        top: 5px;
        width: calc(var(--base) / 1.5) !important;
        height: calc(var(--base) / 1.5) !important;
    }
}
