@use "@scss/common" as *;

.linkGrid {
    position: relative;  
}

.links {
    display: flex;
    flex-direction: column;
}

.linkWrapper {
    width: 100%;
    position: relative;
}

.link {
    @include large-body;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    display: flex;
    padding: calc(var(--base) * 2) 0;
    // NOTE: do not `align-items: center;` here
    // this is bcc we want the text to wrap without the icon vertically centering
    // instead, use a static `top` value on the icon

    &:focus {
        text-decoration: none;
    }

    @include small-break {
        padding: var(--base) 0;
    }
}

.icon {
    margin-left: var(--base);
    top: 8px;
    position: relative;

    @include small-break {
        top: 5px;
        width: calc(var(--base) / 1.5) !important;
        height: calc(var(--base) / 1.5) !important;
    }
}