@use '@scss/common' as *;

@keyframes fadeInAndUp {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  width: 100%;
}

.three {
  opacity: 0;
  transform: translateY(40%);
  animation: fadeInAndUp 2s cubic-bezier(0.4, 0, 0, 1) forwards 0.25s;
  fill: white;

  @include mid-break {
    max-width: 120vw;
  }
}
