@use '@scss/common' as *;

$curve: cubic-bezier(.165, 0.84, 0.44, 1);

.container {
  position: relative;
  max-height: 100vh;
  width: calc(var(--column) * 15);
  margin-left: calc(var(--column) * -1);
  padding: 0;
  @include mid-break {
    width: calc(var(--column) * 10);
  }
}


.mask {
  width: 100%;
  background: transparent;
  aspect-ratio: 1601/855;
  mask-image: url('/images/three-mask.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  image-rendering: crisp-edges;
  position: relative;
  transition: all 1s $curve;
  transform-origin: bottom;
}

.gradient {
  transform: translate3d(calc(var(--mouse-x, -100%)* 1px - 35em), calc(var(--mouse-y, -100%)* 1px - 35em), 0px);
  position: absolute;
  filter: blur(17.5em);
  width: 70em;
  height: 70em;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  transition: opacity 1s $curve, transform .25s $curve;
  background: radial-gradient(circle at center, rgba(255,255,255,.25), rgba(255,255,255,0));

  @include mid-break {
    transform: translate3d(calc(var(--mouse-x, -100%)* 1px - 17.5rem), calc(var(--mouse-y, -100%)* 1px - 17.5rem), 0px);
    width: 35rem;
    height: 35rem;
  }
  z-index: 2;
}

.image {
  position: relative;
}

.payload {
  width: 100%;
  height: auto;
  position: absolute;
  fill: none;

  path {
    fill: none;
  }
  z-index: 6;
}

.black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-elevation-100);
  z-index: 1;
}

.white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 4;
}

.stroke {
  stroke: var(--theme-border-color);
  stroke-width: 1;
  fill: none;
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 1601/855;
  transition: all 1s $curve;
  transform-origin: bottom;
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: url('/images/noise.png') repeat;
  background-attachment: fixed;
  z-index: 3;
}