@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backgroundGradientWrapper {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-base-1000);

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 100px 120px 100px var(--color-base-1000);
  }
}