@import '../../../../scss/vars.scss';

.wrap {
  position: relative;
}

.group {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  :global {
    li {
      margin-right: base(1.5);
    }
  }

  @include mid-break {
    display: block;
    :global {
      li {
        margin-right: 0;
      }
    }
  }
}

.radioWrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0 base(.375);

  :global {
    input[type=radio] {
      display: none;
    }
  }
}

.radio {
  @include formInput;
  margin: 0;
  width: $base;
  height: $base;
  position: relative;
  padding: 0;
  display: inline-block;
  border-radius: 50%;

  @include mid-break {
    margin: 0;
  }

  &:before {
    content: ' ';
    display: block;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.radio {
  composes: radio;

  &:before {
    background-color: $color-dark-gray;
    box-shadow: inset 0 0 0 base(.1875) white;
    opacity: 0;
  }
}

.selected {
  composes: radio;

  &:before {
    opacity: 1;
  }
}

.unselected {
  composes: radio;
}

.label {
  margin-left: base(.5);
}
