@use '@scss/common.scss' as *;

.mobileNav {
  display: none;
  visibility: hidden;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(8px);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-bg);
    opacity: 0.75;
    z-index: -1;
  }

  @include small-break {
    display: block;
    visibility: visible;
  }
}

.logo {
  position: relative;
  top: -2px;
}

.menuBar {
  padding: calc(var(--base) * .75) 0;
  opacity: 0;

  &.show {
    opacity: 1;
  }
}

.menuBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
}

.searchToggler {
  all: unset;
  cursor: pointer;
  margin-right: calc(var(--base) *  .5);
}

.modalToggler {
  all: unset;
  cursor: pointer;
}

.mobileMenuModal {
  all: unset;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);

  .blur {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-base-900);
    opacity: .8;
    z-index: -1;
  }
}

.modalMenu {
  &:after {
    display: none;
  }
}