@use '@scss/common' as *;

.step {
  --step-indicator-pos: 2rem;
  position: relative;
  padding-bottom: var(--block-spacing);

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 2rem;
    left: calc(var(--gutter-h) - var(--step-indicator-pos) - 5px);
    bottom: 1rem;
    transition: transform 1500ms ease-out;
    transform-origin: center top;
    transform: scaleY(0);
    background: currentColor;
    width: 1px;
  }

  @include large-break {
    --step-indicator-pos: 1rem;
  }

  @include mid-break {
    --step-indicator-pos: 0.5rem;
  }

  &:last-child {
    padding-bottom: 0;

    .label {
      &:before {
        background: var(--color-success-500);
      }
    }

    &:before {
      content: none;
    }
  }
}

.animate {
  &:before {
    transform: scaleY(1);
  }
}

.label {
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + var(--step-indicator-pos));
    width: 0.5rem;
    height: 0.5rem;
    background: currentColor;
    border-radius: 100%;
  }

  @include mid-break {
    &:before {
      width: 0.25rem;
      height: 0.25rem;
    }
  }
}