@use '@scss/common.scss' as *;

.form {
    display: flex;
    flex-direction: column;
}

.password {
    @include label;
}


.viewButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    color: var(--theme-blue-500);
    text-decoration: underline;
}

.error {
    color: var(--theme-error-500);
}

.success {
    color: var(--theme-success-500);
}

.form {
    & > * {
        margin-bottom: var(--base);
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}

.hr {
    margin: calc(var(--base) * 3) 0;

    @include mid-break {
        margin: calc(var(--base)) 0;
    }
}

.buttonWrap {
    margin-top: var(--base);
    display: flex;
    gap: var(--base);
}