@use '@scss/common.scss' as *;

.form {
    display: flex;
    flex-direction: column;
}

.password {
    @include label;
}


.viewButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    color: var(--theme-blue-500);
    text-decoration: underline;
}

.formState {
    margin-top: var(--base);
    max-width: 600px;

    & div {
        margin: 0;
    }
}

.error {
    color: var(--theme-error-500);
}

.success {
    color: var(--theme-success-500);
}

.form {
    & > * {
        margin-bottom: var(--base);
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}

.hr {
    margin: calc(var(--base) * 3) 0;

    @include mid-break {
        margin: calc(var(--base)) 0;
    }
}

.buttonWrap {
    margin-top: var(--base);
    display: flex;
    gap: var(--base);
    justify-content: space-between;
}

.warning, .emailInput {
    margin-bottom: var(--base);
}

.modal {
    & > * {
        width: 800px;
        overflow-x: scroll;
        max-height: 100vh;
    }
}

.modalActions {
  display: flex;
  gap: var(--base);
  justify-content: flex-end;
  width: 100%;
  padding-top: calc(var(--base)*2);
  border-top: 1px solid var(--theme-border-color);
  margin-top: calc(var(--base)*2);

}

@include small-break {
    .buttonWrap, .modalActions {
        flex-wrap: wrap;
    }

    .modal {
        & > * {
            padding: calc(var(--base)*2) var(--gutter-h);
            border: 0;
        }
    }
}