@use '@scss/common.scss' as *;

.form {
    display: flex;
    flex-direction: column;
}

.viewButton {
    @include btnReset;
    cursor: pointer;
    margin-top: var(--base);
    align-self: flex-start;
}

.password,
.viewButton {
    @include label;
}

.formState {
    margin-top: var(--base);
    max-width: 600px;

    & div {
        margin: 0;
    }
}

.error {
    color: var(--theme-error-500);
}

.success {
    color: var(--theme-success-500);
}

.form {
    margin-top: calc(var(--base));
    max-width: 600px;

    &>* {
        margin-bottom: var(--base);
    }

    &>*:last-child {
        margin-bottom: 0;
    }
}

.hr {
    margin: calc(var(--base) * 3) 0;

    @include mid-break {
        margin: calc(var(--base)) 0;
    }
}

.buttonWrap {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: calc(var(--base)*7);
}