@use '@scss/common' as *;

.vars {
  margin-bottom: 1rem;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.row {
  width: 100%;
}

.fields {
  display: flex;
  position: relative;
  left: -0.5rem;
  right: -0.5rem;
  width: calc(100% + 1rem);

  & > * {
    margin: 0 0.5rem;
    width: calc(50% - 0.5rem);
  }
}
