@use '@scss/common.scss' as *;

.title {
  @include h2;
  margin-top: 0;
}

.content {
  padding-top: calc(var(--base) * 2);
  min-width: 0;
  line-height: 1.6;

  @include mid-break {
    width: 100%;
  }
}

.mdx {
  @include color-links;
  padding-bottom: calc(var(--base) * 2);

  h2 {
    @include h3;
  }

  h3 {
    @include h4;
  }

  h4 {
    @include h5;
  }

  h5 {
    @include h6;
  }
}

.aside {
  flex-shrink: 0;
  position: sticky;
  top: 0;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--theme-elevation-100);
    }
  }

  @include mid-break {
    display: none;
  }
}

.asideStickyContent {
  position: sticky;
  top: var(--page-padding-top);
  max-height: calc(100vh - var(--page-padding-top));
  overflow: scroll;
  padding: calc(var(--base) * 2) 0;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
  }
}

.discordGitWrap {
  border-top: 1px solid var(--theme-border-color);

  & a {
    box-shadow: none;
  }
}

.button {
  width: 100%;
  border: 0;
  box-shadow: none;
  padding-bottom: 0;

  & path {
    stroke-width: 1.5px;
  }
}

.pill {
  width: fit-content;
  height: auto;
}

.next {
  position: relative;
  display: block;
  padding: calc(var(--base) * 3) 0;
  text-decoration: none;
  border-top: 1px solid var(--theme-border-color);

  h3 {
    margin: 0;
  }

  @include mid-break {
    margin: 0 calc(var(--base)*-2)!important;
  }
}

.hasRelatedThreads {
  border-bottom: 1px solid var(--theme-border-color);
}

.nextLabel {
  display: flex;
  align-items: center;
  padding-bottom: calc(var(--base) * 0.5);

  svg {
    margin-left: calc(var(--base) * .5);
  }
}
