@use '@scss/common' as *;

.option {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.githubIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.optionLabel {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
