@use "@scss/common" as *;

.tabsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.content {
  text-align: center;
}

.navigationWrap {
  width: 100%;
  overflow-x: auto;
}

.tabNavigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 100%;
  border-bottom: solid 1px var(--theme-elevation-200);

  @include extra-small-break {
    justify-content: flex-start;
  }

  button {
    padding: 1rem 1rem;
    border: none;
    background-color: transparent;
    font-size: var(--font-body);
    color: var(--theme-elevation-500);
    cursor: pointer;
    border-bottom: solid 2px transparent;

    &:hover {
      color: var(--theme-text);
    }

    &:focus {
      outline: none;
    }

    &.active {
      color: var(--theme-text);
      border-bottom: solid 2px var(--theme-text);
    }
  }
}