@use '@scss/common.scss' as *;

.wrap {
  position: relative;
  display: flex;
  padding: 0 calc(var(--gutter-h) / 2);

  @include large-break {
    padding: 0 var(--gutter-h);
  }

  @include mid-break {
    padding-bottom: calc(var(--base) * 4);
  }
}

.nav {
  position: sticky;
  top: var(--page-padding-top);
  max-height: calc(100vh - var(--page-padding-top));
  overflow: auto;
  width: calc(var(--base) * 11);
  margin-right: 7%;
  flex-shrink: 0;
  padding-bottom: calc(var(--base) * 2);

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--theme-elevation-100);
    }
  }

  @include extra-large-break {
    margin-right: 3%;
  }

  @include large-break {
    margin-right: 2%;
  }

  @include mid-break {
    width: 25%;
    margin-right: 2%;
  }

  @include mid-break {
    display: none;
    position: fixed;
    z-index: calc(var(--z-nav) + 1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--theme-bg);
    width: auto;
    padding: var(--gutter-h) var(--gutter-h) calc(var(--base) * 5);
    overflow: auto;
    max-height: initial;
    margin-right: 0;
  }
}

.navHidden {
  opacity: 0;
}

.navOpen {
  display: block;
}

.mobileNavButton {
  @include btnReset;
  display: none;
  position: fixed;
  height: calc(var(--base) * 3);
  z-index: calc(var(--z-nav) + 2);
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--theme-elevation-900);
  color: var(--theme-elevation-50);
  padding: 0 var(--gutter-h);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  @include mid-break {
    display: flex;
  }
}

.content {
  min-width: 0;
  flex-grow: 1;
}

.topic {
  @include btnReset;
  font-size: calc(var(--font-body-size) * .925);
  color: var(--theme-elevation-500);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--base) * .375);

  &:hover {
    color: var(--theme-text);
  }

  svg {
    transition: transform 200ms ease-out;
    margin-right: calc(var(--base) * .5);
  }

  &--open {
    color: var(--theme-text);
    font-family: var(--font-body-bold);

    svg {
      transform: rotate(90deg);
    }
  }

  @include mid-break {
    font-size: var(--base);
    margin-bottom: calc(var(--base) * .5);
  }
}

.docs {
  list-style: none;
  color: var(--theme-elevation-500);
  position: relative;

  &:before {
    content: ' ';
    display: block;
    width: 1px;
    background: var(--theme-elevation-100);
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 12px;
  }
}

.doc {
  font-size: calc(var(--font-body-size) * .925);
  line-height: 1.375;
  padding-left: calc(var(--base) * 1.75);
  text-decoration: none;
  display: inline-flex;
  position: relative;

  &:hover {
    color: var(--theme-text);
  }

  &:before {
    content: ' ';
    background: currentColor;
    border-radius: 2px;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: 12px;
    left: 18px;
  }

  &--active {
    font-family: var(--font-body-bold);
    color: var(--theme-text);
  }

  @include mid-break {
    font-size: var(--base);
    margin-bottom: calc(var(--base) * .25);
  }
}