@use '@scss/common.scss' as *;

$transCurve: cubic-bezier(0.4, 0, 0.2, 1);

.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  padding: var(--button-padding);

  --button-padding: calc(var(--base) * 0.5) var(--base);

  &:local(.size--small) {
    --button-padding: calc(var(--base) * 0.25) calc(var(--base) * 0.5);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .25;
  }
}

.full-width {
  width: 100%;
}

.mobile-full-width {
  @include mid-break {
    width: 100%;
  }
}

:global([data-theme="light"]) {
  .appearance {  
    &--primary {
      &:focus-visible {
        border-color: var(--theme-elevation-950);
      }
    }
  }
}

.appearance {
  &--default {
    display: inline-flex;
    min-width: calc(var(--base) * 12);
    padding: unset;
    padding-top: calc(var(--base) * 0.75);
  }

  &--primary {
    border: 1px solid var(--theme-elevation-900);
    color: var(--theme-bg);
    background-color: var(--theme-elevation-950);

    &:focus {
      color: var(--theme-bg);
      border-color: currentColor;
      background-color: var(--theme-elevation-700);
    }

    // background-image: linear-gradient(90deg, var(--theme-success-500) 0%, var(--theme-success-900) 50%, var(--theme-elevation-900) 50%, var(--theme-elevation-900) 100%);
    // background-position: 100% 100%;
    // background-repeat: no-repeat;
    // background-size: 200% 100%;

    // &.isHovered {
    //   background-position: 0% 100%;
    // }

    // &--animating-out,
    // &.isHovered {
    //   transition: background-position 250ms $transCurve;
    // }
      
    // &--animating-out {
    //   background-position: 100% 100%;
    // }
  }

  &--secondary {
    border: 1px solid;
    border-color: var(--theme-elevation-500);

    &:focus-visible {
      color: var(--theme-elevation-850);
      background-color: var(--theme-elevation-150);
    }

    &.isHovered {
      border-color: var(--theme-elevation-900);
      @include mid-break {
        border-color: var(--theme-elevation-500);
      }
    }
  }

  &--danger {
    color: var(--theme-error-550);
    background: var(--theme-error-100);
    border: 1px solid;

    &:focus-visible {
      color: var(--theme-error-800);
      border-color: var(--theme-error-800);
    }
  }

  &--text {
    display: inline-flex;
    padding: unset;
    border-radius: 3px;
    border: 1px solid transparent;

    &:focus-visible {
      color: var(--theme-elevation-600);
      background-color: var(--theme-elevation-150);
    }
  }
}

.gradient {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity #{50}ms $transCurve;
}

.isHovered {
  &:local()  {
    .icon--arrow {
      transform: translate3d(2px, -2px, 0);

      @include mid-break {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: calc(var(--base) * .5);
}

.label {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
}

.label-mono {
  @include label;
}

.label-centered {
  justify-content: center;
  text-align: center;
}

.icon {
  position: relative;
  transition-duration: 50ms;
  transition-timing-function: $transCurve;
  flex-shrink: 0;
  transform: translate3d(0, 0, 0);
  width: var(--base);
  height: var(--base);
}