@use '@scss/common.scss' as *;

$transCurve: cubic-bezier(0.4, 0, 0.2, 1);

$curve: cubic-bezier(.165, .84, .44, 1);

.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  padding: var(--button-padding);

  --button-padding: calc(var(--base) * 0.5) var(--base);
  height: calc(var(--base) * 2.5); // match input height

  &:focus-visible {
    @include outline;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .25;
  }
}

.size--pill {
  @include small;
  line-height: calc(var(--base) * 1.25);
  height: unset;
  border-radius: 3px;
  padding: 0 6px;
  font-weight: bold;

  .spacer {
    width: calc(var(--base) * 0.75);
  }

  &.appearance--default {
    background-color: var(--theme-elevation-250);
    color: var(--theme-elevation-1000);
    min-width: unset;
    padding: 0 6px;

    &:focus-visible, &:hover {
      background-color: var(--theme-elevation-200);
      color: var(--theme-elevation-1000);
    }
  }
}


.full-width {
  width: 100%;
}

.mobile-full-width {
  @include mid-break {
    width: 100%;
  }
}

:global([data-theme="light"]) {
  .appearance {
    &--primary {
      &:focus-visible {
        border-color: var(--theme-elevation-950);
      }
    }
  }
}

.appearance {
  &--default {
    --animation-speed: 450ms;
    display: inline-flex;
    border: 1px solid var(--grid-line-dark);
    position: relative;
    padding: unset;
    color: var(--theme-elevation-1000);
    height: unset;
    transition: background-position var(--animation-speed) $curve;
    overflow: hidden;

    & .contentWrapper {
      width: 100%;
    }

    & .defaultLabel {
      position: relative;
      padding: calc(var(--base) * 1.5) var(--base);
      width: 100%;
      transition: transform var(--animation-speed) $curve;

      & .label {
        transform: rotate(0);
        transition: transform var(--animation-speed) 150ms $curve;
        transform-origin: bottom left;
        color: var(--theme-elevation-1000);
      }
    }

    &.forceBackground {
      & .defaultLabel {
        &::before {
          content: '';
          width: calc(100% - 2px);
          position: absolute;
          height:100%;
          left: 1px;
          top:0;
          z-index: -1;
          background-color: var(--theme-elevation-0);
        }
      }
    }

    & .hoverLabel {
      padding: calc(var(--base) * 1.5) var(--base);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: calc(100% + 2px);
      transform: translateY(100%);
      transition: transform var(--animation-speed) $curve;
      color: var(--theme-elevation-0);
      background-color: var(--theme-elevation-1000);

      & .label {
        transform: rotate(3deg);
        transition: transform var(--animation-speed) 150ms $curve;
        transform-origin: bottom left;
        color: var(--theme-elevation-0);
      }
    }

    .content {
      padding: calc(var(--base) * 1.5) var(--base);

      .label {
        margin: 0;

      }

      .icon--arrow {
        transition: background-position 550ms $curve, color 550ms $curve;
      }
    }

    &:hover {
      .defaultLabel {
        transform: translateY(-100%);
        transition-duration: calc(var(--animation-speed) * 2);

        .label {
          transform: rotate(-3deg);
        }
      }

      .hoverLabel {
        transform: translateY(0);

        .label {
          transform: rotate(0deg);
        }
      }

      color: var(--theme-elevation-0);
    }

    @include mid-break {
      .content {
        padding: var(--base);
      }

      & .defaultLabel, & .hoverLabel  {
        padding: var(--base);
      }
    }
  }

  &--primary {
    --animation-speed: 450ms;
    display: inline-flex;
    border: 1px solid var(--grid-line-dark);
    position: relative;
    padding: unset;
    color: var(--theme-elevation-1000);
    height: unset;
    overflow: hidden;

    & .contentWrapper {
      width: 100%;
    }

    & .defaultLabel {
      position: relative;
      padding: calc(var(--base) * 1.5) var(--base);
      width: 100%;

      & .label {
        color: var(--theme-elevation-1000);
      }
    }

    &.forceBackground {
      & .defaultLabel {
        &::before {
          content: '';
          width: calc(100% - 2px);
          position: absolute;
          height:100%;
          left: 1px;
          top:0;
          z-index: -1;
          background-color: var(--theme-elevation-0);
        }
      }
    }

    .content {
      padding: calc(var(--base) * 1.5) var(--base);

      .label {
        margin: 0;

      }
    }

    &:hover {
      background-color: var(--theme-elevation-1000);
      color: var(--theme-elevation-0);

      & .label {
        color: var(--theme-elevation-0);
      }
    }

    @include mid-break {
      .content {
        padding: var(--base);
      }

      & .defaultLabel {
        padding: var(--base);
      }
    }
  }

  &--secondary {
    border: 1px solid;
    border-color: var(--theme-elevation-500);

    &:focus-visible {
      color: var(--theme-elevation-850);
      background-color: var(--theme-elevation-150);
    }

    &.isHovered {
      border-color: var(--theme-elevation-900);

      @include mid-break {
        border-color: var(--theme-elevation-500);
      }
    }
  }

  &--danger {
    background-color: var(--theme-error-500);
    color: var(--theme-error-50);

    &:focus-visible, &:hover {
      background-color: var(--theme-error-450);
    }
  }

  &--success {
    color: var(--color-success-500);
    border: 1px solid;
    border-color: var(--color-success-500);

    &:focus-visible {
      color: var(--theme-elevation-850);
      background-color: var(--color-success-500);
    }

    &.isHovered {
      color: var(--color-success-250);
      border-color: var(--color-success-250);

      @include mid-break {
        border-color: var(--theme-elevation-500);
      }
    }
  }

  &--warning {
    color: var(--color-warning-500);
    border: 1px solid;
    border-color: var(--color-warning-500);

    &:focus-visible {
      color: var(--theme-elevation-850);
       background-color: var(--color-warning-500);
    }

    &.isHovered {
      border-color: var(--theme-elevation-900);

      @include mid-break {
        border-color: var(--theme-elevation-500);
      }
    }
  }

  &--text {
    display: inline-flex;
    padding: unset;
    height: unset;
    border-radius: 3px;
    border: 1px solid transparent;

    &:focus-visible {
      color: var(--theme-elevation-600);
      background-color: var(--theme-elevation-150);
    }
  }
}

.gradient {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity #{50}ms $transCurve;
}

.isHovered {
  &:local() {
    .icon--arrow {
      transform: translate3d(2px, -2px, 0);

      @include mid-break {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.hideBorders {
  border: none;
}

.hideHorizontalBorders {
  border-right: none;
  border-left: none;
}

.hideVerticalBorders {
  border-top: none;
  border-bottom: none;
}

.hideBottomBorderExceptLast {
  &:not(:last-of-type) {
    border-bottom: none;
  }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 6;
}

.label {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
}

.size--default .label-mono {
  @include label;
}

.label-centered {
  justify-content: center;
  text-align: center;
}

.spacer {
  width: var(--base);
  height: var(--base);
}

.icon {
  position: relative;
  transition-duration: 50ms;
  transition-timing-function: $transCurve;
  flex-shrink: 0;
  transform: translate3d(0, 0, 0);
}

.appearance {
  @include data-theme-selector('light') {
    &--default {
      border-color: var(--grid-line-light);
    }
  }

  @include data-theme-selector('dark') {
    &--default {
      border-color: var(--grid-line-dark);
    }
  }
}
