@use '@scss/common' as *;

.comments {
  margin-top: calc(var(--base) * 3);
  list-style: none;
  padding: 0;
}

.comment,
.reply {
  border: 1px solid var(--color-base-650);
  padding: calc(var(--base) * 1.5);
  line-height: 1.5;
  margin: 0 0 calc(var(--base) * 1.75) 0;

  @include mid-break {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--base);
  }
}

.comment.answer {
  padding: 0;
}

.hasReplies {
  margin: 0;
}

.reply {
  border-top: none;
  background-color: var(--theme-elevation-50);
  border-left-width: 8px;
  margin-bottom: 0;

  &:last-child {
    margin-bottom: calc(var(--base) * 2);
  }
}

.replyCount {
  font-size: calc(var(--base) * 0.75);
  color: var(--color-base-500);
  padding-top: calc(var(--base) * 1.5);
}

.answer {
  background-color: var(--theme-success-100);
  color: var(--color-success-500);
  border: 1px solid var(--theme-success-200);

  & code {
    color: var(--theme-elevation-900);
  }

  .replyCount {
    padding: calc(var(--base) * 1.5);
    padding-top: 0;
  }
}

.answerHeader {
  display: flex;
  gap: 10px;
  padding: calc(var(--base) * .75) calc(var(--base) * 1.5);
  width: 100%;
  background: var(--theme-success-50);
  border-bottom: 1px solid var(--theme-success-150);

  & label {
    @include label;
    font-size: 13px;
  }

  .checkmark {
    border: 1px solid currentColor;
    border-radius: 100%;
    height: 15px;
    width: auto;
    display: flex;
    align-self: center;

    & path {
      stroke-width: 2px;
    }
  }

  .selectedBy {
    font-size: calc(var(--base) * 0.65);
  }
}

.answerBody {
  padding: calc(var(--base) * 1.5);
  color: var(--theme-text);
}

.attachmentWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: var(--base);

  @include large-break {
    grid-template-columns: 1fr;
  }
}

:global([data-theme="light"]) {
  .answer {
    background-color: var(--theme-success-350);
    border-color: var(--theme-success-750);
    color: var(--theme-text);
  }

  .answerHeader {
    background: var(--theme-success-850);
    color: var(--theme-success-150);
    border-bottom: 1px solid var(--theme-success-650);
  }
}

@include mid-break {
  .content {
    margin: 0;
  }

  .comment,
  .reply {
    padding: var(--base);
  }

  .replyCount {
    padding: var(--base) 0 0 0;
  }

  .answer {
    .replyCount {
      padding: 0 calc(var(--base) * 1.5) calc(var(--base) * 1.5) calc(var(--base) * 1.5);
    }
  }
}