@use '@scss/common' as *;

.comments {
  padding: 0;
  margin-bottom: calc(var(--base) * 4);
  list-style: none;

  @include mid-break {
    margin-bottom: calc(var(--base)*2);
  }
}

.comment {
  margin: calc(var(--base) * 2) 0;
}

.comment,
.reply {
  border: 1px solid var(--theme-border-color);
  padding: calc(var(--base) * 2) calc(var(--base) * 4);
  line-height: 1.5;

  @include mid-break {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--base);
  }
}

.hasReplies {
  margin: 0;
}

.reply {
  border-top: none;
  background-color: var(--theme-elevation-50);
  margin-bottom: 0;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    background-color: var(--theme-blue-50);
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
  }
}

.replyCount {
  @include uppercaseLabel;
  color: var(--color-base-500);
  padding-top: calc(var(--base) * 1.5);
}

.answer {
  position: relative;
  padding: 0;

  & code {
    color: var(--theme-elevation-900);
  }
}

.answerHeader {
  position: relative;
  padding: calc(var(--base) * 1.5) calc(var(--base) * 4);
  background-color: var(--theme-blue-100);

  & h6 {
    text-transform: uppercase;
    margin: 0;
  }

  .selectedBy {
    font-size: calc(var(--base) * 0.65);
  }

  @include mid-break {
    padding: calc(var(--base) * 1.5) var(--base);
  }
}

.answerBody {
  padding: calc(var(--base) * 1.5) calc(var(--base) * 4);
  color: var(--theme-text);
  background-color: var(--theme-blue-50);

  @include mid-break {
    padding: calc(var(--base) * 1.5) var(--base);
  }
}

.attachmentWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: var(--base);

  @include large-break {
    grid-template-columns: 1fr;
  }
}

.crosshairs {
  height: 0;
  bottom: 0;
  top: unset;
}

:global([data-theme="light"]) {
  .answer {
    background-color: var(--theme-success-350);
    border-color: var(--theme-success-750);
    color: var(--theme-text);
  }

  .answerHeader {
    background: var(--theme-success-850);
    color: var(--theme-success-150);
    border-bottom: 1px solid var(--theme-success-650);
  }
}

@include mid-break {
  .content {
    margin: 0;
  }

  .comment {
    margin: var(--base) 0;
  }

  .reply {
    padding: var(--base);
    padding-left: calc(var(--base)*1.5);
  }
}