@use '@scss/common' as *;

.hr {
  margin: calc(var(--base) * 3) 0;

  @include mid-break {
      margin: calc(var(--base) * 2) 0;
  }
}

.margin--small {
  margin: var(--base) 0;

  @include mid-break {
      margin: calc(var(--base) / 2) 0;
  }
}