@use '@scss/common.scss' as *;

.card {
    border-bottom: 1px solid var(--theme-elevation-200);
    aspect-ratio: 1/1;
    background-color: var(--theme-bg);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    @include mid-break {
        color: var(--color-base-100);
    }

    &:hover {
      background-color: transparent;

        &:local() {
            .content {
                top: 0;
                transform: translate3d(0, 0, 0);
            }

            .description {
                opacity: 1;
            }

            .arrow {
                opacity: 1;
            }

            .bg {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }

            .leader {
                opacity: 0;
            }
        }
    }
}

.link {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: calc(var(--base) * 2);
    text-decoration: none;

    @include large-break {
        padding: calc(var(--base) * 1.5);
    }

    @include mid-break {
        padding: var(--base);
    }
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, var(--base), 0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;

    @include mid-break {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.scanline {
  opacity: 0;
}

.leader {
    position: relative;
    @include h6;
    margin: 0;

    @include mid-break {
        opacity: 0;
    }
}

.spacer {
    flex-grow: 1;
    height: calc(var(--base) * 3);
    flex-shrink: 0;
}

.content {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    transform: translate3d(0, -100%, 0);
    will-change: opacity, transform;
    transition: all 0.3s ease-in-out;
    padding: calc(var(--base) * 2);

    @include large-break {
        padding: calc(var(--base) * 1.5);
    }

    @include mid-break {
        top: 0;
        transform: translate3d(0, 0, 0);
        padding: var(--base);
    }
}

.titleWrapper {
    position: relative;
}

.title {
    @include h4;
    margin: 0 !important;

    @include large-break {
        @include h5;
    }

    @include mid-break {
        @include h4;
    }

    @include small-break {
        font-size: calc(var(--base) * 0.8);
    }
}

.description {
    position: absolute;
    top: 100%;
    margin-top: calc(var(--base) * 1.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    will-change: opacity;
    font-size: 18px;
    line-height: 1.4;

    @include large-break {
        margin-top: calc(var(--base) * 1);
        @include small;
    }

    @include mid-break {
        opacity: 1;
        margin-top: calc(var(--base) / 4);
    }

    @include small-break {
        font-size: small;
        line-height: 1.25;
        margin-top: calc(var(--base) / 3);
    }
}

.arrow {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    will-change: opacity;

    path {
        stroke: var(--theme-text);
    }

    @include mid-break {
        opacity: 1;
    }
}

.noLink {
    color: var(--color-base-100);

    &:local() {
        .content {
            top: 0;
            transform: translate3d(0, calc(var(--base) * 2), 0); // leave room for the leader

            @include mid-break {
                transform: translate3d(0, var(--base), 0); // leave room for the leader
            }
        }

        .description {
            opacity: 1;
        }

        .bg {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }

        .leader {
            opacity: 1;
        }

        .arrow {
            opacity: 0;
        }
    }


    &:hover {
        &:local() {
            .content {
                transform: translate3d(0, calc(var(--base) * 2), 0); // leave room for the leader
            }

            .leader {
                opacity: 1;
            }

            .arrow {
                opacity: 0;
            }
        }
    }
}

:global([data-theme="light"]) {
    .card {
        @include mid-break {
            color: var(--color-base-900);
        }
    }
  }