@use '@scss/common.scss' as *;

.card {
    border: 1px solid var(--theme-elevation-500);
    aspect-ratio: 1/1;
    background-color: var(--theme-bg);
    position: relative;
    overflow: hidden;

    @include mid-break {
        color: var(--color-base-0);
    }

    &:hover {
        color: var(--color-base-0);

        &:local() {
            .content {
                top: 0;
                transform: translate3d(0, 0, 0);
            }

            .description {
                opacity: 1;
            }
            
            .arrow {
                opacity: 1;
            }

            .bg {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        
            .leader {
                opacity: 0;
            }
        }
    }
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-base-950);
    transform: translate3d(0, var(--base), 0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;

    @include mid-break {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.content {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    transform: translate3d(0, -100%, 0);
    will-change: opacity, transform;
    transition: all 0.3s ease-in-out;
    padding: calc(var(--base) * 2);

    @include mid-break {
        top: 0;
        transform: translate3d(0, 0, 0);
        padding: var(--base);
    }
}

.leader {
    position: relative;
    @include label;

    @include mid-break {
        opacity: 0;
    }
}

.spacer {
    flex-grow: 1;
    height: calc(var(--base) * 2);
    flex-shrink: 0;
}

.link {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: calc(var(--base) * 2);
    text-decoration: none;

    @include mid-break {
        padding: var(--base);
    }
}

.description {
    margin-top: calc(var(--base) / 2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    will-change: opacity;
    position: absolute;
    top: 100%;

    @include mid-break {
        opacity: 1;
    }
}

.titleWrapper {
    position: relative;
}

.title {
    @include h6;
    margin: 0 !important;
}

.arrow {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    will-change: opacity;

    path {
        stroke: var(--color-success-500);
    }

    @include mid-break {
        opacity: 1;
    }
}

.noLink {
    color: var(--color-base-0);

        &:local() {
            .content {
                top: 0;
                transform: translate3d(0, 0, 0);
            }

            .description {
                opacity: 1;
            }
            
            .arrow {
                opacity: 1;
            }

            .bg {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        
            .leader {
                opacity: 0;
            }
        }
}