@use '@scss/common.scss' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: var(--base);
  padding: calc(var(--base) * 1.5);
  padding-bottom: 0;
  text-decoration: none;
  aspect-ratio: 1 / 1;
  transition: background-color, gap, padding-bottom;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  border-bottom: 1px solid var(--grid-line-light);

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);
  }

  & > * {
    margin: 0;
    width: 100%;
  }

  &:hover {
    padding-bottom: var(--base);

    .title {
      margin-bottom: 0;
    }

    .scanlines {
      opacity: 1;
    }

    .leader .icon {
      transform: translateY(0);
      opacity: 1;
    }

    .descriptionWrapper {
      grid-template-rows: 1fr;
      opacity: 1;
    }

    .description {
      opacity: 1;
    }
  }
}

.revealCard {
  gap: 0;
  padding-bottom: 0;

  &:hover {
    gap: var(--base);
    padding-bottom: calc(var(--base) * 1.5);

    .revealDescriptionWrapper {
      grid-template-rows: 1fr;
      opacity: 1;
    }
  }

}

.leader {
  flex-grow: 1;
  display: flex;

  .leaderText {
    display: block;
    width: 100%;
    margin: 0;
  }

  .icon {
    transform: translateY(10px);
    opacity: 0;
    transition: transform .4s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.title {
  font-size: calc(var(--base) * 1.5);
  line-height: 1.2em;

  @include large-mid-break {
    font-size: calc(var(--base) * 1.4);
  }

  @include mid-break {
    font-size: calc(var(--base) * 1.5);
  }
}

.descriptionWrapper {
  display: grid;
  grid-template-rows: 1fr;
  opacity: 1;

  .description {
    opacity: 1;
    height: 7em;
    pointer-events: none;
    padding: 0;
    margin: 0;
    padding-bottom: calc(var(--base) * 1.5);
  }
}

.revealDescriptionWrapper {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition-property: grid-template-rows, opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  .description {
    overflow: hidden;
    color: var(--theme-elevation-750);
    pointer-events: none;
    padding: 0;
    margin: 0;
    height: auto;
    padding-bottom: calc(var(--base) * 1.5);
  }
}


.scanlines {
  opacity: 0;
  transition: opacity .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
