@use '@scss/common.scss' as *;

.row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.trashButton {
  all: unset;
  position: relative;
  bottom: 14px;
  align-self: flex-end;
  display: flex;
  padding: 2px 5px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--color-error-550);

  &:hover,
  &:focus {
    background-color: var(--theme-error-100);
  }

  &:focus-visible {
    @include outline;
  }
}

.children {
  width: 100%;
  display: flex;
  gap: inherit;
  flex-wrap: wrap;
}
