@use '@scss/common' as *;

.next {
  display: block;
  padding: var(--base);
  margin-top: calc(var(--base) * 2);
  text-decoration: none;
  transition: all 200ms ease-in-out;

  h5 {
    margin: 0;
  }
}

.next--dark {
  composes: next;
  background: var(--theme-purple-100);
  border-bottom: 1px solid var(--theme-purple-500);
  color: var(--theme-purple-800);

  &:hover {
    background: var(--theme-purple-150);
  }

  &:active,
  &:focus {
    background: var(--theme-purple-200);
  }
}

.next--light {
  composes: next;
  background: var(--theme-purple-200);
  border-bottom: 1px solid var(--theme-purple-600);
  color: var(--theme-purple-800);

  &:hover {
    background: var(--theme-purple-250);
  }

  &:active,
  &:focus {
    background: var(--theme-purple-300);
  }
}

.nextLabel {
  display: flex;
  align-items: center;

  svg {
    margin-left: calc(var(--base) * .5);
  }
}