@use '@scss/common' as *;

.blogCard {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.title {
  display: block;
  @include h6;

  @include mid-break {
    @include h5;
  }

  @include small-break {
    @include h3;
  }

  margin: 0 !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.media {
  @include shadow-lg;
}

.mediaLink {
  flex-shrink: 0;
  flex-grow: 0;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--base) * 2);

  &:local() {
    .mediaLink {
      width: 33.33%;
    }
  }

  @include small-break {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--base);
  }
}