@use '@scss/common' as *;

.blogCard {
  display: block;
  text-decoration: none;
}

.contentWrapper {
  display: flex;

  @include small-break {
    flex-direction: column;
  }
}

.title {
  display: block;
  @include h4;

  & {
    margin: 0 !important;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.media {
  max-width: 50%;

  @include small-break {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
    max-width: 100%;
  }
}

.meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0.5;
  margin-bottom: 1.2rem;

  @include small-break {
    margin-bottom: 0.6rem;
  }

  time {
    @include small;
  }

  p {
    margin: 0;
    @include small;
  }
}

.mediaLink {
  flex-shrink: 0;
  flex-grow: 0;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;

  @include small-break {
    width: 100%;
    padding: 0;
  }
}
