@use '@scss/common' as *;

.blogCard {
  margin-bottom: calc(var(--base) * 2);
}

.title {
  display: block;
  @include h6;

  @include mid-break {
    @include h3;
  }
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}