@use "@scss/common" as *;

.code .codeComponent {
  margin: 0 0 var(--base);
  background-color: var(--color-base-900);

  @include mid-break {
    margin-left: calc(var(--gutter-h) * -1);
    margin-right: calc(var(--gutter-h) * -1);
    border-radius: 0;
  }
}
