@use "@scss/common" as *;

.codeWrap {
  background: var(--color-base-900);
  margin-bottom: calc(var(--base)*2);

  @include mid-break {
    margin: 0 calc(var(--base)*-1)!important;
    width: 100vw;
  }
}

.code {
  padding: calc(var(--base)*2) 0;
  background: none;

    & > * {      
      &::before {
      content: none!important;
    }
    white-space: pre-wrap;
  }

  @include mid-break {
    margin-left: calc(var(--gutter-h) * -1);
    margin-right: calc(var(--gutter-h) * -1);
    border-radius: 0;
  }
}
