@use "@scss/common" as *;

.codeWrap {
  background: var(--color-base-900);
  margin: 0 calc(var(--column) * -1);
  margin-bottom: calc(var(--base)*2);
  padding: 0;

  @include mid-break {
    margin: 0;
    margin-bottom: calc(var(--base) * 2);
  }
}

.code {
  background: none;

    & > * {
      &::before {
      content: none!important;
    }
    white-space: pre-wrap;
  }
}
