@use "@scss/common" as *;

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.backgroundScanline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/scanline-dark.png');
  background-repeat: repeat;
  opacity: 0.08;
  box-sizing: border-box;

  @include data-theme-selector('light') {
    background-image: url('/images/scanline-dark.png');
  }


  @include data-theme-selector('dark') {
    background-image: url('/images/scanline-light.png');
  }
}

.enableBorders {
  border-top: 1px solid var(--grid-line-light);
  border-bottom: 1px solid var(--grid-line-light);

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);
  }
}

.crosshair {
  position: absolute;
  width: calc(var(--base) * 1);
  height: auto;
  color: var(--theme-elevation-1000);
  opacity: 0.5;
  z-index: 1;
}

.crosshairTopLeft {
  top: calc(var(--base) * -0.5);
  left: calc(var(--base) * -0.5);
}

.crosshairBottomLeft {
  bottom: calc(var(--base) * -0.5);
  left: calc(var(--base) * -0.5);
}

.crosshairTopRight {
  top: calc(var(--base) * -0.5);
  right: calc(var(--base) * -0.5);
}

.crosshairBottomRight {
  bottom: calc(var(--base) * -0.5);
  right: calc(var(--base) * -0.5);
}
