@use '@scss/common' as *;

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .crosshair {
    position: absolute;
    width: 1rem;
    height: auto;
    color: var(--theme-elevation-1000);
    opacity: 0.5;
    z-index: 1;
  }

  .crosshairTopLeft {
    top: -0.5rem;
    left: -0.5rem;
  }

  .crosshairBottomLeft {
    bottom: -0.5rem;
    left: -0.5rem;
  }

  .crosshairTopRight {
    top: -0.5rem;
    right: -0.5rem;
  }

  .crosshairBottomRight {
    bottom: -0.5rem;
    right: -0.5rem;
  }
}

.backgroundScanline {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-image: url('/images/scanline-dark.png');
  background-repeat: repeat;
  opacity: 0.08;
  box-sizing: border-box;

  @include data-theme-selector('light') {
    background-image: url('/images/scanline-dark.png');
    opacity: 0.08;
  }

  @include data-theme-selector('dark') {
    background-image: url('/images/scanline-light.png');
    opacity: 0.1;
  }
}

.enableBorders {
  border-top: 1px solid var(--grid-line-light);
  border-bottom: 1px solid var(--grid-line-light);

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);
  }
}

:global([data-theme='light']) {
  .crosshair {
    color: var(--theme-elevation-400);
  }
}
