@use '@scss/common' as *;

.pill {
  display: flex;
  align-items: center;
  color: var(--color-success-500);
  border-radius: 19px;
  padding: 4px calc(var(--base) * 0.5);
}

.color--default {
  background-color: var(--theme-elevation-250);
  color: var(--theme-elevation-800);
}

.color--success {
  background-color: var(--theme-success-100);
  color: var(--color-success-500);
}

.color--blue {
  background-color: var(--theme-blue-100);
  color: var(--color-blue-500);
}

.color--error {
  background-color: var(--theme-error-100);
  color: var(--color-error-500);
}

.color--warning {
  background-color: var(--theme-warning-100);
  color: var(--color-warning-500);
}

.text {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 1;
}

:global([data-theme="light"]) {
  .pill {
    color: black;
  }

  .color--default {
    background-color: var(--theme-elevation-50);
  }
}

@include small-break {
  .pill {
    padding: calc(var(--base) * 0.25) calc(var(--base) * 0.45);
    margin: 0;
    max-height: 28px;
  }

  .text {
    font-size: 10px;
  }
}