@use '@scss/common' as *;

.caseStudyCards {
  position: relative;
}

.cards {
  position: relative;
  padding: calc(var(--base) * 4) 0;

  @include mid-break {
    padding: calc(var(--base) * 2) 0;
  }
}

.card {
  position: relative;
  border: 1px solid var(--theme-text);
  display: flex;
  text-decoration: none;
  background-color: var(--theme-bg);

  &:not(:last-child) {
    margin-bottom: calc(var(--base) * 2);
  }

  &:hover {
    .media {
      img {
        transform: scale(1.05) rotate(-1deg);
      }
      &:after {
        opacity: .5;
      }
    }
  }

  @include small-break {
    flex-direction: column;
  }
}

.content {
  padding: calc(var(--base) * 4) calc(var(--base) * 3);
  width: auto;
  flex-shrink: 0;
  flex: 1;

  @include large-break {
    padding: calc(var(--base) * 3) calc(var(--base) * 1.5);
  }

  @include small-break {
    padding: calc(var(--base) * 1.5) var(--base);
  }

  * {
    margin-top: 0;
  }
}

.media {
  position: relative;
  width: 50%;
  flex-shrink: 0;
  min-height: 150px;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--theme-elevation-700);
    opacity: 0;
    mix-blend-mode: hard-light;
    transition: opacity .25s ease;
  }

  img {
    object-fit: cover;
    transition: 300ms ease transform;
  }

  @include small-break {
    width: 100%;

    &:after {
      display: none;
    }
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + var(--gutter-h));
  height: 100%;
  margin-left: calc(var(--gutter-h) / -2);

  @include mid-break {
    margin-left: calc(var(--gutter-h) * -1);
    width: calc(100% + (var(--gutter-h) * 2));
  }
}