@use '@scss/common.scss' as *;

.wrapper {
  position: relative;
}

.container {
  position: relative;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: var(--theme-bg);

  @include mid-break {
    padding-top: 2rem;
    padding-bottom: 0;
  }
}

.backgroundGrid {
  z-index: 0;
}

.contentWrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;


  @include mid-break {
    padding: 2rem;
  }
}

.content {
  margin-bottom: 2rem;
}


.media {
  width: calc(100% + var(--gutter-h));
  margin-right: calc(var(--gutter-h));
  margin-top: -2.5rem;
  margin-bottom: -2.5rem;

  @include mid-break {
    margin: 0;
    margin-left: 1px;
    margin-right: 0;
    width: calc(100% - 2px);
    margin-bottom: -1rem;
  }
}

.scanline {
  border-left: 1px solid;
  border-right: 1px solid;
}

.quoteIcon {
  position: absolute;
  width:  1.125rem;
  height: auto;
  color: var(--theme-text);
  left: 0;
  top: 0;


  @include large-break {
    width:  1rem;
  }

  @include mid-break {
    left: 2rem;
  }

  & path {
    stroke: var(--theme-text);
    stroke-width: 0px;
  }
}

.authorWrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.author {
  line-height: 1;
}

.logo {
  max-width: 6rem;
  height: auto;
}

.name {
  font-weight: 500;
}
