@use '@scss/common.scss' as *;

.leftGutter {
  padding-left: var(--gutter-h);
}

.rightGutter {
  padding-right: var(--gutter-h);
}

.gutter.disableMobile {
  @include mid-break {
    padding-left: 0;
    padding-right: 0;
  }
}
