@use '@scss/type.scss' as *;

.content {
  display: flex;

  svg {
    margin-right: calc(var(--base) / 2);
    width: var(--base);
    height: var(--base);
  }
}

.label {
  @extend %label;
  display: flex;
  align-items: center;
}

.button {
  text-decoration: none;
  display: inline-flex;
  padding: 12px 18px;
  margin-bottom: var(--base);
}

.appearance--default {
  padding: 0;
  margin-left: -8px;
}
