@use "@scss/common" as *;

.toggle {
  @include btnReset;
  @include label;
  display: flex;
  margin-left: auto;
  background-color: var(--color-base-750);
  border-radius: 3px;
  padding: calc(var(--base)*0.25) var(--base);
  transition: opacity 200ms linear;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
  .arrow {
    display: none;
  }

  .label {
    @include label;
    color: var(--color-base-100);
  }
}

.table {
  & td {
    white-space: nowrap;
  }
}

.drawerContent {
  margin-top: var(--base);
}

@include mid-break {
  .toggle {
    color: var(--color-base-100);
    padding: calc(var(--base)*0.5);

    .arrow {
      display: unset;
    }

    .label {
      display: none;
    }
  }
}

.code {
  background-color: var(--color-base-900);
  padding-bottom: calc(var(--base)*2.5);
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  pointer-events: all;

  @include mid-break {
    padding-bottom: calc(var(--base)*1.5);
    font-size: calc(var(--base) * .65);
    line-height: var(--base);
  }
}