@use "@scss/common" as *;

.toggle {
  @include btnReset;
  @include label;
  display: flex;
  margin-left: auto;
  background-color: var(--color-base-750);
  border-radius: 3px;
  padding: calc(var(--base)*0.25);
  transition: opacity 200ms linear;
  cursor: pointer;
  color: var(--color-base-100);

  &:hover {
    opacity: 0.8;
  }

  .label {
    @include label;
    color: var(--color-base-100);
  }
}

.table {
  & td {
    white-space: nowrap;
  }
}

.drawerContent {
  margin-top: var(--base);
}

@include mid-break {
  .toggle {
    color: var(--color-base-100);
    padding: calc(var(--base)*0.35);
  }

  .table {
    font-size: 12px;

    & th {
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.code {
  background-color: var(--color-base-900);
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  pointer-events: all;

  @include mid-break {
    padding: calc(var(--base)*0.75);
    font-size: calc(var(--base) * .55);
    line-height: 1.2;
  }
}