@use '@scss/common' as *;
@use "../../../../forms/fields/shared.scss";

.header {
    margin-bottom: calc(var(--base) * 2);
}

.formState {
    & > * {
        margin: 0;
        margin-bottom: var(--base);

        &:last-child {
            margin-bottom: calc(var(--base) * 2);
        }
    }

    @include mid-break {
        & > * {
            margin-bottom: calc(var(--base) / 2);
        }
    }
}

.error {
    color: var(--theme-error-500);
}

.submit {
    margin-top: calc(var(--base) * 2);
    display: flex;
    align-items: center;
    gap: var(--base);
}

.submitDescription {
    margin: 0;
    color: var(--theme-elevation-500);
    margin-top: var(--base);
}

.fields {
    display: flex;
    flex-direction: column;
    gap: var(--base);
}

.sidebarCell {
    position: relative;
    height: 100%;
}

.sidebar {
    position: sticky;
    top: var(--page-padding-top);
    gap: var(--base);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: calc(var(--base) * 2);

    @include mid-break {
        margin-right: 0;
        gap: calc(var(--base) / 2);
        position: static;
        top: unset;
    }
}

.trialDescription {
    margin: 0;
    color: var(--theme-text-success);
}

.totalPrice {
    margin: 0;
}

.installationSelector {
    width: 100%;
}

.totalPriceSection {
    align-items: flex-start;

    > *:last-child {
        margin-bottom: 0;
    }
}

.freeTrial {
    margin-top: var(--base);
}

.freeTrialDisabled {
    color: var(--theme-elevation-500);
}

.plansSection {
    margin-bottom: calc(var(--base) * 2);
}

.plansSectionHeader {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    gap: var(--base);
}

.buildSettings {
    display: flex;
    flex-direction: column;
    gap: var(--base);
}

.paymentInformation {
    display: flex;
    flex-direction: column;
    gap: var(--base);
}

.paymentInformationDescription {
    margin-bottom: 0;
}

.envAdd {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

.agreeToTerms {
    margin-top: calc(var(--base) * 2);

    a {
        color: var(--theme-blue-500);
        text-decoration: underline;
    }
}

.cancel {
  align-self: flex-start;

  & div {
    width: unset;
  }

  @include mid-break {
    margin: var(--base) 0;
  }
}