@use "@scss/common" as *;

.node {

  letter-spacing: 0;

  scroll-margin-top: calc(var(--header-height) + var(--base));
  position: relative;

  * {
    color: var(--theme-text);
  }

  &:hover {
    .linkedHeading {
      opacity: .75;
    }
  }
}

.node .linkedHeading {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 200ms ease;
  opacity: .25;
  top: 50%;
  left: calc(var(--base) * -1.15);

  @include small-break {
    transform: translate(-50%, -50%) scale(.65);
    left: calc(var(--base) * -.5);
  }
}
