@use "@scss/common" as *;

.wrap {
  position: relative;
  padding: 0 var(--base);
  font-size: calc(var(--base) * .85);
}

.toc {
  list-style: none;
  padding: 0;
  margin: 0 0 calc(var(--base) * 2);

  a {
    text-decoration: none;
  }

}

.tocTitle {
  font-weight: 400;
  font-size: calc(var(--base) * .55);
  letter-spacing: 2.75px;
  text-transform: uppercase;
  margin: 0 0 var(--base) 0;
}

.heading {
  transition: all 400ms;
  position: relative;
  line-height: 1.375;
  margin-bottom: calc(var(--base) * .75);
  margin-right: var(--base);

  &:hover {
    transform: translate3d(calc(var(--base) * .25), 0, 0);
  }
}

.heading-2 {
  composes: heading;
}

.heading-3 {
  composes: heading;
}


.indicator {
  position: absolute;
  left: 0;
  top: 0;
  transition: all var(--trans-default) ease-in-out;
  height: calc(var(--base) * 1.3);
  background-color: var(--theme-elevation-800);
  width: 2px;
}