@use '@scss/common' as *;

.privacyWrap {
  & a {
    text-decoration: none;
    color: var(--color-purple-600);
    border-bottom: 1px dotted currentColor;
    transition: all 0.2s ease;

    &:visited {
      color: var(--color-purple-600);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.cookiePreferencesWrap {
  position: sticky;
  top: calc(var(--header-height) * 1.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include mid-break {
    position: unset;
    top: unset;
    display: block;
  }
}

.radioGroup {
  margin-bottom: var(--base);
}