@use '@scss/common.scss' as *;

.background {
  padding: calc(var(--base) * 2) 0;

  [data-component="extension"] {
    background-color: var(--theme-elevation-50);
  }
}

.lowerBackground {
  padding: calc(var(--base)) 0;
  display: flex;
  gap: calc(var(--base) * 2);

  > [data-component="extension"] {
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-elevation-50);
    border-top: 0;
  }
}


.pixels {
  > [data-component="extension"] {
    z-index: -2;
    height: 200%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/images/dot.png');
    background-repeat: repeat;
  }
}

.deployDetails {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) * .5);

  p {
    margin: 0;
  }

  .iconAndLabel {
    @include small;
    display: flex;
    align-items: center;
    color: var(--theme-elevation-500);

    svg {
      color: var(--theme-elevation-400);
      height: 20px;
      margin-right: calc(var(--base) * 0.5);
    }
  }
}