@use '@scss/common' as *;

$curve: cubic-bezier(.165, 0.84, 0.44, 1);

.quoteCard {
  @include large-body;
  box-sizing: border-box;
  padding: 5rem;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  background: var(--color-base-0);
  border-top: 1px solid var(--grid-line-light);
  border-bottom: 1px solid var(--grid-line-light);
  opacity: 0.5;
  transition: opacity 350ms $curve;

  &:hover {
    &:not(.isActive) {
      opacity: 0.65;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-image: url('/images/scanline-dark.png');
    background-repeat: repeat;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 350ms $curve;

    @include data-theme-selector('light') {
      background-image: url('/images/scanline-dark.png');

      &.isActive {
        opacity: 0.08;
      }
    }


    @include data-theme-selector('dark') {
      background-image: url('/images/scanline-light.png');

      &.isActive {
        opacity: 0.10;
      }
    }
  }

  &.isActive {
    opacity: 1;

    &::before {
      @include data-theme-selector('light') {
        opacity: 0.08;
      }

      @include data-theme-selector('dark') {
        opacity: 0.10;
      }
    }
  }

  @include data-theme-selector('light') {
    background: var(--color-base-0);
    border-color: var(--grid-line-light);
  }

  @include data-theme-selector('dark') {
    background: var(--color-base-1000);
    border-color: var(--grid-line-dark);
  }

  @include extra-large-break {
    @include body;
    padding: 4rem;
  }

  @include mid-break {
    padding: 1.5rem;
  }
}

.icon {
  margin-bottom: 1rem;

  @include mid-break {
    max-width: 25px;
    margin-bottom: 0.5rem;
  }
}

.richText {
  @include large-body;
  margin-bottom: auto;
}

.leader {
  @include h6;
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.closingQuote {
  user-select: none;
}

.quote {
  @include h3;
  margin-top: 0;
  position: relative;
  margin-bottom: 4.5rem;

  &::before {
    content: '“';
    position: absolute;
    left: -1.2rem;

    @include mid-break {
      left: -.8rem;
    }
  }
}

.author {
  @include h5;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.role {
  opacity: 0.75;
}
