@use '@scss/common' as *;

.quoteCard {
  padding: calc(var(--base) * 2) calc(var(--base) * 2);
  background-color: var(--color-base-950);
  display: flex;
  flex-direction: column;
  height: 100%;

  @include mid-break {
    padding: calc(var(--base));
  }
}

.icon {
  margin-bottom: var(--base);

  @include mid-break {
    max-width: 25px;
    margin-bottom: calc(var(--base) / 2);
  }
}

.richText {
  @include large-body;
  margin-bottom: auto;
}

.date {
  display: block;
  margin-top: calc(var(--base) * 2);
}