@use '@scss/type.scss' as *;

.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
}

.full-width {
  width: 100%;
}

.appearance {
  &--default {
    display: flex;
    border-top: 1px solid var(--theme-elevation-900);
    padding-top: calc(var(--base) * 0.75);
  }

  &--primary {
    border: 1px solid var(--theme-elevation-900);
    padding: calc(var(--base) * 0.75) var(--base);
    background-color: var(--theme-elevation-900);
    color: var(--theme-elevation-0);
  }

  &--secondary {
    border: 1px solid var(--theme-elevation-900);
    padding: calc(var(--base) * 0.75) var(--base);
  }
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  @extend %label;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
}

.icon {
  flex-shrink: 0;
}

.spacer {
  width: calc(var(--base) / 2);
  flex-shrink: 0;
}