@use '@scss/common.scss' as *;

$lineAnimationDuration: 500;
$transCurve: cubic-bezier(0.4, 0, 0.2, 1);
$defaultBackgroundPosition: calc(50% - var(--base)) 0;

.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
}

.full-width {
  width: 100%;
}

.appearance {
  &--default {
    --lineColor: var(--theme-elevation-500);
    display: inline-flex;
    min-width: calc(var(--base) * 12);
    padding-top: calc(var(--base) * 0.75);
    background-image: linear-gradient(90deg, var(--lineColor) 0%, var(--lineColor) 33.33%, transparent 33.33%, transparent calc(33.33% + var(--base)), var(--lineColor) calc(33.33% + var(--base)), var(--lineColor) 100%);
    background-position: $defaultBackgroundPosition;
    background-repeat: no-repeat;
    background-size: calc(300% + var(--base)) 1px;

    &--hovered {
      --lineColor: currentColor;
      background-position: 0% 0;

      @include mid-break {
        background-position: $defaultBackgroundPosition;
        --lineColor: var(--theme-elevation-500);
      }
    }

    &--animating-out,
    &--hovered {
      transition: background-position #{$lineAnimationDuration}ms $transCurve;
      @include mid-break {
        background-position: $defaultBackgroundPosition;
      }
    }
      
    &--animating-out {
      background-position: 50% 0;
      @include mid-break {
        background-position: $defaultBackgroundPosition;
      }
    }
  }

  &--primary {
    border: 1px solid var(--theme-elevation-900);
    padding: calc(var(--base) * 0.75) var(--base);
    color: var(--theme-elevation-0);
    background-color: var(--theme-elevation-900);
    // background-image: linear-gradient(90deg, var(--theme-success-500) 0%, var(--theme-success-900) 50%, var(--theme-elevation-900) 50%, var(--theme-elevation-900) 100%);
    // background-position: 100% 100%;
    // background-repeat: no-repeat;
    // background-size: 200% 100%;

    // &--hovered {
    //   background-position: 0% 100%;
    // }

    // &--animating-out,
    // &--hovered {
    //   transition: background-position 250ms $transCurve;
    // }
      
    // &--animating-out {
    //   background-position: 100% 100%;
    // }
  }

  &--secondary {
    border: 1px solid;
    border-color: var(--theme-elevation-500);
    padding: calc(var(--base) * 0.75) var(--base);

    &--hovered {
      border-color: var(--theme-elevation-900);
      @include mid-break {
        border-color: var(--theme-elevation-500);
      }
    }
  }
}

.gradient {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity #{50}ms $transCurve;
}

.is--hovered {
  &:local()  {
    .icon {
      transform: translate3d(2px, -2px, 0);

      @include mid-break {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
}

.label-mono {
  @include label;
}

.label-centered {
  justify-content: center;
  text-align: center;
}

.icon {
  position: relative;
  transition-duration: 50ms;
  transition-timing-function: $transCurve;
  flex-shrink: 0;
  transform: translate3d(0, 0, 0);
}

.spacer {
  width: calc(var(--base) / 2);
  flex-shrink: 0;
}