@use '@scss/common.scss' as *;

.mobileNav {
  display: none;
  visibility: hidden;
  width: 100%;

  @include mobile-header-break {
    display: block;
    visibility: visible;
  }
}

.logo {
  position: relative;
  top: -2px;
}

.menuBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base) 0;

  & a {
    color: var(--theme-elevation-900);
  }
}

.descriptionLinks {
  display: flex;
  flex-direction: column;
  gap: var(--base);
  padding: calc(var(--base) * 2) 0;
}

.descriptionLink {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--base);
  text-decoration: none;
}

.icons {
  display: flex;
  align-items: center;

  & path, & rect {
    color: var(--theme-elevation-900);
  }
}

.cloudNewProject {
  display: flex;
  align-items: center;

  > * {
    text-decoration: none;
    margin-right: var(--base);
    line-height: 1;
  }

  & > *:last-child {
    margin-right: 0;
  }

  @include small-break {
    display: none;
    visibility: hidden;
  }
}

.mobileAvatar {
  @include mobile-header-break {
    margin-left: var(--base);
  }
}

.searchToggler {
  all: unset;
  cursor: pointer;
  margin-right: calc(var(--base) *  .5);
}

.modalToggler {
  all: unset;
  cursor: pointer;
  margin-left: var(--base);

  & svg {
    & > * {
      transition: all var(--trans-default) ease; 
    }
  }
}

.hamburgerOpen {
 & svg { 
  & > * {
    transition: all var(--trans-default) ease; 
  }

  & rect {
    &:nth-child(1) {
      transform: translateX(5px) rotate(45deg);
      top: 0;
      transform-origin: top left;
    }
  
    &:nth-child(2) {
      opacity: 0;
    }
  
    &:nth-child(3) {
      bottom: 0;
      transform: translateX(5px) rotate(-45deg);
      transform-origin: bottom left;
    }
  }
 }
}

.modalBlur {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-bg);
  opacity: 1;
  z-index: -1;
}

.mobileMenuModal {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: var(--page-padding-top);
  display: none;
  visibility: hidden;
  position: relative;
  background-color: transparent;

  ::-webkit-scrollbar {
    opacity: transparent;
  }

  @include mobile-header-break {
    display: block;
    visibility: visible;
  }
}

.mobileMenuWrap {
  position: relative;
  height: 100%;
  max-height: 100%;
  padding-top: var(--gutter-h);
}

.mobileMenuItems {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.mobileSubMenu {
  z-index: 2;
  background-color: var(--theme-bg);
}

.crosshairTopLeft {
  transform: translate(-50%, -50%);
  top: 0;
}

.crosshairBottomLeft {
  transform: translate(-50%, 50%);
  bottom: 0;
}

.mobileMenuItem {
  @include btnReset;
  font-family: var(--font-body);
  font-size: calc(var(--base)*1.25);
  padding: calc(var(--base)*1.25);
  font-weight: 500;
  letter-spacing: -0.03em;
  margin: 0;
  text-decoration: none;
  color: var(--theme-text);
  width: 100%;
  border-left: 1px solid var(--theme-border-color);
  border-bottom: 1px solid var(--theme-border-color);
  align-items: center;
  display: flex; 
  justify-content: space-between;
  background-color: var(--theme-bg);

  &:first-child {
    border-top: 1px solid var(--theme-border-color);
  }

  &:hover, &:focus {
    text-decoration: none;
  }
  
  @include mobile-header-break {
    margin: 0;
  }
}

.backButton {
  @include btnReset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--base) ;
  cursor: pointer;
  position: relative;
  border-top: 1px solid var(--theme-border-color);
}

.directLink {
  text-decoration: none;
}

.subMenuItems {
  position: relative;
  display: flex;
  flex-direction: column;

  & > * {
    position: relative;
    border: 1px solid var(--theme-border-color);
    border-top: 0;
    padding: calc(var(--base) * 1.25);
    background-color: var(--theme-bg);
    z-index: 1;
  }

  & a:focus {
    text-decoration: none;
  }

  &:first-child {
    border-top: 1px solid var(--theme-border-color);
  }
}

.crosshair {
  z-index: 3;
  opacity: 0.5;
  height: 0;
  position: absolute;
  left: 0;
  pointer-events: none;
  border: none;
  padding: 0;    
}

.linkWrap {
  position: relative;
}

.subMenuItem {
  text-decoration: none;
  border-top: 1px solid var(--theme-border-color);
}

.subMenuWrap {
  position: relative;
  padding: var(--base) 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.newProject {
  @include small-break {
    display: none;
  }
}

.defaultLink, .listLabelWrap {
  @include btnReset;
  display: flex;
  text-decoration: none;
}

.featuredLinkWrap {
  @include btnReset;
  display: flex;
  gap: calc(var(--base) * 2);
  margin-top: calc(var(--base) * 2);
}

.featuredLinks {
  font-size: calc(var(--base) * 1.25);
  text-decoration: none;
  display: flex;
  gap: calc(var(--base) * 0.75);
  align-items: center;

  & svg {
    width: calc(var(--base) * 0.85);
    height: calc(var(--base) * 0.85);
  }
}

.linkArrow {
  margin-left: calc(var(--base) * 0.5);
  width: calc(var(--base) * 0.5);
  height: calc(var(--base) * 0.5);
}

.listLabelWrap {
  flex-direction: column;
  width: 100%;
}

.listLabel {
  @include h5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 calc(var(--base) * .5) 0; 
}

.listWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  width: 47%;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: calc(var(--base) * .5);
}

.itemDescription {
  @include small;
  line-height: 1.5;
}

.tag {
  font-size: 11px;
  margin: 0 0 calc(var(--base) * 1.5) 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2.75px;
}
