@use '@scss/common.scss' as *;

.mobileNav {
  display: none;
  visibility: hidden;

  @include small-break {
    display: block;
    visibility: visible;
  }
}

.logo {
  position: relative;
  top: -2px;
}

.menuBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
}

.searchToggler {
  all: unset;
  cursor: pointer;
  margin-right: calc(var(--base) *  .5);
}

.modalToggler {
  all: unset;
  cursor: pointer;
}

.modalBlur {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-base-900);
  opacity: .85;
  z-index: -1;
}

.mobileMenuModal {
  all: unset;
  width: 100%;
  height: 100%;
  margin-top: var(--header-height);
  backdrop-filter: blur(5px);
  display: none;
  visibility: hidden;

  @include small-break {
    display: block;
    visibility: visible;
  }
}

.mobileMenuItems {
  display: flex;
  flex-direction: column;
  padding: calc(var(--base) *  1.5) 0;
}

.mobileMenuItem {
  @include h1;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  
  @include mid-break {
    margin: 0 0 var(--base) 0;
    color: var(--color-base-0);
  }
}