@use "@scss/common" as *;
@use "../shared.scss";

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    width: calc(100% - 2px);
    position: absolute;
    height:100%;
    left: 1px;
    top:0;
    z-index: -1;
    background-color: var(--theme-input-bg);
  }

  .errorAndLabel {
    position: absolute;
    top: var(--base);
    display: flex;
    align-items: center;
    transform: translateY(25%);
    left: calc(var(--base) * 2);
    transition: all 0.3s ease;
    color: var(--text-dark);
    pointer-events: none;

    @include mid-break {
      left: calc(var(--base) * 1);
    }
  }

  .textareaLabel, .errorLabel {
    margin: 0;
    width: fit-content;
  }

  .textareaLabel {
    transition: all 0.3s ease;
    margin-right: calc(var(--base) * 0.75);
    color: var(--text-dark);
  }

  .textarea {
    @include shared.formInput;
    padding: calc(var(--base) * 1.5) calc(var(--base) * 2);
    resize: vertical;
    max-width: 100%;
    min-height: 160px;
    height: unset;
    transition: all 0.3s ease;

    &.error {
      background-color: var(--theme-failure-500);
    }

    @include mid-break {
      padding: calc(var(--base) * 3) var(--base) calc(var(--base) * 1.5);
    }
  }

  .showError {
    .textarea {
      border-left: 2px solid var(--theme-error-500);
    }
  }
}

.focused {
  .errorAndLabel {
    top: min(15%, calc(var(--base) * 0.75));
    transform: translateY(min(15%, calc(var(--base) * 0.75)));
  }

  .textareaLabel, .errorLabel {
    font-size: 12px;
  }

  .textareaLabel {
    margin-right: calc(var(--base) * 0.5);
  }

  .textarea {
    padding: calc(var(--base) * 2) calc(var(--base) * 2) calc(var(--base) * 1) calc(var(--base) * 2);
    height: calc(var(--intrinsic-height) * 1px);
    max-height: calc(var(--base) * 24);

    &::-webkit-resizer {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include mid-break {
      padding: calc(var(--base) * 3) var(--base) calc(var(--base) * 1);
    }
  }
}
