@use "@scss/common" as *;

.cardGrid {
    position: relative;
    padding-bottom: calc(var(--base) * 6);
}

.hr {
    margin: 0;
    margin-bottom: calc(var(--base) * 4);
    border-color: currentColor;

    @include mid-break {
        margin-bottom: calc(var(--base) * 2);
    }
}

.richTextWrapper {
  grid-area: 1 / 1 / 1 / -1;
  align-items: center;
  justify-content: center;
  display: grid;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + var(--gutter-h) * 2);
  height: 100%;
  margin-left: calc(var(--gutter-h) / -1);
}

.cards {
  position: relative;
}

.card {
    height: 100%;
    position: relative;
}

.emptyCard {
  aspect-ratio: 1/1;
  grid-row: 1/1;
  grid-area: 1/1/1/5;
}
