@use '@scss/common' as *;

.noTeams {
  margin-bottom: 2rem;
  color: var(--theme-error-500);
}

.formState {
  & > * {
    margin: 0;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  @include mid-break {
    & > * {
      margin-bottom: calc(var(--base) / 2);
    }
  }
}

.error {
  color: var(--theme-error-500);
}

.repos ul {
  gap: 0;
  border: 1px solid var(--theme-border-color);
  border-bottom: none;
}

.submit {
  display: none;
}

.pagination {
  margin-top: calc(var(--base) * 3);
}

.orgLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    margin: 0;
  }

  .appPermissions {
    @include small;
    a {
      color: var(--theme-blue-500);
      text-decoration: underline;
    }
  }

  @include small-break {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  margin-bottom: 3rem;
  border-top: 1px solid var(--theme-border-color);

  & > h4 {
    margin-top: 0;
  }
}

.noRepos {
  p {
    margin: 0;
  }

  a {
    color: var(--theme-blue-500);
    text-decoration: underline;
  }
}
