@use '@scss/common' as *;

.topBar {
  height: 3rem;
  padding: 0.75rem var(--gutter-h);
  width: 100%;
  background-color: var(--theme-success-100);
  border-bottom: 1px solid var(--theme-success-150);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  color: var(--theme-success-900);
  transition: opacity 150ms ease-in-out;
  text-decoration: none;

  * {
    line-height: 1.5rem;
    text-align: left;
  }

  @include small-break {
    height: auto;
    @include small;

    & .label {
      display: none;
    }
  }

  .message {
    flex-grow: 1;
  }

  &:hover {
    opacity: 0.75;
  }
}
