@use "@scss/common" as *;

.commandLineButton {
  width: 100%;
  max-width: calc(var(--column) * 4);
  @include code;
  @include small-break {
    max-width: calc(var(--column) * 8);
  }
}

.commandText {
  width: 100%;
}

.icon {
  margin-right: -.25rem;
}