@use "@scss/common" as *;

.invitations {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
}

.success {
  color: var(--theme-success-500)
}

.error {
  color: var(--theme-error-500)
}

.resendEmail {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: underline;
  cursor: pointer;
}