@use '@scss/common' as *;

.domainContent {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.linkedDomain {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.externalLinkIcon {
  height: 22px;
  width: auto;
}

.domainTitleName {
  text-transform: lowercase;
  color: var(--theme-text);
}

.active {
  border-left: 2px solid var(--theme-success-300);
}

.pending {
  border-left: 2px solid var(--theme-error-300);
}

:global([data-theme="light"]) {
  .active {
    border-left: 2px solid var(--theme-success-550);
  }
}

.domainRecordsTitle {
  margin-bottom: calc(var(--base) * 0.5);
}

.domainRecords {
  max-width: 100%;
  overflow: auto;
  background: var(--theme-elevation-150);
  padding: calc(var(--base) * .25);
  padding: calc(var(--base) / 2) calc(var(--base) * 0.25);
  margin-bottom: calc(var(--base) / 4);
}

:global([data-theme="light"]) {
  .domainRecords {
    background: var(--theme-elevation-100);
  }
}

.domainRecordsTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  thead {
    th {
      font-weight: normal;
    }
  }

  th, td {
    padding: 
      calc(var(--base) * .25)
      calc(var(--base) * .75);
    display: table-cell;
    text-align: left;

    p {
      margin: 0;
    }
  }

  tbody {
    td p {
      font-size: 16px;
    }
  }
}

.configureMessage {
  @include body;
  padding: 
    calc(var(--base) * .25)
    calc(var(--base) * .5);
  background-color: var(--theme-warning-100);
  color: var(--theme-warning-550);
  margin: 0;
}

.domainActions {
  display: flex;
  gap: var(--base);
  justify-content: flex-end;
  width: 100%;
  margin-top: var(--base);
  padding-top: var(--base);
  border-top: 1px solid var(--theme-border-color);
}

.modalActions {
  display: flex;
  gap: var(--base);
  justify-content: flex-end;
  width: 100%;
  padding-top: var(--base);
  border-top: 1px solid var(--theme-border-color);
}