@use '@scss/common.scss' as *;

.description {
  a {
    color: var(--theme-blue-500);
    cursor: pointer;
    text-decoration: underline;
  }
}

.error {
  color: var(--theme-error-500);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.subscription {
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--theme-border-color);
    padding-bottom: 2rem;
  }

  @include small-break {
    flex-direction: column;
    gap: 0.5rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.productName {
  @include label;
}

.subscriptionTitleWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  @include small-break {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

.subscriptionTitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.subscriptionDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subscriptionCancel {
  flex-shrink: 0;
}

.subscriptionContent {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.loadMore {
  margin-top: 2rem;
}

.modalActions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid var(--theme-border-color);
}
