@use '@scss/common' as *;
@use "../../../../forms/fields/shared.scss";

.sidebarCell {
    position: relative;
    height: 100%;
}

.sidebar {
    position: sticky;
    top: calc(var(--base) * 5);

    > *:not(:last-child) {
        margin-bottom: calc(var(--base) * 2);
    }

    @include mid-break {
        position: static;
        top: unset;


        > *:not(:last-child) {
            margin-bottom: var(--base);
        }
    }
}


.errors {
    margin-bottom: calc(var(--base) * 2);
    color: var(--theme-error-500);

    & > * {
        margin: 0;

        &:not(:last-child) {
            margin-bottom: calc(var(--base) / 2);
        }
    }
}

.projectInfo {
    margin-bottom: var(--base);
}

.createPrivate {
    margin: calc(var(--base) * 2) 0;
    padding: calc(var(--base) * 2) 0;
    border: 0;
    border-top: 0.5px solid var(--theme-elevation-500);
    border-bottom: 0.5px solid var(--theme-elevation-500);
}

.template {
    @include shared.formInput;
    display: flex;
    align-items: center;
}

.templateIcon {
    width: var(--base);
    height: var(--base);
    position: relative;
    top: -1px;
}

.templateName {
    margin: 0;
    margin-left: calc(var(--base) / 2);
}

.createTeamLink {
    background-color: transparent;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: underline;
}