@use '@scss/common' as *;

.introContent {
  h1 {
    @include h2;
  }
}

.featuredMediaWrap {
  margin-top: calc(var(--base) * 4);
  width: calc(100% + var(--gutter-h));

  img {
    width: 100%;
  }

  @include large-break {
    margin-top: calc(var(--base) * 2);
    margin-left: 0;
    width: calc(100% + var(--gutter-h));
  }
}

.metaWrapper {
  @include mid-break {
    display: flex;
    margin-top: calc(var(--base) * 2);
  }
}

.metaItem {
  border-top: 1px solid var(--grid-line-dark);
  padding: calc(var(--base) * 1.5);

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);
  }

  @include mid-break {
    width: 50%;
    border-bottom: 1px solid var(--grid-line-dark);

    @include data-theme-selector('dark') {
      border-color: var(--grid-line-dark);
    }

    @include data-theme-selector('light') {
      border-color: var(--grid-line-light);
    }
  }

  &:last-of-type {
    border-bottom: 1px solid var(--grid-line-dark);

    @include data-theme-selector('dark') {
      border-color: var(--grid-line-dark);
    }

    @include data-theme-selector('light') {
      border-color: var(--grid-line-light);
    }
  }
}

.metaLabel {
  @include h6;
  text-transform: uppercase;
  margin-top: 0;
}

.metaValue {
  margin: 0;
}
