@use '@scss/common' as *;
@use '../shared.scss';

.wrap {
  position: relative;
}

.input {
  @include shared.formInput;

  &.error {
    background-color: var(--theme-failure-500);
  }
}

:global([data-theme='light']) {
  .input {
    background: var(--theme-elevation-50);
  }
}
