@use '@scss/common' as *;
@use "../../../forms/fields/shared.scss";

.header {
    margin-bottom: calc(var(--base) * 4);

    @include mid-break {
        margin-bottom: calc(var(--base) * 2);
    }
}

.errors {
    margin-bottom: calc(var(--base) * 2);
    color: var(--theme-error-500);

    & > * {
        margin: 0;

        &:not(:last-child) {
            margin-bottom: calc(var(--base) / 2);
        }
    }
}

.submitting {
    margin-bottom: calc(var(--base) * 2);
}

.submit {
    margin-top: calc(var(--base) * 2);
    display: flex;
    align-items: center;
    gap: var(--base);
}

.hr {
    margin: calc(var(--base) * 2) 0;
    border: 0.5px solid var(--theme-elevation-500);
}   

.sidebarCell {
    position: relative;
    height: 100%;
}

.sidebar {
    position: sticky;
    top: calc(var(--base) * 5);
    gap: var(--base);
    display: flex;
    flex-direction: column;

    @include mid-break {
        position: static;
        top: unset;
    }
}

.totalPrice {
    margin: 0;
}

.freeTrial {
    margin-top: var(--base);
}

.freeTrialDisabled {
    color: var(--theme-elevation-500);
}

.trialDescription {
    margin-top: var(--base);
    margin-bottom: 0;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    gap: var(--base);
}

.buildSettings {
    display: flex;
    flex-direction: column;
    gap: var(--base);
}

.envAdd {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

.agreeToTerms {
    a {
        color: var(--theme-blue-500);
        text-decoration: underline;
    }
}