@use '@scss/common' as *;
@use "../../../forms/fields/shared.scss";

.header {
    margin-bottom: calc(var(--base) * 4);

    @include mid-break {
        margin-bottom: calc(var(--base) * 2);
    }
}

.errors {
    margin-bottom: calc(var(--base) * 2);
    color: var(--theme-error-500);

    & > * {
        margin: 0;

        &:not(:last-child) {
            margin-bottom: calc(var(--base) / 2);
        }
    }
}

.submitting {
    margin-bottom: calc(var(--base) * 2);
}

.details {
    > *:not(:last-child) {
        border-bottom: 0.5px solid var(--theme-elevation-500);
        padding-bottom: calc(var(--block-spacing) / 2);
        margin-bottom: calc(var(--block-spacing) / 2);
    }
}

.sidebarCell {
    position: relative;
    height: 100%;
}

.sidebar {
    position: sticky;
    top: calc(var(--base) * 5);
    gap: var(--base);
    display: flex;
    flex-direction: column;

    @include mid-break {
        position: static;
        top: unset;
    }
}

.totalPrice {
    margin: 0;
}

.freeTrial {
    margin-top: var(--base);
}

.freeTrialDisabled {
    color: var(--theme-elevation-500);
}

.trialDescription {
    margin-top: var(--base);
}

.projectDetails {
    > * {
        margin-bottom: var(--base);
    }
}

.buildSettings {
    > * {
        margin-bottom: var(--base);
    }
}

.envAdd {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

.sectionHeader {
    display: flex;
    margin-bottom: var(--base);
}

.sectionTitle {
    flex-grow: 1;
    margin: 0;
}