@use "@scss/common" as *;

.title {
  margin-top: 0;
}

.vars {  
  & > *:not(:last-child) {
    margin-bottom: var(--base);
  }
}

.row {
  width: 100%;
}

.fields {
  display: flex;
  position: relative;
  left: calc(var(--base) * -0.5);
  right: calc(var(--base) * -0.5);
  width: calc(100% + calc(var(--base)));

  & > * {
    margin: 0 calc(var(--base) / 2);
    width: calc(50% - calc(var(--base) / 2));
  }
}

.addNew {
  margin-top: calc(var(--base) / 2);
}