@use '@scss/common.scss' as *;

.card {
    position: relative;
    border: 1px solid var(--theme-elevation-500);
    aspect-ratio: 1/1;
    background-color: var(--color-base-950);

    & path {
        opacity: 0.35;
    }

    &:hover {
        & path {
            opacity: 1;
        }
    }
}

.link {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: calc(var(--base) * 2);
    text-decoration: none;
}


.leader {
    @include label;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title,
.price {
    @include h1;
    position: relative;
    margin: var(--base) 0 0 0;
}

.price {
    &:after {
        @include h5;
        content: '/mo';
        position: absolute;
        margin: 0;
        bottom: 0;
    }
}

.description {
    @include h6;
    margin-bottom: 0;
}

.arrow {
    position: absolute;
    opacity: 1;
    margin: calc(var(--base) * 2);
    top: 0;
    right: 0;
    width: var(--base);
    height: var(--base);
}

@include extra-large-break {
    .description {
        font-size: unset;
        line-height: 1.5;
    }
}

@include large-break {
    .card {
        aspect-ratio: unset;
        min-height: calc(var(--base) * 20);
        height: calc(var(--base) * 20);
    }

    .arrow {
        width: calc(var(--base) * 0.75);
        height: calc(var(--base) * 0.75);
    }
}

@include mid-break {
    .card {
        min-height: unset;
        height: unset;

    }

    .title {
        font-size: calc(var(--base)*2.5);
    }
}