@use '@scss/common.scss' as *;

.card {
  position: relative;
  border-top: 1px solid var(--grid-line-dark);
  border-bottom: 1px solid var(--grid-line-dark);
  padding: calc(var(--base) * 3) calc(var(--base) * 1.5);

  @include mid-break {
    padding: calc(var(--base) * 2) calc(var(--base) * 1);
  }

  & path {
    opacity: 0.35;
  }

  &:hover {
    & path {
      opacity: 1;
    }
  }

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);
  }
}

.leader {
  @include h6;
  text-transform: uppercase;
  color: #51BFF6;
  margin-top: 0;
  margin-bottom: var(--base);
  display: block;
}

.content {

}

.title,
.price {
  @include h2;
  position: relative;
  margin: 0;
  margin-bottom: var(--base);

}

.description {
    @include body;
    margin-bottom: 0;
    opacity: 0.75;
}

.arrow {
    position: absolute;
    opacity: 1;
    margin: calc(var(--base) * 2);
    top: 0;
    right: 0;
    width: var(--base);
    height: var(--base);
}
