@use '@scss/common' as *;

.blockWrapper {
  overflow: hidden;
}

.wrapper {
  min-height: calc(100vh - (var(--wrapper-padding-top) + var(--page-padding-top) * 4));
  @include mid-break {
    row-gap: 2rem;
  }

  align-items: center;
  @include mid-break {
    align-items: flex-start;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  z-index: 10;

  @include mid-break {
    gap: 1rem;
  }
}

.richText {
  & > * {
    margin-block: 2rem;
  }

  h1 {
    width: 150%;

    @include mid-break {
      width: 100%;
    }
  }

  h6 {
    text-transform: uppercase;
  }
}

.linksWrapper {
  width: 100%;
  position: relative;

  & > * {
    border-top: 1px solid var(--theme-border-color);
    &:last-child {
      border-bottom: 1px solid var(--theme-border-color);
    }
  }
}

.description {
  margin-bottom: 2rem;
}

.link {
  width: 100%;

  border-bottom: none;

  &:last-of-type {
    border-bottom: 1px solid var(--theme-elevation-200);
  }
}

.graphicWrapper {
  position: absolute;
  top: 50%;
  left: calc(var(--gutter-h) + var(--column) * 6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: -1;

  @include mid-break {
    top: 70%;
    left: var(--gutter-h);
  }
}

.createPayloadApp {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  @include code;

  @include mid-break {
    padding: 1rem;
  }
}