@use '@scss/common' as *;

.blockWrapper {
  background-color: var(--theme-bg);
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: calc(var(--header-height) * 2);

  @include mid-break {
    padding-top: 4rem !important;
    min-height: 800px;
  }
}

.hasBreadcrumbs {
  padding-bottom: calc(var(--header-height) * 3);
}

.wrapper {
  min-height: calc(100vh - (var(--wrapper-padding-top) + var(--page-padding-top)) * 4);
  align-items: center;
  pointer-events: none;

  @include mid-break {
    row-gap: 2rem;
    align-items: flex-start;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  z-index: 10;

  @include mid-break {
    gap: 1rem;
  }
}

.richText {
  & > * {
    margin-block: 2rem;
  }

  h1 {
    width: 150%;

    @include mid-break {
      width: 100%;
    }
  }

  h6 {
    text-transform: uppercase;
  }
}

.linksWrapper {
  width: 100%;
  position: relative;
  pointer-events: all;

  & > * {
    border-top: 1px solid var(--theme-border-color);
    &:last-child {
      border-bottom: 1px solid var(--theme-border-color);
    }
  }
}

.description {
  margin-bottom: 2rem;
}

.link {
  width: 100%;

  border-bottom: none;

  &:last-of-type {
    border-bottom: 1px solid var(--theme-elevation-200);
  }
}

.graphicWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  z-index: 2;

  @include mid-break {
    padding-top: 2rem;
    width: calc(var(--column) * 8);
    position: relative;
    left: var(--gutter-h);
  }
}

.createPayloadApp {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  @include code;

  @include mid-break {
    padding: 1rem;
  }
}

.backgroundGradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
}