@use '@scss/common.scss' as *;

.deploymentLogs {
  margin-top: 4rem;
  isolation: isolate;

  .logTabs {
    position: sticky;
    top: calc(var(--header-height));
    z-index: 1;

    > div {
      &:before {
        content: '';
        position: absolute;
        background: var(--theme-bg);
        opacity: 0.85;
        width: 100%;
        height: 100%;
        left: 0;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        backdrop-filter: blur(5px);
        z-index: -1;
      }
    }
  }
}

.tabLabel {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  @include body;
}

.inactiveIndicator {
  opacity: 0.25;
}
