@use "@scss/common" as *;

.uniqueDomain {
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--theme-error-500)
}

.success {
  color: var(--theme-success-500)
}

.description {
  @include small;
  margin-top: calc(var(--base) / 2);
}

.check {
  path {
    stroke: var(--theme-success-500);
  }
}

.input {
  input {
    // this is ana arbitrary value to make up for the space of the icon plus the `.payloadcms.app` suffix
    padding-right: 8.25rem;
  }

  @include small-break {
    input {
      padding-right: 9rem;
    }
  }
}