@use '@scss/common' as *;

.container {
  position: relative;
}

.label {
  margin-bottom: calc(var(--base) * 1);
  display: block;

   & label {
      margin-top: 0;
      margin-bottom: 0;
   }
}

.richText {
  margin-bottom: calc(var(--base) * 2);

  @include small-break {
    margin-bottom: var(--base);
  }
}

.links {
  display: flex;
  flex-direction: column;

  :not(:last-of-type) {
    border-bottom: none;
  }
}
