@use '@scss/common' as *;

.wrap {
  position: relative;
  margin-top: var(--page-padding-top);
  border-top: 1px solid var(--theme-border-color);
}

.openPostWrap {
  margin: 0 calc(var(--base) * -4);
}

.post {
  height: 100%;
  padding: var(--base) 0;
  margin: var(--base) calc(var(--base) * 4) calc(var(--base) * 2) calc(var(--base) * 4);
}

.ctaWrap {
  margin-top: calc(var(--base) * 5);
  border-top: 1px solid var(--theme-border-color);
}

.bg {
  & > div {
    &:nth-child(2), &:nth-child(3) {
      display: none;
    }
  }
}


@include mid-break {
  .post {
    margin: var(--base);
  }

  .wrap {
    padding-bottom: calc(var(--base) * 1.5);
  }

  .openPostWrap {
    margin: 0 calc(var(--base) * -1);
  }
}