@use '@scss/common' as *;

.codeFeature {
  position: relative;
}

.grid {
  align-items: center;
}

.labelWrap {
  padding: var(--base) var(--base) 0;
}

.label {
  padding-bottom: var(--base);
  border-bottom: 1px solid var(--color-base-700);
  color: white;
  margin: 0;
}

.heading {
  margin-top: 0;
}

.richText {
  margin-bottom: calc(var(--base) * 1.5);
}

.code {
  position: relative;

  &:before {
    content: ' ';
    background: var(--color-base-950);
    display: block;
    position: absolute;
    z-index: -1;
    top: calc(var(--base) * -1);
    right: calc(var(--gutter-h) * -1);
    bottom: calc(var(--base) * -1);
    left: calc(var(--base) * -1);
  }

  @include mid-break {
    margin: calc(var(--block-spacing) + var(--base)) 0 var(--block-spacing);

    &:before {
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
}

.pixelGrid {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;

  &.desktop {
    padding: 0 var(--gutter-h);
    opacity: 1;
    @include mid-break {
      opacity: 0;
    }
  }

  &.mobile {
    opacity: 0;
    @include mid-break {
      opacity: 1;
    }
  }
}

.pixelCell {
  position: relative;
  height: 100%;
  z-index: -2;
}

.pixels {
  top: calc(var(--block-spacing) * -1) !important;
  height:calc(100% + (var(--block-spacing) * 2));
  width: calc(100% + var(--gutter-h));
}