@use "@scss/common" as *;

.wrapper {
    position: relative;
}

.introWrapper {
  padding-bottom: calc(var(--base) * 8);

  @include large-break {
    padding-bottom: calc(var(--base) * 6);
  }

  @include mid-break {
    padding-bottom: calc(var(--base) * 3);
  }
}

.richTextWrapper {
  grid-area: 1 / 1 / 1 / -1;
  align-items: flex-start;
  justify-content: center;
  display: grid;
}

.richText {
  @include mid-break {
    padding-bottom: calc(var(--base) * 2);
  }

  @include small-break {
    h2 {
      font-size: calc(var(--base) * 1.4);
    }
  }
}

.cards {
  position: relative;
}

.bg {
  height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
    height: 100%;
    position: relative;
}

.cardsWrapper {
  position: relative;
  border-top: 1px solid var(--theme-elevation-200);

  & .backgroundGrid {
    z-index: 5;
  }
}

.leader {
  @include h6;
}

.cardTitle {
  @include h4;
}

.noiseWrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);

  &::before {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url('/images/noise.png') repeat;
  }
}
