@use "@scss/common" as *;

$curve: cubic-bezier(.165, .84, .44, 1);

.wrapper {
    position: relative;
}

.introWrapper {
  padding-bottom: calc(var(--base) * 8);

  @include large-break {
    padding-bottom: calc(var(--base) * 6);
  }

  @include mid-break {
    padding-bottom: calc(var(--base) * 3);
  }
}

.richTextWrapper {
  grid-area: 1 / 1 / 1 / -1;
  align-items: flex-start;
  justify-content: center;
  display: grid;
}

.richText {
  @include mid-break {
    padding-bottom: calc(var(--base) * 2);
  }

  @include small-break {
    h2 {
      font-size: calc(var(--base) * 1.4);
    }
  }
}

.cards {
  position: relative;
}


.card {
  aspect-ratio: 1/1;
  text-decoration: none;
  position: relative;
  padding-top: calc(var(--base) * 2);
  padding-bottom: calc(var(--base) * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: calc(var(--base) * 1.5);

  @include large-break {
    padding-top: calc(var(--base) * 3);
    padding-bottom: calc(var(--base) * 3);
  }

  @include mid-break {
    border-bottom: 1px solid var(--grid-line-dark);
    padding-top: calc(var(--base) * 4);
    padding-bottom: calc(var(--base) * 4);
  }

  @include small-break {
    height: 100%;
    aspect-ratio: unset;
  }

  &::before {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 0%;
    background: linear-gradient(270deg, #007FAE 0%, #578A9C 50.94%, #DFC198 101.87%);
    transition: width 350ms $curve;
  }

  &:hover {
    &::before {
      width: 100%;
    }

    .cardTitle {
      background: linear-gradient(270deg, #007FAE 0%, #578A9C 50.94%, #DFC198 101.87%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.cardCrosshair {
  position: absolute;
  top: calc(var(--base) * -0.5 - 1px);
  left: calc(var(--base) * -0.5);
  width: calc(var(--base) * 1);
  height: auto;
  opacity: 0.5;
}

.cardWrapper {
  position: relative;
  transition: opacity 350ms $curve;
}

.cardsWrapper {
  position: relative;
  border-top: 1px solid var(--grid-line-dark);
  border-bottom: 1px solid var(--grid-line-dark);

  &:hover {
    .cardWrapper:not(:has(:hover)) {
      opacity: 0.5;
    }
  }

  & .backgroundGrid {
    z-index: 5;
  }
}

.leader {
  @include h6;
}

.cardTitle {
  @include h4;
  position: relative;
  transition: all 350ms $curve;
}

.description {
  text-decoration: none;
  margin-bottom: 0;
  max-width: 75%;

  @include mid-break {
    max-width: 100%;
  }
}

.noiseWrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  &::before {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url('/images/noise.png') repeat;
  }
}


.bg {
  height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  grid-column: 1/1;
  position: relative;
  grid-row: 1/1;
  z-index: -1;
  transition: all 1850ms $curve;

  &.activeBg {
    opacity: 1;
  }
}
