@use '@scss/common' as *;

.pageLabel {
  margin-bottom: calc(var(--base) * 1);
  display: block;
}

.richText {
  @include mid-break {
    h1 {
      @include h2;
    }
  }

  @include small-break {
    margin-bottom: var(--base);

    h1 {
      @include h1;
    }
  }
}