@use "@scss/common" as *;

.cmsForm {
  position: relative;
}

.leader {
  @include label;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.fieldWrap {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--base) / -2);
  margin-right: calc(var(--base) / -2);
  width: calc(100% + var(--base));

  &:not(:last-child) {
    margin-bottom: calc(var(--base) * 3);
  }

  > * {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: calc(var(--base) * 2);
    }
  }

  @include mid-break {
    &:not(:last-child) {
      margin-bottom: calc(var(--base) * 2);
    }
    
    > * {
      &:not(:last-child) {
        margin-bottom: var(--base);
      }
    }
  }

  @include small-break {
    &:not(:last-child) {
      margin-bottom: var(--base);
    }
    
    > * {
      &:not(:last-child) {
        margin-bottom: calc(var(--base) / 2);
      }
    }
  }
}
