@use '@scss/common' as *;

.footerWrap {
  padding: 0 var(--gutter-h);
  height: var(--header-height);
  @include small;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--theme-border-color);
}

.footerLinks {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1.5rem;

  p {
    color: var(--theme-elevation-500);
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--theme-elevation-750);

    &:hover {
      color: var(--theme-elevation-500);
    }
  }

  @include small-break {
    gap: 1rem;
    padding: 1rem 0;
    font-size: 0.75rem;
  }
}

.selectContainer {
  --theme-icon-width: calc(var(--base) * 2);
  --theme-switcher-icon-width: calc(var(--base) * 2);
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: var(--base);
  color: var(--theme-elevation-500);
  cursor: pointer;

  select {
    @include body;
    & {
      all: unset;
      position: relative;
      padding-right: 1.25rem;
    }
  }
  &::before {
    content: '';
    top: 0;
    left: 1px;
    z-index: 0;
    height: 100%;
    width: calc(100% - 2px);
    background: var(--color-theme-1000);
  }

  @include mid-break {
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}

.switcherIcon {
  display: inline-flex;
  height: var(--base);
  justify-content: center;
}

.themeIcon {
  width: var(--theme-icon-width);
}

svg.upDownChevronIcon {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0;
  pointer-events: none;
}
