@use '@scss/common' as *;

:global([data-theme='light']) {
  .configureDomain {
    background: var(--theme-elevation-100);
  }

  .pendingDomainAlert {
    color: var(--theme-error-550);
    background: var(--theme-error-100);
  }
}

.pending {
  border-left: 1px solid var(--theme-error-500);
}

.linkedDomain {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.externalLinkIcon {
  height: 22px;
  width: auto;
}

.domainInput {
  margin-bottom: 1rem;
}

.domainTitleName {
  color: var(--theme-text);
}

.tableContainer {
  position: relative;
  overflow: scroll;
}

.record {
  min-width: 100%;
  overflow: scroll;
  background: var(--theme-elevation-100);
  padding: 1rem;

  th,
  td {
    padding-right: 0.5rem;
    vertical-align: top;
    min-width: 100px;
  }

  th {
    @include small;
    & {
      font-weight: normal;
      color: var(--theme-elevation-600);
      text-align: left;
      padding: 0.25rem 0.5rem;
    }
  }

  td {
    font-size: 18px;
    padding: 0 0.5rem;
    white-space: nowrap;
    color: var(--theme-text);

    & span {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-right: 2rem;
    }
  }
}

.domainActions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--theme-border-color);

  .leftActions {
    margin-right: auto;
  }

  .rightActions {
    display: flex;
    gap: inherit;
  }
}

.modalActions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid var(--theme-border-color);
}
