.wrapper {
  position: relative;
}
.select {
  appearance: none;
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid var(--theme-border-color);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--theme-elevation-800);
  background-color: transparent;
  position: relative;

  &:hover {
    color: var(--theme-elevation-1000);
  }

}

.icon {
  height: 1rem;
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}