@use "@scss/common" as *;

.wrap {
  overflow: hidden;
  margin: 0 auto;

  :global {
    table {
      margin-bottom: var(--base);
      overflow: auto;
      max-width: 100%;
      width: 100%;
      border-spacing: 0px;
      border-collapse: collapse;

      thead {
        color: var(--theme-elevation-500);

        th {
          font-weight: normal;
          text-align: left;
        }
      }

      th, td {
        padding: calc(var(--base) * .75);
        min-width: 150px;
        vertical-align: top;
        max-width: 1000px;
        margin: auto;
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background: var(--theme-elevation-50);
            position: relative;

            &:after {
              content: '';
              position: absolute;
              z-index: -1;
              top: 0;
              left: calc(var(--gutter-h) * -1);
              right: calc(var(--gutter-h) * -1);
              height: 100%;
              background: var(--theme-elevation-50);
            }
          }
        }
      }

      @include mid-break {
        th, td {
          padding: calc(var(--base) * .5);
        }
      }
    }
  }

  @include mid-break {
    margin: 0 calc(var(--base)*-2)!important;
    padding: 0!important;
  }


@include small-break {
  margin: 0 calc(var(--base)*-1)!important;
  padding: 0 var(--base)!important;
}
}
