@use '@scss/common' as *;

.accordionFormContent {
  display: flex;
  flex-direction: column;
  gap: var(--base);

  textarea {
    max-height: 150px;
  }
}

.actionFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: var(--base);
  margin-top: var(--base);
  padding-top: var(--base);
  border-top: 1px solid var(--theme-border-color);
}

.modalActions {
  display: flex;
  gap: var(--base);
  justify-content: flex-end;
  width: 100%;
  padding-top: var(--base);
  border-top: 1px solid var(--theme-border-color);
}

.envs {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}