@use '@scss/common' as *;

.tabsContainer {
  position: relative;
  width: 100%;
  margin-bottom: calc(var(--base) * 3);

  &:after {
    // thin full width line
    content: '';
    position: absolute;
    width: calc(100% + var(--gutter-h));
    left: calc(-1 * var(--gutter-h));
    height: 1px;
    bottom: 3px;
    background-color: var(--theme-elevation-200)
  }

  @include mid-break {
    margin-bottom: calc(var(--base) * 1.5);
  }
}

.tabs .tab {
  text-decoration: none;
  white-space: nowrap;
  margin: 0;
  margin-right: calc(var(--base) * 1.5);
  padding-bottom: calc(var(--base) * 1.5);
  position: relative;
  color: var(--theme-elevation-300);

  &.lastTab {
    margin-right: 0;
  }

  &:after {
    // text underline
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: currentColor;
    opacity: 0;
    z-index: 1;
  }

  &:hover::after,
  &.active::after,
  &:focus-within::after {
    // text underline
    opacity: 1;
  }

  &.active {
    color: var(--theme-text);
  }

}

.tabsContainer {
  @include mid-break {    
    .tab {
      padding-bottom: calc(var(--base));
    }
  }
}