@use '@scss/common.scss' as *;

$curve: cubic-bezier(0.165, 0.84, 0.44, 1);

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.51);
  backdrop-filter: blur(22px);
  padding: 5rem;
  overscroll-behavior: contain;
  overflow: auto;

  @include mid-break {
    padding: 2rem;
  }

  &::before {
    content: '';
    position: absolute;
    background: var(--color-base-0);
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
  }
}

.label {
  @include h6;
  & {
    text-transform: uppercase;
    margin-bottom: 1.75rem;
  }

  @include data-theme-selector('dark') {
    color: var(--color-base-0);
  }

  @include data-theme-selector('light') {
    color: var(--color-base-0);
  }
}

.richText {
  @include data-theme-selector('dark') {
    color: var(--color-base-0);
  }

  @include data-theme-selector('light') {
    color: var(--color-base-0);
  }
}

.close {
  @include btnReset;

  & {
    color: var(--color-base-400);
    position: absolute;
    right: 3rem;
    top: 3rem;
    padding: 1.25rem;
    border: 1px solid var(--color-base-400);
    border-radius: 100%;
    aspect-ratio: 1/1;
    display: flex;
    transition: 350ms $curve;
  }

  @include mid-break {
    right: 2rem;
    top: 2rem;
    padding: 0.5rem;

    svg {
      height: auto;
      width: 0.75rem;
    }
  }

  svg {
    height: auto;
    width: 1.25rem;
  }

  &:hover {
    cursor: pointer;
    color: var(--color-base-200);
    border-color: var(--color-base-200);
  }
}
