@use "@scss/common" as *;

.filterBar {
  @include formInput;
  display: flex;
  align-items: center;
  position: relative;
  height: calc(var(--base) * 3);

  @include mid-break {
    left: 0;
    width: 100%;
    right: 0;
    margin-bottom: 0;
  }
}

.searchInput {
  font-family: var(--font-body);
  font-size: calc(var(--font-body-size) * 0.925);
  letter-spacing: 1px;
  flex-grow: 1;
  height: calc(var(--base) * 2);
  margin-right: calc(var(--base) * 0.5);
  text-transform: none;

  &::placeholder {
    color: black;
  }

  &:focus {
    outline: none;
  }
}

.searchIcon {
  display: flex;
  align-items: center;
  width: var(--base);
  height: var(--base);
}

:global([data-theme="light"]) {
  .searchIcon {
    & path {
      stroke: var(--color-base-300);
    }
  }
}
