@use '@scss/common.scss' as *;

.error {
  color: var(--theme-error-500);
}

.success {
    color: var(--theme-success-500);
}

.stripeLink {
  color: var(--theme-blue-500);
  cursor: pointer;
  text-decoration: underline;
}

.fields {
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
}