@use "@scss/common" as *;

.examples {
  width: 100%;
  position: relative;

  .codeExample {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: min-content;
    @include shadow-lg;
    aspect-ratio: 16/9;
  }

  .codeWrap {
    height: 100%;
    width: 100%;
    display: block;

    & > div {
      height: 100%;
      width: 100%;
    }
  }

  .mediaExample {
    display: block;
    width: 100%;
    background-color: var(--theme-bg);
    @include shadow-lg;
  }
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + var(--gutter-h));
    height: 100%;
    margin-left: calc(var(--gutter-h) / -2);
    margin-top: calc(var(--gutter-h) / 2);
    z-index: -1;

    @include mid-break {
        margin-left: calc(var(--gutter-h) * -1);
        margin-top: calc(var(--gutter-h) * 2);
        width: calc(100% + (var(--gutter-h) * 2));
    }
}