.tabContainer {
  position: relative;
  margin-bottom: calc(var(--base) * 4);

  &:after {
    // thin full width line
    content: '';
    position: absolute;
    width: calc(100% + var(--gutter-h));
    left: calc(-1 * var(--gutter-h));
    height: 1px;
    bottom: 3px;
    background-color: var(--theme-elevation-200)
  }


  .tabs {
    width: calc(100% + var(--gutter-h) * 2);
    margin-left: calc(var(--gutter-h) * -1);
    overflow: auto;
    position: relative;
    display: inline-flex;

    .tab {
      white-space: nowrap;
      margin: 0;
      margin-right: calc(var(--base) * 1.5);
      padding-bottom: calc(var(--base) * 2);
      position: relative;
      color: var(--theme-elevation-300);

      &:first-child {
        margin-left: var(--gutter-h);
      }

      &:after {
        // text underline
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 4px;
        background-color: currentColor;
        opacity: 0;
        z-index: 1;
      }

      &:hover::after,
      &.active::after,
      &:focus-within::after {
        // text underline
        opacity: 1;
      }

      &.active {
        color: var(--theme-text);
      }

      a,
      a:hover,
      a:visited {
        text-decoration: none;
        color: currentColor;
      }
    }
  }
}