@use "../shared.scss";

.wrap {
  position: relative;
}

.labelBar {
  display: flex;
  align-items: center;
}

.actionsSlot {
  display: flex;
  margin-left: auto;
  gap: calc(var(--base) * .5);

  svg {
    height: 24px;
    width: auto;
  }
}

.isHidden {
  .input {
    pointer-events: none;
  }
}

.input {
  @include shared.formInput;
  pointer-events: all;

  &.error {
    background-color: var(--theme-failure-500);
  }
}