.tabContainer {
  position: relative;
  margin-bottom: calc(var(--base) * 4);

  &:after {
    // thin full width line
    content: '';
    position: absolute;
    width: calc(100% + var(--gutter-h));
    left: calc(-1 * var(--gutter-h));
    height: 1px;
    bottom: 3px;
    background-color: var(--theme-elevation-200)
  }
}