@use '../../../../css/common.scss' as *;

.nav {
  display: flex;
  padding: base() 0;
  display: block;
  visibility: visible;
  
  @include mid-break {
    display: none;
    visibility: hidden;
  }
}

.container {
  position: relative;
}

.logo {
  width: calc(var(--inner-gutter-h) - 10px);
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: flex-end;
  transform: translateX(-100%);
  top: 0;

  svg {
    height: auto;
  }
}

.grid {
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}


.icons {
  width: calc(var(--inner-gutter-h) - 10px);
  position: absolute;
  right: -10px;
  display: flex;
  justify-content: flex-start;
  transform: translateX(100%);
  top: 0;
}