.indicator {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  position: relative;
  flex-shrink: 0;
  background-color: var(--theme-elevation-500);
}

.status--SUCCESS,
.status--RUNNING {
  background-color: var(--theme-success-500);
}

.status--ERROR {
  background-color: var(--theme-error-500);
}

.status--UNKNOWN,
.status--PENDING {
  background-color: var(--theme-elevation-500);
}
