@use '@scss/common' as *;

.formContent {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.actionFooter {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--theme-border-color);
}
