@use '@scss/common' as *;

.cards {
  position: relative;
}

.mainGutter {
  position: relative;

}

.card {
  position: relative;
  padding-top:  calc(var(--base) * 4);

  &.isFirst {
    grid-column: 1/16;
    grid-row: 1/1;
  }

  & .media {
    margin-right: calc(var(--gutter-h) / -1);
  }

  &:last-of-type {
    padding-bottom: calc(var(--base) * 4);
  }
}

.stickyBlock {
  position: sticky;
  top: calc(var(--base) * 8);
  z-index: 6;
  grid-column: 1/16;
  grid-row: 1/1;
  pointer-events: none;
  align-items: center;
}

.stickyBlockItem {
  grid-column: 1/8;
  grid-row: 1/1;
  opacity: 0;
  transition: all 0.35s;
  visibility: hidden;

  &.isVisible {
    pointer-events: all;
    opacity: 1;
    transition: all 0.35s;
    visibility: visible;
  }
}

.quote {
  font-size: calc(var(--base) * 2);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(var(--base) * 2);
}

.mainTrack {
  scroll-snap-type: y mandatory;
  position: relative;
  scroll-snap-align: center;
  display: grid;
  overflow: visible;
  row-gap: calc(var(--base) * 12);

  padding-top:  calc(var(--base) * 6);
  padding-bottom:  calc(var(--base) * 5);

  margin-bottom: -700px;
}

.media {
  position: relative;

  & img {
    object-fit: cover;
    position: relative;
  }
}

.authorWrapper {
  display: flex;
  align-items: center;
  gap: calc(var(--base) * 2);
  margin-bottom: calc(var(--base) * 2);
}

.author {
  opacity: 0.8;
}

.navWrapper{
  position: sticky;
  height: 800px;
  bottom: 0;
  z-index: 7;
  display: flex;
  align-items: flex-end;
  margin-left: calc(var(--gutter-h) / -1);
  margin-right: calc(var(--gutter-h) / -1);
  pointer-events: none;
}

.nav {
  position: relative;
  border-top: 1px solid var(--theme-elevation-200);
  background-color: var(--theme-bg);
  width: 100%;
  pointer-events: all;

}

.navGrid {
  position: relative;

  @include mid-break {
    scroll-behavior: smooth;
    overflow-x: scroll;
    grid-template-columns: repeat(4, calc(100vw - var(--gutter-h) * 2 - var(--scrollbar-width)));
  }
}

.progressIndicator {
  grid-column: 1 / -1;
  position: relative;


  &::before {
    content: '';
    height: 1px;
    background: var(--theme-elevation-1000);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    transition: width 0.05s linear;
    width: calc(var(--progress-width));
  }
}
.navBackgroundGrid {
  z-index: 5;
}

.navItem {
  @include mid-break {
    width: 100%;

    &:nth-of-type(2) {
      grid-column: 1/2;
    }

    &:nth-of-type(3) {
      grid-column: 2/3;
    }

    &:nth-of-type(4) {
      grid-column: 3/4;
    }

    &:nth-of-type(5) {
      grid-column: 4/5;
    }
  }
}

.navButton {
  border-top: none;
  width: 100%;

  &:hover {
  & .navButtonLabel {
    opacity: 1;
  }
  }

  & .navButtonLabel {
    opacity: 0.5;
  }


  &.isActive {
    & .navButtonLabel {
    opacity: 1;
  }
  }
}
