@use '@scss/common' as *;

.cards {
  position: relative;
}

.mainGutter {
  position: relative;

}

.card {
  position: relative;
  padding-top:  calc(var(--base) * 12);
  padding-bottom:  calc(var(--base) * 8);
}

.stickyBlock {
  position: sticky;
  top: calc(30%);
  z-index: 30;
  pointer-events: none;
}

.stickyBlockItem {
  grid-column: 1/8;
  grid-row: 1/1;
  opacity: 0;
  transition: all 0.35s;
  visibility: hidden;

  &.isVisible {
    pointer-events: all;
    opacity: 1;
    transition: all 0.35s;
    visibility: visible;
  }
}

.quote {
  font-size: calc(var(--base) * 2);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(var(--base) * 2);
}

.mainTrack {
  margin-top: calc(-330px - var(--base) * 12);
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  overflow: visible;

  & .media {
    margin-right: calc(var(--gutter-h) / -1);
  }
}

.media {
  position: relative;

  & img {
    object-fit: cover;
    position: relative;
  }
}

.authorWrapper {
  display: flex;
  align-items: center;
  gap: calc(var(--base) * 2);
margin-bottom: calc(var(--base) * 2);
}

.author {
  opacity: 0.8;
}

.nav {
  position: sticky;
  bottom: 0;
  border-top: 1px solid var(--theme-elevation-200);
  background-color: var(--theme-bg);
  margin-left: calc(var(--gutter-h) / -1);
  margin-right: calc(var(--gutter-h) / -1);
}

.navBackgroundGrid {
  z-index: 5;
}

.navButton {
  border-top: none;
  width: 100%;
}
