@use '@scss/common' as *;

.menuContent {
  @include small;
  & {
    position: absolute;
    top: calc(100% + 1rem);
    left: 50%;
    z-index: 2;
    transform: translate3d(-50%, -20%, 0);
    padding: 0.75rem;
    color: var(--theme-text);
    white-space: nowrap;
    background-color: var(--theme-elevation-150);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
