@use '@scss/common' as *;

.menuContent {
  @include small;
  position: absolute;
  top: calc(100% + calc(var(--base)));
  left: 50%;
  z-index: 2;
  transform: translate3d(-50%, -20%, 0);
  padding: calc(var(--base) * .75);
  color: var(--theme-text);
  white-space: nowrap;
  background-color: var(--theme-elevation-150);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
}