@use '@scss/common' as *;

.header {
  margin-bottom: 2rem;
}

.ghLink {
  width: 100%;
  display: flex;
  align-items: center;
  border: 0;
  border-top: 0.5px solid var(--theme-elevation-250);
  border-bottom: 0.5px solid var(--theme-elevation-250);
  padding: 2rem 0;
  background: transparent;
  outline: none;
  text-align: left;
  cursor: pointer;
}

.ghTitle {
  flex-grow: 1;
}

.ghIcon {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.footer {
  margin-top: 2rem;

  a {
    color: var(--theme-blue-500);
    text-decoration: underline;
  }
}
