@use '@scss/common' as *;

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
      color: var(--theme-elevation-750);
    }

    &:focus {
      opacity: unset;
    }

    &:not(:last-child) {

      &:after {
        content: '/';
        margin: 0 10px;
        color: var(--theme-elevation-250);
        pointer-events: none;
      }
    }
  }

  @include small-break {
    a {
      display: inline;
      height: 1rem;
    }

    position: fixed;
    top: var(--header-height);
    left: 0;
    height: auto;
    padding: 1rem var(--gutter-h);
    background: var(--theme-bg);
    border-bottom: 1px solid var(--theme-border-color);
    overflow-x: auto;
  }
}

a.logo {
  display: flex;
  padding: 1rem 0;

  @include small-break {
    display: none;
  }
}

.breadcrumbs {
  width: 100%;
  display: flex;
  line-height: 1rem;
}