.dbActions {
  display: flex;
  gap: var(--base);
}

.backupHeader {
  padding-top: calc(var(--base) * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backupCount {
  margin: 0;
}

.backupsList {
  .backup {
    &:nth-child(even) {
      [data-component="top-container"] {
        background-color: transparent
      }
    }

    + .backup [data-component="top-container"] {
      border-top: none;
    }
  }
}

.backupActions {
  display: flex;
  justify-content: space-between;
}

.actionsContainer {
  display: flex;
  gap: var(--base);
}