@use '../../../css/queries.scss' as *;

.wrapper {
  align-items: center;

  @include mid-break {
    row-gap: 2rem;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.richText {
  margin-bottom: 9rem;

  @include large-break {
    margin-bottom: 6rem;
  }

  @include mid-break {
    margin-bottom: 3rem;
  }
}

.mediaWrapper {
  position: relative;
}

.media {
  width: calc(100% + calc(var(--gutter-h) * 0.5));

  @include mid-break {
    width: calc(100% - 2px);
    margin: 0 1px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.linksWrapper {
  position: relative;
  align-self: flex-end;
}

.description {
  margin-bottom: 2rem;
}

.link {
  width: 100%;

  border-bottom: none;

  &:last-of-type {
    border-bottom: 1px solid var(--theme-elevation-200);
  }
}
