@use '@scss/common.scss' as *;

.wrapper {
  position: relative;
}

.container {
  position: relative;
  padding-top: calc(var(--base) * 10);
  padding-bottom: calc(var(--base) * 10);

  @include large-break {
    padding-top: calc(var(--base) * 8);
    padding-bottom: calc(var(--base) * 8);
  }

  @include mid-break {
    row-gap: calc(var(--base) * 3);

    padding-top: calc(var(--base) * 3);
    padding-bottom: calc(var(--base) * 3);
  }
}

.linksContainer {
  position: relative;

  :global(.crosshair) {
    display: block;

    @include mid-break {
      display: none;
    }
  }
}

.scanline {
  top: -25%;
  height: 150%;
  margin-right: calc(var(--gutter-h) * -1);
  width: calc(100% + var(--gutter-h));
  z-index: -1;

  @include mid-break {
    top: 0;
    height: 100%;
    width: calc(100% + var(--gutter-h) * 2);
    margin-left: calc(var(--gutter-h) * -1);
    margin-right: calc(var(--gutter-h) * -2);
    border-top: 1px solid var(--theme-elevation-200);
    border-bottom: 1px solid var(--theme-elevation-200);
  }
}

.contentWrapper {
  display: flex;
  align-items: center;
}

.links {
    position: relative;
    display: flex;
    flex-direction: column;

    a {
      width: calc(100% - 1px);
    }

    > *:first-of-type {
      border-top: 1px solid var(--theme-elevation-200);
      border-bottom: 1px solid var(--theme-elevation-200);
    }

    > * {
      border-bottom: 1px solid var(--theme-elevation-200);
    }
}


.buttonIcon {
    margin-left: var(--base);
    flex-shrink: 0;
    top: 4px;
    position: relative;
}

.crosshairTopLeft {
  position: absolute;
  width: calc(var(--base) * 1);
  height: auto;
  z-index: 5;
  color: var(--theme-elevation-1000);
  opacity: 0.5;
  top: calc(var(--base) * -0.5);
  left: calc(var(--base) * -0.5);
  display: none;

  @include mid-break {
    display: block;
  }
}

.crosshairBottomRight {
  position: absolute;
  width: calc(var(--base) * 1);
  height: auto;
  z-index: 5;
  color: var(--theme-elevation-1000);
  opacity: 0.5;
  bottom: calc(var(--base) * -0.5);
  right: calc(var(--base) * -0.5);
  display: none;

  @include mid-break {
    display: block;
  }
}
