@use '@scss/common.scss' as *;

.wrapper {
  position: relative;
}

.container {
  position: relative;

  @include mid-break {
    row-gap: calc(var(--base) * 3);
  }
}

.linksContainer {
  position: relative;

  :global(.crosshair) {
    display: block;

    @include mid-break {
      display: none;
    }
  }
}

.contentWrapper {
  display: flex;
  align-items: center;
}

.links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.buttonIcon {
    margin-left: var(--base);
    flex-shrink: 0;
    top: 4px;
    position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--base);

  * {
    margin: 0;
  }
}

.scanline {
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% + var(--base) * 10);
  margin-right: calc(var(--gutter-h) * -1);
  width: calc(100% + var(--gutter-h));
  z-index: 0;

  @include mid-break {
    top: 0;
    transform: unset;
    height: 100%;
    width: calc(100% + var(--gutter-h) * 2);
    margin-left: calc(var(--gutter-h) * -1);
    margin-right: calc(var(--gutter-h) * -2);
    border-top: 1px solid var(--grid-line-light);
    border-bottom: 1px solid var(--grid-line-light);
  }
}

.crosshairTopLeft {
  position: absolute;
  width: calc(var(--base) * 1);
  height: auto;
  z-index: 5;
  color: var(--theme-elevation-1000);
  opacity: 0.5;
  top: calc(var(--base) * -0.5);
  left: calc(var(--base) * -0.5);
  display: none;

  @include mid-break {
    display: block;
  }
}

.crosshairBottomRight {
  position: absolute;
  width: calc(var(--base) * 1);
  height: auto;
  z-index: 5;
  color: var(--theme-elevation-1000);
  opacity: 0.5;
  bottom: calc(var(--base) * -0.5);
  right: calc(var(--base) * -0.5);
  display: none;

  @include mid-break {
    display: block;
  }
}