@use '@scss/common.scss' as *;

.wrapper {
  position: relative;
}

.container {
  position: relative;
  padding-top: calc(var(--base) * 10);
  padding-bottom: calc(var(--base) * 10);

  @include mid-break {
    row-gap: calc(var(--base) * 3);
  }
}

.linksContainer {
  position: relative;

}

.scanline {
  top: -20%;
  height: 140%;
  margin-right: calc(var(--gutter-h) * -1);
  width: calc(100% + var(--gutter-h));
  z-index: -1;

  @include mid-break {
    top: 0;
    height: 100%;
    width: calc(100% + var(--gutter-h) * 2);
    margin-left: calc(var(--gutter-h) * -1);
    margin-right: calc(var(--gutter-h) * -2);
  }
}

.contentWrapper {
  display: flex;
  align-items: center;
}

.content, .cpa, .label {
    @include mid-break {
        padding: 0 var(--base);
    }
}

.cpa {
    margin-bottom: calc(var(--base) * 2);
    justify-content: flex-start;
}

.links {
    position: relative;
    display: flex;
    flex-direction: column;

    > *:first-of-type {
      border-top: 1px solid var(--theme-elevation-200);
      border-bottom: 1px solid var(--theme-elevation-200);
    }

    > * {
      border-bottom: 1px solid var(--theme-elevation-200);
    }
}


.buttonIcon {
    margin-left: var(--base);
    flex-shrink: 0;
    top: 4px;
    position: relative;
}
