@use '@scss/common' as *;

.error {
    color: var(--theme-error-500);
}

.tabs {
    margin-bottom: calc(var(--base) * 2);
}

.controls {
    margin-bottom: calc(var(--base) * 2);
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: calc(var(--base) * 2)  0;

    & > *:not(:last-child) {
        margin-right: var(--base);
    }

    @include mid-break {
        margin-bottom: var(--base);
        padding: calc(var(--base) * 1.5) 0;
        flex-wrap: wrap;

        & > * {
            width: 100%;

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: var(--base);
            }
        }
    }
}

.search {
    flex-grow: 1;
}

.createButton {
    white-space: nowrap;
}

.controlsBG {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + calc(var(--base) * 4));
    height: 100%;
    left: calc(var(--base) * -2);
    right: calc(var(--base) * -2);
    background-color: var(--theme-elevation-50);

    @include mid-break {
        width: calc(100% + calc(var(--gutter-h) * 2));
        left: calc(var(--gutter-h) * -1);
        right: calc(var(--gutter-h) * -1);
    }
}