@use '@scss/common' as *;

.headingScrollTo {
  position: absolute;
  bottom: calc(100% + 2rem);
  left: 0;
  width: 100%;

  @include mid-break {
    bottom: calc(100% + 1rem);
  }
}

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}

.h5 {
  @include h5;
}

.h6 {
  @include h6;
}

.noMargin {
  margin: 0;
}

.noMarginTop {
  margin-top: 0;
}

.noMarginBottom {
  margin-bottom: 0;
}
