.sectionHeader {
  margin-bottom: 1.75rem;
}

.titleAndLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.intro {
  margin-top: 0.25rem;
  display: block;
  color: var(--theme-elevation-450);
}
