@use '@scss/common.scss' as *;

.gridWrap {
  margin-bottom: calc(var(--base) * 4);
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--page-padding-top);

  @include small-break {
    margin-bottom: var(--base);
    flex-direction: row;
  }
}

.sidebarNavItem {
  margin: 0;
  color: var(--theme-elevation-300);
  margin-right: calc(var(--base) * .75);
  margin-bottom: calc(var(--base) * 0.25);

  &.lastItem {
    margin-right: 0;
    margin-bottom: 0;
  }

  &.active {

    a,
    a:hover {
      color: var(--theme-text);
      font-weight: bold;
    }
  }

  a {
    &:hover {
      color: var(--theme-text);
    }

    &:focus {
      opacity: 1;
    }

    @include underline-on-focus;
  }
}