@use '@scss/common' as *;

.cpa {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    text-transform: initial;
    letter-spacing: 0 !important;
    margin: 0;
  }
}

.cta {
  padding: 1.5rem;
  position: relative;
  @include code;
  & {
    font-size: 1.125em;
    font-weight: 500;
  }

  > * {
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    z-index: 0;
    height: 100%;
    width: calc(100% - 2px);
  }

  &:first {
    border-top: 1px solid var(--grid-line-dark);
  }

  &:last-of-type {
    border-bottom: 1px solid var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);

    &::before {
      background: var(--color-base-0);
    }
  }

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);

    &::before {
      background: var(--color-base-1000);
    }
  }
}

.background {
  background: var(--color-base-900);
  padding: 1rem;
}

.copyButton {
  padding: 0;
  @include btnReset;
}
