@use '@scss/common' as *;

.cpa {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    text-transform: initial;
    letter-spacing: 0 !important;
    margin: 0;
  }
}

.background {
  background: var(--color-base-900);
  padding: var(--base);
}

.copyButton {
  margin-left: var(--base);
}
