@use '@scss/common.scss' as *;

.title {
  @include h2;
  margin-top: 0;
}

.content {
  position: relative;
  padding-top: 2rem;
  min-width: 0;
  line-height: 1.6;

  @include mid-break {
    width: 100%;
  }
}

.mdx {
  @include color-links;
  padding-bottom: 2rem;

  h2 {
    @include h3;
  }

  h3 {
    @include h4;
  }

  h4 {
    @include h5;
  }

  h5 {
    @include h5;
  }
}

.aside {
  flex-shrink: 0;
  position: sticky;
  top: 0;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--theme-elevation-100);
    }
  }

  @include mid-break {
    display: none;
  }
}

.asideStickyContent {
  position: sticky;
  top: var(--page-padding-top);
  max-height: calc(100vh - var(--page-padding-top));
  overflow: scroll;
  padding: 2rem 0;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
  }
}

.discordGitWrap {
  border-top: 1px solid var(--theme-border-color);

  & a {
    box-shadow: none;
  }
}

.button {
  width: 100%;
  border: 0;
  box-shadow: none;
  padding-bottom: 0;

  & path {
    stroke-width: 1.5px;
  }
}

.pill {
  width: fit-content;
  height: auto;
}

.next {
  position: relative;
  display: block;
  padding: 3rem var(--column);
  text-decoration: none;
  border-top: 1px solid var(--theme-border-color);
  transition: all .3s ease-in;
  margin: 0 calc(var(--column) * -1);

  .nextLabel svg {
    transform: translate3D(0, 0, 0);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--theme-elevation-1000);
    transition: width var(--trans-default) linear;
  }

  h3 {
    margin: 0;
  }

  &:focus, &:hover {
    text-decoration: none;
    transition: all var(--trans-default) linear;
    background-color: var(--theme-elevation-50);

    &::after {
      width: 100%;
    }

    .nextLabel svg {
      transition: all var(--trans-default) linear;
      transform: translate3D(2px,-2px,0);
    }
  }

  @include mid-break {
    margin: 0 -2rem!important;
  }
}

.hasRelatedThreads {
  border-bottom: 1px solid var(--theme-border-color);
}

.nextLabel {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;

  svg {
    transition: all var(--trans-default) linear;
    margin-left: 0.5rem;
  }
}
