@use '@scss/common' as *;

.header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.5rem;

    @include mid-break {
        margin-bottom: 0;
        flex-wrap: wrap;
    }
}

.import {
    color: var(--theme-blue-500);
}

.description {
    margin-bottom: 0;
}

.headerContent {
    flex-grow: 1;

    @include mid-break {
        margin-bottom: 1rem;
    }
}

.callToAction {
    @include shadow;
    background-color: var(--theme-elevation-50);
    padding: 2rem;
    position: relative;
    width: calc(100% + var(--gutter-h));
    left: calc(var(--gutter-h) * -0.5);

    @include mid-break {
        padding: 1.5rem;
        width: calc(100% + (var(--gutter-h) * 2));
        left: calc(var(--gutter-h) * -1);
    }
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + var(--gutter-h));
    height: calc(50% + 3rem);
    margin-left: calc(var(--gutter-h) / -2);

    @include mid-break {
        margin-left: calc(var(--gutter-h) * -1);
        width: calc(100% + (var(--gutter-h) * 2));
    }
}

.description {
    margin-bottom: 0;
}

.templatesWrapper {
    position: relative;
}

.templates {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + (2rem));
    left: -1rem;
    padding-bottom: 6rem;

    @include mid-break {
        flex-wrap: wrap;
        width: calc(100% + 1rem);
        left: -.5rem;
        padding-bottom: 2rem;
    }
}

.card {
    width: calc(33.333% - (2rem));
    margin: 1rem;

    @include mid-break {
        width: calc(100% - 1rem);
        margin: 0.5rem;
    }
}