@use '@scss/common.scss' as *;

$transCurve: cubic-bezier(0.4, 0, 0.2, 1);

.lineBlip {
  --duration: 500ms;
  --lineColor: var(--theme-elevation-500);
  --gapSize: var(--base);
  --backgroundPosition: calc(50% - var(--gapSize)) 0;

  background-image: linear-gradient(90deg, var(--lineColor) 0%, var(--lineColor) 33.33%, transparent 33.33%, transparent calc(33.33% + var(--gapSize)), var(--lineColor) calc(33.33% + var(--gapSize)), var(--lineColor) 100%);
  background-position: var(--backgroundPosition);
  background-repeat: no-repeat;
  background-size: calc(300% + var(--gapSize)) 100%;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.gap-large {
  --gapSize: calc(var(--base) * 4);
  --duration: 750ms;
}

.bottom {
  top: unset;
  bottom: 0;
}

.isHovered {
  --lineColor: currentColor;
  background-position: 0% 0;

  @include mid-break {
    background-position: var(--backgroundPosition);
    --lineColor: var(--theme-elevation-500);
  }
}

.animatedOut,
.isHovered {
  transition: background-position var(--duration) $transCurve;
  @include mid-break {
    background-position: var(--backgroundPosition);
  }
}
  
.animatedOut {
  background-position: 50% 0;
  @include mid-break {
    background-position: var(--backgroundPosition);
  }
}