@use '@scss/common.scss' as *;

$lineAnimationDuration: 500;
$transCurve: cubic-bezier(0.4, 0, 0.2, 1);
$defaultBackgroundPosition: calc(50% - var(--base)) 0;

.lineBlip {
  --lineColor: var(--theme-elevation-500);
  background-image: linear-gradient(90deg, var(--lineColor) 0%, var(--lineColor) 33.33%, transparent 33.33%, transparent calc(33.33% + var(--base)), var(--lineColor) calc(33.33% + var(--base)), var(--lineColor) 100%);
  background-position: $defaultBackgroundPosition;
  background-repeat: no-repeat;
  background-size: calc(300% + var(--base)) 100%;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.bottom {
  top: unset;
  bottom: 0;
}

.isHovered {
  --lineColor: currentColor;
  background-position: 0% 0;

  @include mid-break {
    background-position: $defaultBackgroundPosition;
    --lineColor: var(--theme-elevation-500);
  }
}

.animatedOut,
.isHovered {
  transition: background-position #{$lineAnimationDuration}ms $transCurve;
  @include mid-break {
    background-position: $defaultBackgroundPosition;
  }
}
  
.animatedOut {
  background-position: 50% 0;
  @include mid-break {
    background-position: $defaultBackgroundPosition;
  }
}