@use '@scss/common.scss' as *;

.hero {
  position: relative;
}

.heroContent {
  margin-block: 8rem;
}

.heroRichText {
  margin-bottom: 2rem;
}

.heroLink {
  width: 100%;
  max-width: calc(var(--column) * 4);
}

.featuredPartnersHeader {
  margin-bottom: 2rem;

  @include mid-break {
    h2 {
      margin-bottom: 0;
    }
  }
}