@use "../shared.scss";

.wrap {
  position: relative;
}

.labelBar {
  display: flex;
  align-items: center;
}

.labelBarActions {
  display: flex;
  margin-left: auto;

  svg {
    height: 24px;
    width: auto;
  }
}

.isVisible {
  .input {
    pointer-events: all;
  }
}

.input {
  @include shared.formInput;
  pointer-events: none;

  &.error {
    background-color: var(--theme-failure-500);
  }
}