@use '@scss/common' as *;

.featuredMediaWrap {
  margin-top: calc(var(--base) * 4);
  margin-bottom: calc(var(--base) * 4);
  width: calc(100% + (var(--gutter-h) / 2) * 3);
  margin-left: calc(-1 * (var(--gutter-h) / 2));

  @include large-break {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}