@use '@scss/common' as *;

.error {
    color: var(--theme-error-500);
}

.tabs {
    margin-bottom: 2rem;
}

.controls {
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 2rem  0;

    & > *:not(:last-child) {
        margin-right: 1rem;
    }

    @include mid-break {
        margin-bottom: 1rem;
        padding: 1.5rem 0;
        flex-wrap: wrap;

        & > * {
            width: 100%;

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 1rem;
            }
        }
    }
}

.search {
    flex-grow: 1;
}

.createButton {
    white-space: nowrap;
}

.controlsBG {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + 4rem);
    height: 100%;
    left: -2rem;
    right: -2rem;
    background-color: var(--theme-elevation-50);

    @include mid-break {
        width: calc(100% + calc(var(--gutter-h) * 2));
        left: calc(var(--gutter-h) * -1);
        right: calc(var(--gutter-h) * -1);
    }
}

.description {
    position: relative;
    margin: 0 0 2rem 0;
}

.pagination {
    margin-top: 2rem;
}
