@use '@scss/common.scss' as *;

.linkGrid {
    padding-top: var(--base);
    padding-bottom: var(--base);
}

.createTeamLink {
    background-color: transparent;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: underline;
    color: var(--theme-blue-500);
}

.teamDrawerToggler {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: calc(var(--base) * 1.5);

    @include mid-break {
        margin-top: var(--base);
    }
}