@use '@scss/common.scss' as *;

.list {
    position: relative;
    list-style: none;
    padding: 0;
}

.team {
    padding: calc(var(--base) * 2);
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    text-decoration: none;
    background-color: var(--theme-elevation-50);
}

.teamContent {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: var(--base);
}

.teamName,
.teamSlug {
    margin: 0;
}

.teamName {
    font-weight: bold;
    margin: 0;
    margin-right: calc(var(--base) / 2);
}

.teamDrawerToggler {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: calc(var(--base) * 1.5);

    @include mid-break {
        margin-top: var(--base);
    }
}