@use '@scss/common' as *;
.bullet-list-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

[data-theme='dark'] {
  .bullet-list {
    border: 1px solid white;
  }
}

.bullet-list {
  width: fit-content;
  max-width: 500px;
  list-style: none;
  padding: 2rem;
  border-radius: 4px;
  background: black;
  color: white;
  margin: 0;

  @include small-break {
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    margin: 0.75rem 0;
    width: fit-content;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
    flex-shrink: 0;

    svg {
      path, line {
        stroke-width: 2;
      }
    }
  }

  &__item--check &__icon {
    background-color: #48d67c;
  }

  &__item--x &__icon {
    background-color: var(--color-error-500);
  }

  &__text {
    flex: 1;
    line-height: 1.6;
  }
}
