@use '@scss/common.scss' as *;

.content {
  max-width: 1200px;

  h2 {
    @include h1;
  }
}

.wrap {
  padding-top: var(--block-spacing);
  position: relative;
  overflow: hidden;
}

.inner {
  width: 150vw;
  margin-left: -25vw;
}

.poweredByPayload {
  position: absolute;
  top: calc(var(--base) * 4);
  z-index: 1;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;

  @include mid-break {
    top: var(--base);
  }
}

.poweredByPayloadInner {
  @include large-body;
  @include shadow-lg;
  background: var(--theme-bg);
  padding: calc(var(--base) * 1.5) calc(var(--base) * 2.5);
  margin-top: var(--base);
  display: flex;
  align-items: center;
  border-bottom: 4px solid;

  svg {
    margin-right: calc(var(--base) * .75);
    width: calc(var(--base) * 1.5);
    height: calc(var(--base) * 1.5)
  }

  @include mid-break {
    padding: var(--base) calc(var(--base) * 2);
  }
}

.row {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  &:nth-child(odd) {
    right: 20vh;
  }

  &:nth-child(even) {
    left: 20vh;
  }
  
  @include large-break {
    flex-wrap: wrap;

    &:nth-child(odd) {
      right: 15vh;
    }
  
    &:nth-child(even) {
      left: 15vh;
    }
  }

  @include mid-break {
    flex-wrap: wrap;

    &:nth-child(odd) {
      right: 5vh;
    }
  
    &:nth-child(even) {
      left: 5vh;
    }

    &:first-child {
      li:first-child {
        display: none;
      }
    }

    &:last-child {
      li:last-child {
        display: none;
      }
    }
  }
}

.imageWrap {
  width: 33.33%;
  padding: var(--base);

  @include large-break {
    padding: calc(var(--base) * .5);
  }

  @include mid-break {
    width: 50%;
  }
}

.image {
  transition: all 200ms ease-out;
  padding-top: 56.25%;
  position: relative;
  height: 100%;
  opacity: .3;

  &:hover {
    @include shadow-lg;
    opacity: 1;
    transform: translate3d(0, calc(var(--base) * -1), 0);

    .button {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  @include mid-break {
    opacity: 1;
    transition: none;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}

.button {
  opacity: 0;
  transition: all 200ms ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, calc(-50% + var(--base) * .5), 0);
  
  &:hover {
    @include shadow-lg;
  }
}