@use '@scss/common.scss' as *;

.dropdownMenu {
  all: unset;
  display: flex;
  position: relative;
  cursor: pointer;
  border-radius: 3px;

  &:focus-visible {
    @include outline;
  }
}

.threeDots {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: calc(var(--base) / 2);

  & > div {
    color: var(--color-text);
    flex-shrink: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--theme-text);
  }
}