@use '@scss/common' as *;

.defaultCard {
  background-color: var(--theme-bg);
  padding-bottom: 0;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    @include shadow-lg;

    &:local() {
      .plusIcon {
        color: var(--theme-text);

        @include mid-break {
          color: var(--theme-elevation-200);
        }
      }
    }
  }

  &:focus {
    text-decoration: none;
  }

  @include mid-break {
    @include shadow-lg;
  }
}


[data-theme=dark] {
  .defaultCard {
    &:hover {
      background-color: var(--color-base-850);
    }
  }
}

.content {
  padding: calc(var(--base) * 2);
  padding-bottom: 0;

  @include mid-break {
    padding: var(--base);
    padding-bottom: 0;
  }
}

.description {
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.media {
  padding-left: calc(var(--base) * 2);

  @include mid-break {
    padding-left: var(--base);
  }
}

.leader {
  position: relative;
  @include label;

  @include mid-break {
    margin-bottom: calc(var(--base) / 2);
  }
}

.plusIcon {
  position: absolute;
  top: var(--base);
  right: var(--base);
  width: calc(var(--base) * 2.5);
  height: calc(var(--base) * 2.5);
  color: var(--theme-elevation-200);
  transition: 25ms linear color;

  @include mid-break {
    top: calc(var(--base) * 0.5);
    right: calc(var(--base) * 0.5);
    width: calc(var(--base) * 2);
    height: calc(var(--base) * 2);
  }
}