@use '@scss/common.scss' as *;

.deploymentWrapper {
  border: 1px solid var(--theme-border-color);

  p {
    margin: 0;
  }
}

.domains {
  display: flex;
  flex-direction: column;
  gap: var(--base);
  padding: calc(var(--base) * 2) calc(var(--base) * 1.5);
  border-right: 1px solid var(--theme-border-color);
  height: 100%;

  @include mid-break {
    padding: calc(var(--base) * 1.5) var(--base);
    border-right: 0px;
    border-bottom: 1px solid var(--theme-border-color);
  }

  h6 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    opacity: 0.5;
  }

  .domainLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    @include body;

    & {
      margin: 0;
      width: max-content;
      max-width: 100%;
      gap: calc(var(--base) / 2);
      transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:first-of-type {
      @include h4;
      & {
        margin: 0;
        gap: var(--base);
      }
    }

    svg {
      transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
      opacity: 0.8;

      svg {
        transform: translate(25%, -25%);
      }
    }
  }
}

.domainAndDetails {
  border-bottom: 1px solid var(--theme-border-color);
}

.deploymentDetails {
  padding: calc(var(--base) * 2) calc(var(--base) * 1.5);
  display: flex;
  flex-direction: column;
  gap: var(--base);
  height: 100%;

  @include mid-break {
    padding: calc(var(--base) * 1.5) var(--base);
  }

  h6 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    opacity: 0.5;
  }
}

.iconAndLabel {
  display: flex;
  align-items: center;
  gap: calc(var(--base) / 2);

  svg {
    width: var(--base);
    height: var(--base);
  }
}

.ellipseText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.statusWrapper {
  position: relative;
}

.status,
.reTrigger {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: calc(var(--base) * 1.5);

  @include mid-break {
    padding: calc(var(--base) * 1.5) var(--base);
  }
}

.status {
  @include h5;
  & {
    margin: 0;
  }

  @include small-break {
    padding-bottom: 0;
  }
}

.reTriggerButton {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  @include small;
  & {
    text-decoration: underline;
    opacity: 0.75;
  }

  &:hover {
    opacity: 0.5;
  }
}

.redeployModal > div {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;

  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 1.5rem;

    h4 {
      margin: 0;
    }

    .modalCloseButton {
      appearance: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      margin: 0;
      height: 100%;
      width: auto;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .modalTabs {
    padding-inline: 2rem;

    button {
      @include body;
      & {
        font-family: var(--font-body);
        letter-spacing: normal;
      }
    }
  }

  .modalContent {
    padding: 0 2rem 2rem;
    overflow: hidden;

    p {
      margin: 0 0 1rem;

      ul {
        padding: 1rem 1.5rem;
      }
    }

    hr {
      margin: 1rem 0;
    }

    .modalActions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      align-items: center;
    }

    label {
      display: flex;
      gap: 0.75rem;
      padding: 1rem;
      background-color: var(--theme-elevation-100);
      border: 1px solid var(--theme-border-color);
      cursor: pointer;
      transition-property: background-color, border;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;

      input {
        width: 16px;
        height: 16px;
        @include body;
        display: inline;
        vertical-align: middle;
        line-height: 1;
        cursor: pointer;
        flex-shrink: 0;
      }

      p {
        margin: 0;
      }

      &:hover {
        border: 1px solid var(--theme-elevation-350);
      }

      &:has(input:checked) {
        background-color: var(--theme-elevation-150);
        border: 1px solid var(--theme-elevation-500);
      }

      @include data-theme-selector('light') {
        background-color: var(--theme-elevation-50);

        &:has(input:checked) {
          background-color: var(--theme-elevation-100);
        }
      }
    }
  }
}
