@use '@scss/common.scss' as *;

.container {
  position: relative;
}

.backgroundContainer {
  position: relative;
  border: 1px solid var(--theme-border-color);
  background-color: var(--theme-bg);
  overflow: hidden;

  + .backgroundContainer {
    border-top: 0;
  }
}

.borderHighlight {
  background: conic-gradient(var(--theme-elevation-950), transparent, transparent);
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  filter: blur(10px);
  width: 110%;
  animation: 7s rotateColor infinite linear;
}

@keyframes rotateColor {
  0% {
      transform: translate(-50%, -50%) rotate(0deg) skew(10deg, 10deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(360deg) skew(10deg, 10deg);
  }
}

.containerContent {
  position: relative;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  inset: 1px;
  background-color: var(--theme-bg);
  margin-right: 2px;
  margin-bottom: 2px;
}