@use '@scss/common' as *;

.algoliaSearchBox {
  @include label;
  & {
    font-size: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &::placeholder {
    color: black;
  }
}
