@use '@scss/common' as *;

.featuredMediaGallery {
  position: relative;
  padding: var(--new-block-spacing) 0;
}

.blackBg {
  background-color: var(--theme-elevation-0);
}

.darkBg {
  background-color: var(--theme-elevation-100);
}

.backgroundGrid {
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leader {
  @include label;
  margin-top: 0;
  margin-bottom: calc(var(--base) * 1);
  color: var(--color-success-650);
}

.title {
  @include h2;
  margin-top: 0;
  margin-bottom: calc(var(--base) * 3);

  @include large-break {
    margin-bottom: calc(var(--base) * 2);
  }

  @include mid-break {
    margin-bottom: calc(var(--base) * 1);
  }
}

.description {
  @include body;
  color: var(--theme-elevation-500);
  margin-bottom: calc(var(--base) * 2);
}

.tabs {
  list-style: none;
  padding: 0;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: calc(var(--base) * 2.5);
  }
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;

  li:not(:last-child) .linkButton {
    border-bottom: none;
  }
}

.blackButtonBg {
  &::before {
    background-image: linear-gradient(to right, var(--theme-elevation-1000) 50%, var(--theme-elevation-0) 50%);
  }
}

.tabButton {
  @include btnReset;
  cursor: pointer;
  width: 100%;
  text-align: unset;
  padding: calc(var(--base) * 0.75) 0;
  border-bottom: 1px solid var(--theme-elevation-250);
  position: relative;
  color: var(--theme-elevation-500);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--theme-text);
  }
}

.activeButton {
  color: var(--theme-text);
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.progressBar {
  height: 1px;
  background-color: var(--color-success-650);
  animation: fillBar 5s linear;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.mediaTabs {
  position: relative;
  width: 100%;
  height: 100%;

  @include mid-break {
    display: none;
  }
}
  
.imageContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% + var(--gutter-h));
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  > div {
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  @include mid-break {
    left: 1px;
    right: 1px;
    width: calc(100% - 1px);
  }
}

.centeredImageContainerHeight {
  height: 100%;
}

.filledImageContainerHeight {
  height: calc(100% + calc(var(--new-block-spacing) * 2));

  @include mid-break {
    height: 100%;
  }
}

.leftImageAlignment {
  right: 0;

  @include mid-break {
    right: 1px;
  }
}

.rightImageAlignment {
  left: 0;

  @include mid-break {
    left: 1px;
  }
}

.activeImage {
  opacity: 1;
}

.mobileMediaTabs {
  display: none;
   
  @include mid-break {
    display: block;
    width: calc(100% - 2px);
    margin-bottom: calc(var(--base) * 2);
  }

  .aspectRatioWrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }
}

:global([data-theme="light"]) {
  .darkBg {
    background-color: var(--theme-elevation-0);
  }
}
