@use '@scss/common.scss' as *;

.homeHero {
  background: var(--theme-bg);
  position: relative;
}

.bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bgImage {
  pointer-events: none;
}

.wrap {
  position: relative;
  z-index: 2;
}

.content {
  display: flex;
  min-height: 60vh;
  align-items: flex-end;

  @include mid-break {
    padding-top: calc(var(--base) * 3);
    display: block;
    min-height: initial;
  }
}

.richText {
  width: 75%;

  @include mid-break {
    width: 100%;
  }
}

.adjectives {
  display: flex;
  pointer-events: none;
}

.adjective {
  display: block;
  font-size: 288px;
  line-height: 1;

  &:after {
    content: '—';
  }

  @include large-break {
    font-size: 240px;
  }

  @include mid-break {
    font-size: 168px;
  }

  @include small-break {
    font-size: 96px;
  }
}