.homeHero {
  background: var(--theme-bg);
  position: relative;
}

.bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content {
  position: relative;
  z-index: 2;
}