@use '@scss/common.scss' as *;

.error {
  color: var(--theme-error-500);
}

.success {
  color: var(--theme-success-500);
}

.form {
  & > * {
    margin-bottom: 1rem;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.hr {
  margin: 2rem 0;
}
