@use '@scss/common' as *;

.header {
  position: fixed;
  top: var(--top-bar-height);
  height: var(--header-height);
  display: flex;
  align-items: center;
  width: 100%;
  z-index: var(--z-nav);
  transition: color 300ms ease;
  opacity: 0;

  &.themeIsSet {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--theme-bg);
      opacity: 0.85;
      z-index: -1;
      transition: opacity 500ms ease-out;
    }
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
      z-index: -1;
      opacity: 1;
      transition: opacity 500ms ease-out;
    }
  }
  

  @include mobile-header-break {
    &:before, &:after {
      transition: opacity 200ms ease;
    }
  }
}

.header.themeIsSet {
  opacity: 1;
}

.header.hideBackground {
  &:before {
    opacity: 0;
  }

  &:after {
    opacity: 0;
  }
}

.header.mobileNavOpen {
  z-index: calc(var(--z-nav) + 11);
  &:before, &:after {
    opacity: 0;
  }
}