@use "@scss/common" as *;

@mixin formInput() {
  all: unset;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-family: var(--font-body);
  width: 100%;
  border: 1px solid var(--theme-border-color);
  background: var(--theme-elevation-150);
  color: var(--theme-elevation-800);
  font-size: calc(var(--base) * 0.8);
  height: calc(var(--base) * 2.65);
  line-height: var(--base);
  padding: calc(var(--base) * 1);

  &::-moz-placeholder,
  &::-webkit-input-placeholder {
    color: var(--theme-elevation-400);
    font-weight: normal;
    font-size: calc(var(--base) * 0.8);
  }

  &:hover {
    border-color: var(--theme-elevation-250);
  }

  &:focus,
  &:active {
    border-color: var(--theme-elevation-400);
    outline: 0;
  }

  &:disabled {
    background: var(--theme-elevation-200);
    color: var(--theme-elevation-450);

    &:hover {
      border-color: var(--theme-elevation-250);
    }
  }
}

.description {
  @include small;
  margin-top: calc(var(--base) / 2);
  color: var(--theme-elevation-400);
}

:global([data-theme="light"]) {
  @mixin formInput() {
    background: var(--theme-elevation-50);
  }
}