@use '@scss/common.scss' as *;

.wrap {
  position: relative;
  padding: 0 var(--gutter-h);
  margin-top: var(--page-padding-top);
  border-bottom: 1px solid var(--theme-border-color);

  @include mid-break {
    overflow: hidden;
  }

  &:before {
    content: '';
    top: var(--page-padding-top);
    position: fixed;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--theme-border-color);
    z-index: 1;
  }
}

.nav {
  position: sticky;
  top: var(--page-padding-top);
  max-height: calc(100vh - var(--page-padding-top));
  overflow: auto;
  flex-shrink: 0;
  padding: calc(var(--base) * 2) var(--base);

  &::-webkit-scrollbar,  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    
  }

  @include mid-break {
    display: none;
    position: fixed;
    z-index: calc(var(--z-nav) + 1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--theme-bg);
    width: auto;
    padding: var(--gutter-h) var(--gutter-h) calc(var(--base) * 5);
    overflow: auto;
    max-height: initial;
    margin-right: 0;
  }
}

.indicator {
  position: absolute;
  left: 0;
  top: 0;
  transition: all var(--trans-default) ease-in-out;
  height: calc(var(--base) * 1.3);
  background-color: var(--theme-elevation-800);
  width: 2px;
}

.navOverlay {
  display: block;
  position: sticky;
  width: 100%;
  height: calc(var(--base) * 4);
  bottom: calc(var(--base) * -1.95);
  left: 0;
  background: linear-gradient(180deg, transparent 0%, var(--theme-bg) 100%);
  pointer-events: none;
}

.navHidden {
  opacity: 0;
}

.navOpen {
  display: block;
}

.mobileNavButton {
  @include btnReset;
  display: none;
  position: fixed;
  height: calc(var(--base) * 3);
  z-index: calc(var(--z-nav) + 2);
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--theme-elevation-900);
  color: var(--theme-elevation-50);
  padding: 0 var(--gutter-h);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  @include mid-break {
    display: flex;
    width: 100%;
  }
}

.content {
  min-width: 0;
  flex-grow: 1;
}

.topic {
  @include btnReset;
  text-decoration: none;
  color: var(--theme-elevation-600);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--base) * .5);

  .chevron {
    transition: all var(--trans-default) ease-in-out;
    opacity: 0;
    margin-left: calc(var(--base) * .75);
  }

  &:hover {
    color: var(--theme-text);

    .chevron {
      transition: all var(--trans-default) ease-in-out;
      opacity: 0.5;
    }
  }

  &--open {
    color: var(--theme-text);
  }

  @include mid-break {
    font-size: var(--base);
    margin-bottom: calc(var(--base) * .5);
  }
}

.doc, .docs, .topic {
  font-size: calc(var(--base) * .875);
  letter-spacing: -0.03em;
  line-height: 1.5;
}

.docs {
  list-style: none;
  color: var(--theme-elevation-600);
  text-decoration: none;
}

.doc {
  list-style: none;
  display: inline-flex;
  position: relative;
  text-decoration: none;
  margin-bottom: calc(var(--base) * .25);

  &:hover {
    color: var(--theme-text);
  }

  &:focus {
    text-decoration: none;
  }

  &--active {
    font-weight: 700;
    color: var(--theme-text);
  }

  @include mid-break {
    font-size: var(--base);
    margin-bottom: calc(var(--base) * .25);
  }
}
