@use '@scss/common' as *;


.media {
  img, video {
    width: 100%;
  }

  @include mid-break {
    grid-row: 1;
    img, video {
      max-width: initial;
    }
  }
}
.media.right {
  margin-right: calc(-1 * var(--gutter-h));
  img,video {
    margin-left: auto;
  }
}
.media.left {
  margin-left: calc(-1 * var(--gutter-h));
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mid-break {
    margin-top: var(--base);
  }
}

.button {
  display: block;
  margin-top: calc(var(--base) * 2);
  max-width: 400px;

  @include mid-break {
    width: 100%;
    margin-top: var(--base);
  }
}
