@use '@scss/common.scss' as *;

$curve: cubic-bezier(.165, .84, .44, 1);

.message {
  background-color: var(--theme-elevation-150);
  padding: calc(var(--base) / 2) var(--base);
  border-left: 1px solid;
  border-color: var(--theme-elevation-500);
  display: flex;

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.error {
  background-color: var(--theme-error-100);
  color: var(--theme-error-900);
  border-color: var(--theme-error-500);

  &:local() {
    .icon {
      background-color: var(--theme-error-150);
    }
  }
}

.success {
  background-color: var(--theme-success-100);
  color: var(--theme-success-900);
  border-color: var(--theme-success-500);

  &:local() {
    .icon {
      background-color: var(--theme-success-150);
    }
  }
}

.warning {
  background-color: var(--theme-warning-100);
  color: var(--theme-warning-900);
  border-color: var(--theme-warning-500);

  &:local() {
    .icon {
      background-color: var(--theme-warning-150);
    }
  }
}

.icon {
  margin-right: calc(var(--base) / 2);
  padding: 6px;
  width: calc(var(--base) * 1.75);
  height: calc(var(--base) * 1.75);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.label {
  margin: 0;
  // position: relative;
  // top: 1px;
}

:global([data-theme="light"]) {
  .message {
    background-color: var(--theme-elevation-100);
  }

  .success {
    color: var(--color-success-850);
    background-color: var(--theme-success-450);
    border-color: var(--color-success-550);

    :local(.icon path) {
      stroke: var(--theme-success-450);
    }
  }

  .warning {
    color: var(--color-warning-850);
    background-color: var(--theme-warning-450);
    border-color: var(--color-warning-550);

    :local(.icon path) {
      stroke: var(--theme-warning-450);
    }
  }

  .error {
    color: var(--color-error-850);
    background-color: var(--theme-error-450);
    border-color: var(--color-error-700);

    :local(.icon path) {
      stroke: var(--theme-error-450);
    }
  }
}