@use '@scss/common' as *;
@use '../shared.scss';

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.textarea {
  @include shared.formInput;
  & {
    resize: vertical;
    max-width: 100%;
    min-height: 100px;
    height: unset;
  }

  &.error {
    background-color: var(--theme-failure-500);
  }
}

:global([data-theme='light']) {
  .textarea {
    background: var(--theme-elevation-50);
  }
}
