@use "@scss/common" as *;
@use "../shared.scss";

.wrap {
  position: relative;
}

.textarea {
  @include shared.formInput;
  resize: vertical;
  max-width: 100%;
  min-height: 100px;
  height: unset;

  &.error {
    background-color: var(--theme-failure-500);
  }
}