@use '@scss/common.scss' as *;

.desktopNav {
  @include small-break {
    display: none;
    visibility: hidden;
  }
}

.grid {
  :local(a) {
    text-decoration: none;
  }
}

.container {
  position: relative;
}

.logo {
  width: calc(var(--gutter-h) / 2 - var(--base));
  height: 100%;
  position: absolute;
  left: calc(-1 * var(--base));
  display: flex;
  justify-content: flex-start;
  transform: translateX(-100%);
  top: -2px;

  svg {
    height: auto;
  }

  @include large-break {
    position: static;
    left: 0;
    transform: unset;
    width: auto;
    margin-right: var(--base);
  }
}

.navItems {
  display: flex;

  :local(.navItem) {
    margin-right: calc(var(--base) * .75);
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;

  @include large-break {
    justify-content: unset;
  }
}

.github {
  display: flex;
  color-scheme: none;
  align-items: center;

  :local(.stars) {
    vertical-align: middle;
    margin: 0 0 0 calc(var(--base) * .5);
  }

  @include large-break {
    margin-left: auto;

    :local(.stars) {
      margin-right: var(--base);
    }
  }
}

.githubText {
  @include large-break {
    display: none;
  }
}

.icons {
  width: calc(var(--gutter-h) / 2 - var(--base));
  position: absolute;
  right: calc(-1 * var(--base));
  display: flex;
  justify-content: flex-end;
  transform: translateX(100%);
  top: 0;
  align-items: center;
  
  > * {
    margin-right: calc(var(--base) * .5);
    line-height: 1;
    
    &:last-child {
      margin-right: 0;
    }
  }

  @include large-break {
    position: static;
    right: 0;
    transform: unset;
    width: auto;
  }
}