@use '@scss/common.scss' as *;

.desktopNav {
  position: relative;

  &:local() {
    a {
      text-decoration: none;
    }
  }

  @include mobile-header-break {
    display: none;
    visibility: hidden;
  }
}

.grid {
  :local(a) {
    text-decoration: none;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;

  @include large-break {
    justify-content: unset;
  }
}

.authNav {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: calc(var(--base) * 1);
  }
}

.container {
  position: relative;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: -2px;
  left: calc(-1*var(--base));
  width: calc(var(--gutter-h) / 2 - var(--base));
  transform: translateX(-100%);


  svg {
    height: auto;
  }

  @include large-break {
    width: auto;
    margin-right: var(--base);
    position: relative;
    transform: none;
    left: 0;
  }
}

.navItems {
  display: flex;
  flex-grow: 1;
  white-space: nowrap;

  :local(.navItem) {
    margin-right: calc(var(--base) * .75);
  }
}

.secondaryNavItems {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  gap: calc(var(--base) * 1.25);
}

.payload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icons {
  width: calc(var(--gutter-h) / 2 - var(--base));
  position: absolute;
  right: calc(-1 * var(--base));
  display: flex;
  justify-content: flex-end;
  transform: translateX(100%);
  top: 0;
  align-items: center;
  height: 100%;
  
  > * {
    margin-right: var(--base);
    line-height: 1;
    
    &:last-child {
      margin-right: 0;
    }
  }

  @include extra-large-break {
    > * {
      margin-right: calc(var(--base) * 0.75);
    }
  }

  @include large-break {
    position: static;
    right: 0;
    transform: unset;
    width: auto;

    > * {
      margin-right: calc(var(--base) * 0.5);
    }
  }
}

.discord {
  display: flex;
}