@use '@scss/common' as *;

.container {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  top: calc(var(--gutter-h) * -0.25);
}

.ctaWrap {
  position: sticky;
  width: 430px;
  min-width: 430px;
  margin: calc(var(--gutter-h) * 0.5) calc(var(--gutter-h) * 0.5) 0 0;
}

.bg {
  top: calc(var(--gutter-h) * -0.5);
  right: calc(var(--gutter-h) * -0.5);
  left: calc(var(--gutter-h) * 0.5);
  height: 75%;
  position: absolute;
  z-index: -1;
}

.cta {
  @include btnReset;
  @include shadow-lg;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  padding: calc(var(--base) * 1.75);
  background-color: var(--color-base-1000);
  border-bottom: 1px solid var(--color-base-100);
  position: relative;
  width: 100%;

  &:before {
    position: absolute;
    content: ' ';
    height: 0.5px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: all 300ms ease-in-out;
    background-color: var(--theme-success-600);
  }

  &:first-child {
    margin-bottom: calc(var(--base) * 2.5);
  }

  &:hover {
    cursor: pointer;

    .message,
    .arrow {
      transition: all 300ms ease-in-out;
      color: var(--theme-success-600);
    }

    &:before {
      width: 100%;
    }
  }
}

.message {
  color: var(--color-base-100);
  font-size: calc(var(--base) * 1.25);
}

.arrow {
  width: 16px;
  height: 16px;
  color: var(--color-base-100);
}

.gitButton,
.discordButton {
  display: flex;
  justify-content: space-between;
  margin: var(--base) 0 0 0;
  width: 100%;

  & img {
    border-radius: 5px;
    height: 25px;
  }
}

.enterpriseCTA {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-top: calc(var(--base) * 2.5);

  .button {
    @include label;
    text-decoration: none;
    margin-top: var(--base);
    color: var(--color-blue-600);
    transition: opacity 0.2s ease-in-out;

    & svg {
      margin-left: var(--base);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

@include extra-large-break {
  .ctaWrap {
    width: 350px;
    min-width: 350px;
  }
}

@include large-break {
  .ctaWrap {
    margin-right: var(--gutter-h);
  }

  .bg {
    top: calc(var(--gutter-h) * -1);
    left: var(--gutter-h);
  }
}

@include mid-break {
  .bg {
    display: none;
  }

  .container {
    height: unset;
  }

  .ctaWrap {
    position: unset;
    display: flex;
    justify-content: flex-end;
  }

  .cta {
    width: fit-content;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;

    &:first-child {
      margin: 0 var(--base) 0 0;
    }
  }

  .message,
  .arrow {
    display: none;
  }

  .gitButton,
  .discordButton {
    margin: 0;
    max-width: unset;
  }

  .enterpriseCTA {
    display: none;
  }
}

@include small-break {
  .container {
    left: var(--gutter-h);
  }

  .ctaWrap {
    justify-content: flex-start;
  }

  .container {
    top: calc(var(--base) * -1.5);
  }
}