@use '@scss/common' as *;

.container {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

.ctaWrap {
  position: sticky;
  width: 430px;
  min-width: 430px;
  height: fit-content;
  top: var(--page-padding-top);
  margin-right: calc(var(--gutter-h) * 0.5);
}

.bg {
  top: calc(var(--base) * -3);
  right: calc(var(--gutter-h) * -1);
  left: calc(var(--gutter-h) * 0.5);
  height: 65%;
  position: absolute;
  z-index: -1;
}

.cta {
  @include shadow-lg;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: calc(var(--base) * 1.75);
  background-color: var(--color-base-1000);
  border-bottom: 1px solid var(--color-base-100);

  &:first-child {
    margin-bottom: calc(var(--base) * 2.5);
  }

  &:hover {
    color: var(--theme-success-600);
    background-color: var(--color-base-900);
  }
}

.message {
  font-size: calc(var(--base) * 1.25);
  margin: 0;
  line-height: 1.2;
}

.arrow {
  width: 16px;
  height: 16px;
}

.gitButton,
.discordButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--base) 0 0 0;

  & a {
    line-height: 1;
  }

  & img {
    border-radius: 5px;
    height: 25px;
  }
}

.enterpriseCTA {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-top: calc(var(--base) * 2.5);

  .button {
    @include label;
    text-decoration: none;
    margin-top: var(--base);
    color: var(--color-blue-650);

    & svg {
      margin-left: var(--base);
    }
  }
}

@include extra-large-break {
  .ctaWrap {
    width: 350px;
    min-width: 350px;
  }
}

@include large-break {
  .ctaWrap {
    margin-right: var(--gutter-h);
  }

  .bg {
    left: var(--gutter-h);
  }
}

@include mid-break {
  .bg {
    display: none;
  }

  .ctaWrap {
    position: unset;
    display: flex;
    justify-content: flex-end;
  }

  .cta {
    width: fit-content;
    padding: 0;
    border: none;
    background-color: transparent;

    &:first-child {
      margin: 0 var(--base) 0 0;
    }
  }

  .message {
    display: none;
  }

  .arrow {
    display: none;
  }

  .gitButton,
  .discordButton {
    margin: 0;
    max-width: unset;
  }

  .enterpriseCTA {
    display: none;
  }
}

@include small-break {
  .container {
    left: var(--gutter-h);
  }

  .ctaWrap {
    justify-content: flex-start;
  }

  .container {
    top: calc(var(--base) * -1.5);
  }
}