@use '@scss/common' as *;

.container {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;

  .bg {
    top: 0;
    right: calc(var(--gutter-h) * -0.5);
    left: calc(var(--gutter-h) * 0.5);
    height: 70%;
    position: absolute;
    z-index: -1;
  }
}

.ctaWrap {
  position: sticky;
  width: 430px;
  min-width: 430px;
  margin-right: calc(var(--gutter-h) * 0.5);
  padding-top: calc(var(--base) * 2.5);
  top: calc(var(--header-height) + var(--top-bar-height) + calc(var(--base) * 2));
}

.cta {
  @include btnReset;
  @include shadow-lg;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  padding: calc(var(--base) * 1.75);
  background-color: var(--color-base-1000);
  border-bottom: 1px solid var(--color-base-100);
  position: relative;
  width: 100%;

  &:before {
    position: absolute;
    content: ' ';
    height: 0.5px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: all 300ms ease-in-out;
    background-color: var(--theme-success-600);
  }

  &:first-child {
    margin-bottom: calc(var(--base) * 2.5);
  }

  &:hover {
    cursor: pointer;

    .message,
    .arrow {
      transition: all 300ms ease-in-out;
      color: var(--theme-success-600);
    }

    &:before {
      width: 100%;
    }
  }
}

.message {
  color: var(--color-base-100);
  font-size: calc(var(--base) * 1.25);
}

.arrow {
  width: 16px;
  height: 16px;
  color: var(--color-base-100);
}

.gitButton,
.discordButton {
  display: flex;
  justify-content: space-between;
  margin: var(--base) 0 0 0;
  width: 100%;
  align-items: center;
  height: 26px;

  & img {
    border-radius: .25em; // matches github button
    height: 26px;
  }
}

.enterpriseCTA {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-top: calc(var(--base) * 2.5);

  .license {
    margin-bottom: 0;
    color: var(--theme-elevation-450);
  }

  .button {
    text-decoration: none;
    color: var(--theme-blue-500);
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

@include extra-large-break {
  .ctaWrap {
    width: 350px;
    min-width: 350px;
  }
}

@include mid-break {
  .container {
    display: none;
  }
}
