@use '@scss/common' as *;

.breadcrumb {
  @include label;
  text-decoration: none;
}

.thread {
  max-width: 1200px;
  margin-right: calc(var(--base) * 8);

  @include mid-break {
    margin: 0;
  }

  @include small-break {
    margin-top: var(--base);
  }
}

.title {
  text-decoration: none;
}

.details {
  display: flex;
}

.upvotes {
  display: flex;
  align-items: center;
  color: var(--theme-elevation-400);
  margin-left: var(--base);

  & svg {
    width: calc(var(--base) * .75);
    margin-right: calc(var(--base) * .35);
  }

  & span:first-child {
    padding-right: var(--base);
  }
}

.comments {
  padding: var(--base) 0 0 0;
  list-style: none;
}

.comment,
.reply {
  border: 1px solid var(--color-base-650);
  padding: calc(var(--base) * 2);
  line-height: 1.5;
  margin: 0 0 var(--base) 0;
}

.hasReplies {
  margin: 0;


  .body {
    margin-bottom: var(--base);
  }
}

.reply {
  border-top: none;
  margin: 0;
  background-color: var(--theme-elevation-50);

  &:last-child {
    margin-bottom: var(--base);
  }
}

.replyCount {
  font-size: calc(var(--base) * 0.75);
  color: var(--color-base-500);
  padding-top: var(--base);
}

.answer {
  background-color: var(--theme-success-100);

  color: var(--color-success-500);

}

.answerLabel {
  margin-bottom: var(--base);

  & label {
    margin: 0 calc(var(--base) * 0.35) 0 calc(var(--base) * 0.5);
  }

  .checkmark {
    border: 1px solid var(--color-success-400);
    border-radius: 100%;

    & path {
      stroke: var(--color-success-400);
      stroke-width: 1px;
    }
  }

  .selectedBy {
    font-size: calc(var(--base) * 0.65);
  }
}

.discussionBody {
  margin-bottom: var(--base);
}

// Overwrites html body styles

.body {
  margin-top: var(--base);

  & div {
    & p {
      margin-bottom: 0;
    }
  }

  &>* {
    &:last-child {
      margin-bottom: 0;
    }
  }

  & span,
  & pre {
    white-space: break-spaces;
    line-break: anywhere;
  }


  & code,
  & pre {
    background-color: var(--color-base-950);
    font-family: var(--font-mono);
    font-size: calc(var(--font-body-size) * .825);
    line-height: var(--base);
  }

  & pre {
    padding: calc(var(--base) * 1.5);
    color: var(--color-base-50);
  }

  & p>code {
    background-color: var(--theme-elevation-50);
    padding: calc(var(--base) * 0.15);
  }


  & h1 {
    @include h3;
  }

  & h2 {
    @include h4;
  }

  & h3 {
    @include h5;
  }

  & h4 {
    font-size: calc(var(--base) * 1.35);
  }

  & h5 {
    font-size: calc(var(--base) * 1.25);
  }

  & h6 {
    font-size: calc(var(--base) * 1.15);
  }

  & a {
    color: var(--color-blue-600);
  }

  & blockquote {
    margin-left: 0;
    padding-left: var(--base);
    border-left: 2px solid var(--theme-elevation-300);
  }
}


:global([data-theme="light"]) {
  .answer {
    background-color: var(--theme-success-450);
    border-color: var(--theme-success-550);
  }

  .answerLabel {
    .checkmark {
      border: 1px solid var(--theme-elevation-900);

      & path {
        stroke: var(--theme-elevation-900);
      }
    }
  }
}

@include mid-break {
  .contentWrap {
    order: 2;
  }

  .content {
    margin: 0;
  }

  .details {
    flex-wrap: wrap;
  }

  .comment,
  .reply {
    padding: var(--base);
  }
}