@use '@scss/common' as *;

.title {
  @include h2;
  margin-top: 0;

  @include large-break {
    @include h3;
  }
}

.details {
  display: flex;
  align-items: flex-start;
  padding: var(--base) 0;

  @include mid-break {
    padding: calc(var(--base) * .5) 0;
  }
}

.discussionBody {
  margin-bottom: calc(var(--base) * 2.5);
}

.upvotes,
.comments {
  display: flex;
  align-items: center;
  color: var(--color-base-300);
}

.upvotes {
  padding: 0 var(--base);

  & svg {
    margin-right: calc(var(--base) * .45);
  }
}

.comments {
  & svg {
    width: calc(var(--base) * .75);
    margin-right: calc(var(--base) * .5);
  }
}

.commentWrap {
  padding: 0;
  list-style: none;
}

.comment {
  border: 1px solid var(--color-base-800);
  padding: calc(var(--base) * 2);
  line-height: 1.5;
  margin: 0 0 var(--base) 0;
}

.answer {
  background-color: var(--color-success-900);
}

.answerLabel {
  color: var(--color-success-400);

  margin-bottom: var(--base);

  & label {
    margin: 0 calc(var(--base) * 0.5);
  }
}

.selectedBy {
  font-size: calc(var(--base) * 0.65);
}

.answerBody {
  color: var(--color-success-400);
  overflow: hidden;

  & span {
    white-space: break-spaces !important;
  }

  & a {
    color: var(--color-base-100);
  }
}

.checkmark {
  border: 1px solid var(--color-success-400);
  border-radius: 100%;

  & path {
    stroke: var(--color-success-400);
    stroke-width: 1px;
  }
}