@use '~@payloadcms/ui/scss';

.refresh-docs-button {
  @extend %btn-reset;
  padding-top: base(0.75);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
