@use '@scss/common' as *;

.cloudLogo {
  display: flex;
  align-items: center;
  gap: calc(var(--base) / 2);

  svg {
    width: var(--base);
    height: auto;
  }

  @include mid-break {
    span {
      display: none;
    }
  }
}
