@use '@scss/common' as *;

.defaultHero {
  margin-bottom: calc(var(--base) * -3);

  @include large-break {
    margin-bottom: calc(var(--base) * -2);
  }

  @include mid-break {
    margin-bottom: calc(var(--base) * -1);
  }
}

.pageLabel {
  margin-bottom: calc(var(--base) * 1);
  display: block;
}

.richText {
  @include small-break {
    margin-bottom: var(--base);
  }
}