@use '@scss/common' as *;

$curve: cubic-bezier(.165, .84, .44, 1);

.container {
  position: relative;
  padding-top: calc(var(--base) * 4);
  margin-bottom: calc(var(--base) * -14.5);

  @include mid-break {
    padding-top: calc(var(--base) * 4);
    margin-bottom: calc(var(--base) * -12);
  }

  @include small-break {
    padding-top: calc(var(--base) * 4);
    margin-bottom: calc(var(--base) * -10);
  }
}


.mask {
  width: 100%;
  background: black;
  aspect-ratio: 1600/436;
  mask-image: url('/images/payload-mask.svg');
  mask-size: cover;
  mask-repeat: no-repeat;
  image-rendering: crisp-edges;
  position: relative;
  transition: all 1s $curve;
  transform-origin: bottom;
}

.gradient {
  transform: translate3d(calc(var(--mouse-x, -100%)* 1px - var(--base)* 35), calc(var(--mouse-y, -100%)* 1px - var(--base)* 35), 0px);
  position: absolute;
  filter: blur(100px);
  width: calc(var(--base)* 70);
  height: calc(var(--base)* 70);
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  transition: opacity 1s $curve;
  background: var(--color-base-0);
  background: radial-gradient(circle at center, rgba(255,255,255,0.20), rgba(255,255,255,0.10), rgba(255,255,255,0));

  @include mid-break {
    transform: translate3d(calc(var(--mouse-x, -100%)* 1px - var(--base)* 17.5), calc(var(--mouse-y, -100%)* 1px - var(--base)* 17.5), 0px);
    width: calc(var(--base)* 35);
    height: calc(var(--base)* 35);
  }
}

.image {
  position: relative;
}

.payload {
  width: 100%;
  height: auto;
  position: absolute;
  fill: none;

  path {
    fill: none;
  }
  z-index: 6;
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/noise.png') repeat;
  z-index: 5;
}
