.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.8rem 0 1.2rem 0;
  h3,
  p {
    margin: 0;
  }
  &__environmentSelector {
    display: flex;
    align-items: center;

    .projectHeader__environmentSelector__select {
      display: flex;
      gap: var(--base);

      :global {
        label {
          font-size: initial;
          align-self: center;
          margin: 0;
          width: unset;
        }
        .rs__control {
          min-width: 160px;
          border-radius: 4px;
          background-color: var(--theme-elevation-100);
          border-color: var(--theme-elevation-150);
          padding: 0.5rem;
          .rs__indicators {
            position: relative;
            transform: unset;
            right: unset;
            top: unset;
          }
        }
        .rs__menu {
          width: unset;
          right: 0;
          .rs__menu-list {
            padding: 0.25rem;
            border-radius: 4px;
          }
          .rs__option {
            font-size: initial;
          }
        }
      }
    }
  }
}
