@use './github.scss' as *;
@use './vars.scss' as *;
@use './queries.scss' as *;
@use './type.scss' as *;
@import "./colors.scss";
@import './docsearch.scss';
@import "./toastify.scss";
@import "./theme.scss";

:root {
  --base: 24px;
  --breakpoint-xs-width: $breakpoint-xs-width;
  --breakpoint-s-width: $breakpoint-s-width;
  --breakpoint-m-width: $breakpoint-m-width;
  --breakpoint-mh-width: $breakpoint-mh-width;
  --breakpoint-l-width: $breakpoint-l-width;
  --breakpoint-xl-width: $breakpoint-xl-width;
  --breakpoint-2xl-width: $breakpoint-2xl-width;

  --breakpoint-s-height: $breakpoint-s-height;

  --scrollbar-width: 17px;
  --page-padding-top: calc(var(--top-bar-height) + var(--header-height) + var(--base) * 2);
  --header-height: 90px;
  --top-bar-height: 46px;

  --font-body-size: 21px;

  --z-popup: 10;
  --z-status: 30;
  --z-nav: 40;
  --z-modal: 50;

  --gutter-h: calc(var(--base) * 16);
  --block-spacing: calc(var(--base) * 7);

  --trans-default: 150ms;

  @include extra-large-break {
    --gutter-h: calc(var(--base) * 12);
    --font-body-size: 18px;
    --base: 20px;
  }

  @include large-break {
    --gutter-h: calc(var(--base) * 4);
    --block-spacing: calc(var(--base) * 5);
    --header-height: 76px;
  }

  @include mobile-header-break {
    --header-height: 66px;
  }

  @include mid-break {
    --gutter-h: calc(var(--base) * 2);
    --block-spacing: calc(var(--base) * 3.5);
    --page-padding-top: calc(var(--top-bar-height) + var(--header-height) + var(--base) * 1.5);
  }

  @include small-break {
    --block-spacing: calc(var(--base) * 2);
    --gutter-h: calc(var(--base) * 1);
    --font-body-size: 16px;
  }
}

/////////////////////////////
// GLOBAL STYLES
/////////////////////////////

* {
  box-sizing: border-box;
}

html {
  @include body;
  background: var(--theme-bg);
  -webkit-font-smoothing: antialiased;
  opacity: 0;

  &[data-theme=dark],
  &[data-theme=light] {
    opacity: initial;
  }

  &[data-theme=dark] {
    background: var(--color-base-900);
    color-scheme: dark;
  }
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: var(--font-body);
  color: var(--theme-text);
  margin: 0;
}

::selection {
  background: var(--theme-success-500);
  color: var(--theme-base-800);
}

::-moz-selection {
  background: var(--theme-success-500);
  color: var(--theme-base-800);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

p {
  margin: 0 0 var(--base);

  @include small-break {
    margin: 0 0 calc(var(--base) / 2);
  }
}

small {
  @include small;
}

ul,
ol {
  padding-left: var(--base);
  margin: 0 0 var(--base);
}

a {
  color: currentColor;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;

  &:focus {
    opacity: .8;
    outline: none;
    text-decoration: underline;
  }

  &:focus-visible {
    @include outline;
  }

  &:active {
    opacity: .7;
    outline: none;
  }

  @include mid-break {

    &:focus,
    &:active {
      opacity: 1;
    }
  }
}

time {
  @include label;
  margin: 0;
}

svg {
  vertical-align: middle;
}

strong {
  font-family: var(--font-body);
  font-weight: 600;
}

b {
  font-family: var(--font-body);
  font-weight: 600;
}

em {
  font-family: var(--font-body);
  font-style: italic;
}

code {
  font-family: var(--font-mono);
  font-size: calc(var(--font-body-size) * .825);
  border-radius: 3px;
  padding: 0 5px;
}

html[data-theme="light"] {
  code {
    background: var(--theme-elevation-100);
  }
}
html[data-theme="dark"] {
  code {
    background: var(--theme-elevation-200);
  }
}

hr {
  border: none;
  border-top: 1px solid var(--theme-elevation-200);
  margin: var(--block-spacing) 0;
}

dialog {
  width: 100%;
  border: 0;
  padding: 0;
  color: currentColor;
}

// discord emojis
.d-emoji {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0!important;
}

.payload__modal-item {
  min-height: 100%;
  background: transparent;
}

.payload__modal-container--enterDone {
  overflow: auto;
}

.payload__modal-item--enter,
.payload__modal-item--enterDone {
  z-index: var(--z-modal);
}

::selection {
  background: var(--color-warning-500);
  color: var(--color-base-1000);
}

::-moz-selection {
  background: var(--color-warning-500);
  color: var(--color-base-1000);
}
