:root {
  --color-base-0: rgb(255, 255, 255);
  --color-base-50: rgb(245, 245, 245);
  --color-base-100: rgb(235, 235, 235);
  --color-base-150: rgb(221, 221, 221);
  --color-base-200: rgb(208, 208, 208);
  --color-base-250: rgb(195, 195, 195);
  --color-base-300: rgb(181, 181, 181);
  --color-base-350: rgb(168, 168, 168);
  --color-base-400: rgb(154, 154, 154);
  --color-base-450: rgb(141, 141, 141);
  --color-base-500: rgb(128, 128, 128);
  --color-base-550: rgb(114, 114, 114);
  --color-base-600: rgb(101, 101, 101);
  --color-base-650: rgb(87, 87, 87);
  --color-base-700: rgb(74, 74, 74);
  --color-base-750: rgb(60, 60, 60);
  --color-base-800: rgb(47, 47, 47);
  --color-base-850: rgb(34, 34, 34);
  --color-base-900: rgb(20, 20, 20);
  --color-base-950: rgb(7, 7, 7);
  --color-base-1000: rgb(0, 0, 0);

  --color-success-50: rgb(229, 242, 247);
  --color-success-100: rgb(229, 242, 247);
  --color-success-150: rgb(178, 217, 231);
  --color-success-200: rgb(153, 204, 223);
  --color-success-250: rgb(128, 191, 215);
  --color-success-300: rgb(102, 178, 206);
  --color-success-350: rgb(77, 165, 198);
  --color-success-400: rgb(51, 153, 190);
  --color-success-450: rgb(26, 140, 182);
  --color-success-500: rgb(0, 127, 174);
  --color-success-550: rgb(0, 114, 157);
  --color-success-600: rgb(0, 102, 139);
  --color-success-650: rgb(0, 89, 122);
  --color-success-700: rgb(0, 76, 104);
  --color-success-750: rgb(0, 64, 87);
  --color-success-800: rgb(0, 51, 70);
  --color-success-850: rgb(0, 38, 52);
  --color-success-900: rgb(0, 25, 35);
  --color-success-950: rgb(0, 13, 17);

  --color-warning-50: rgb(254, 247, 237);
  --color-warning-100: rgb(253, 238, 220);
  --color-warning-150: rgb(252, 230, 202);
  --color-warning-200: rgb(251, 222, 185);
  --color-warning-250: rgb(249, 214, 167);
  --color-warning-300: rgb(248, 205, 149);
  --color-warning-350: rgb(247, 197, 132);
  --color-warning-400: rgb(246, 189, 114);
  --color-warning-450: rgb(245, 181, 96);
  --color-warning-500: rgb(244, 172, 79);
  --color-warning-550: rgb(220, 155, 71);
  --color-warning-600: rgb(195, 138, 63);
  --color-warning-650: rgb(171, 121, 55);
  --color-warning-700: rgb(146, 103, 47);
  --color-warning-750: rgb(122, 86, 39);
  --color-warning-800: rgb(98, 69, 32);
  --color-warning-850: rgb(73, 52, 24);
  --color-warning-900: rgb(49, 34, 16);
  --color-warning-950: rgb(24, 17, 8);

  --color-error-50: rgb(255, 243, 241);
  --color-error-100: rgb(255, 231, 226);
  --color-error-150: rgb(255, 219, 212);
  --color-error-200: rgb(255, 207, 197);
  --color-error-250: rgb(255, 195, 183);
  --color-error-300: rgb(255, 183, 169);
  --color-error-350: rgb(255, 171, 154);
  --color-error-400: rgb(255, 159, 140);
  --color-error-450: rgb(255, 147, 125);
  --color-error-500: rgb(255, 135, 111);
  --color-error-550: rgb(229, 122, 100);
  --color-error-600: rgb(204, 108, 89);
  --color-error-650: rgb(178, 95, 78);
  --color-error-700: rgb(153, 81, 67);
  --color-error-750: rgb(128, 68, 56);
  --color-error-800: rgb(102, 54, 44);
  --color-error-850: rgb(77, 41, 33);
  --color-error-900: rgb(51, 27, 22);
  --color-error-950: rgb(26, 14, 11);

  --color-blue-50: rgb(229, 242, 247);
  --color-blue-150: rgb(178, 217, 231);
  --color-blue-100: rgb(229, 242, 247);
  --color-blue-250: rgb(128, 191, 215);
  --color-blue-200: rgb(153, 204, 223);
  --color-blue-350: rgb(77, 165, 198);
  --color-blue-300: rgb(102, 178, 206);
  --color-blue-450: rgb(26, 140, 182);
  --color-blue-400: rgb(51, 153, 190);
  --color-blue-550: rgb(0, 114, 157);
  --color-blue-500: rgb(0, 127, 174);
  --color-blue-650: rgb(0, 89, 122);
  --color-blue-600: rgb(0, 102, 139);
  --color-blue-750: rgb(0, 64, 87);
  --color-blue-700: rgb(0, 76, 104);
  --color-blue-850: rgb(0, 38, 52);
  --color-blue-800: rgb(0, 51, 70);
  --color-blue-950: rgb(0, 13, 17);
  --color-blue-900: rgb(0, 25, 35);

  --color-purple-50: rgb(254, 245, 254);
  --color-purple-100: rgb(253, 235, 253);
  --color-purple-150: rgb(253, 224, 253);
  --color-purple-200: rgb(252, 214, 252);
  --color-purple-250: rgb(251, 204, 251);
  --color-purple-300: rgb(250, 194, 250);
  --color-purple-350: rgb(249, 184, 249);
  --color-purple-400: rgb(249, 173, 249);
  --color-purple-450: rgb(248, 163, 248);
  --color-purple-500: rgb(247, 153, 247);
  --color-purple-550: rgb(222, 138, 222);
  --color-purple-600: rgb(198, 122, 198);
  --color-purple-650: rgb(173, 107, 173);
  --color-purple-700: rgb(148, 92, 148);
  --color-purple-750: rgb(124, 77, 124);
  --color-purple-800: rgb(99, 61, 99);
  --color-purple-850: rgb(74, 46, 74);
  --color-purple-900: rgb(49, 31, 49);
  --color-purple-950: rgb(25, 15, 25);

  --color-blue-text-light: rgba(26, 57, 85, 1);
  --color-blue-text-dark: rgba(217, 234, 242, 1);
  --color-blue-bg-light: rgba(209, 229, 239, 1);
  --color-blue-bg-dark: rgba(17, 28, 34, 1);
  --color-blue-border-light: rgba(0, 127, 174, 1);
  --color-blue-border-dark: rgba(0, 127, 174, 1);

  --color-orange-text-light: rgba(51, 45, 33, 1);
  --color-orange-text-dark: rgba(255, 225, 164, 1);
  --color-orange-bg-light: rgba(255, 235, 194, 1);
  --color-orange-bg-dark: rgba(51, 45, 33, 1);
  --color-orange-border-light: rgba(244, 172, 79, 1);
  --color-orange-border-dark: rgba(244, 172, 79, 1);

  --color-red-text-light: rgba(102, 17, 0, 1);
  --color-red-text-dark: rgba(255, 213, 204, 1);
  --color-red-bg-light: rgba(255, 195, 183, 1);
  --color-red-bg-dark: rgba(51, 27, 22, 1);
  --color-red-border-light: rgba(255, 135, 111, 1);
  --color-red-border-dark: rgba(255, 135, 111, 1);
}