@use './vars.scss' as *;

////////////////////////////
// MEDIA QUERIES (WIDTH)
/////////////////////////////

@mixin extra-small-break {
  @media (max-width: $breakpoint-xs-width) {
    @content;
  }
}

@mixin small-break {
  @media (max-width: $breakpoint-s-width) {
    @content;
  }
}

@mixin mid-break {
  @media (max-width: $breakpoint-m-width) {
    @content;
  }
}

@mixin mobile-header-break {
  @media (max-width: $breakpoint-mh-width) {
    @content;
  }
}

@mixin large-mid-break {
  @media (max-width: $breakpoint-lm-width) {
    @content;
  }
}

@mixin large-break {
  @media (max-width: $breakpoint-l-width) {
    @content;
  }
}

@mixin large-plus-break {
  @media (max-width: $breakpoint-lp-width) {
    @content;
  }
}

@mixin extra-large-break {
  @media (max-width: $breakpoint-xl-width) {
    @content;
  }
}

@mixin two-extra-large-break {
  @media (max-width: $breakpoint-2xl-width) {
    @content;
  }
}

////////////////////////////
// MEDIA QUERIES (HEIGHT)
/////////////////////////////

@mixin small-break-ht {
  @media (max-height: $breakpoint-s-height) {
    @content;
  }
}

@mixin large-break-ht {
  @media (max-height: $breakpoint-l-height) {
    @content;
  }
}

@mixin extra-large-break-ht {
  @media (max-height: $breakpoint-xl-height) {
    @content;
  }
}

@mixin two-extra-large-break-ht {
  @media (max-height: $breakpoint-2xl-height) {
    @content;
  }
}