@import 'vars';
@import '~react-toastify/dist/ReactToastify.css';

.Toastify {
  .Toastify__toast-container {
    left: var(--gutter-h);
    transform: none;
    right: var(--gutter-h);
    width: auto;
    padding: 0;
  }

  .Toastify__toast {
    padding: var(--base) calc(var(--base) * 1.5);
    @include body;
    font-weight: normal;
    border-radius: 0;
  }

  .Toastify__close-button {
    align-self: center;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .Toastify__progress-bar {
    height: 2px;
  }

  .Toastify__toast--success {
    color: var(--theme-success-700);
    background: var(--theme-success-50);
    border: 1px solid var(--theme-success-150);

    .Toastify__progress-bar {
      background-color: var(--theme-success-500);
    }

    &:hover {
      background: var(--theme-success-100);
    }
  }

  .Toastify__close-button--success {
    color: var(--theme-success-100);
  }

  .Toastify__toast--error {
    color: var(--theme-error-800);
    background: var(--theme-error-50);
    border: 1px solid var(--theme-error-150);

    .Toastify__progress-bar {
      background-color: var(--theme-error-500);
    }

    &:hover {
      background: var(--theme-error-100);
    }
  }

  .Toastify__close-button--error {
    color: var(--theme-error-100);
  }

  .Toastify__toast--warning {
    color: var(--theme-warning-700);
    background: var(--theme-warning-50);
    border: 1px solid var(--theme-warning-150);

    .Toastify__progress-bar {
      background-color: var(--theme-warning-300);
    }

    &:hover {
      background: var(--theme-warning-100);
    }
  }

  .Toastify__close-button--warning {
    color: var(--theme-warning-100);
  }

  .Toastify__toast--info {
    color: var(--theme-elevation-700);
    background: var(--theme-elevation-50);
    border: 1px solid var(--theme-elevation-150);

    .Toastify__progress-bar {
      background-color: var(--theme-elevation-300);
    }

    &:hover {
      background: var(--theme-elevation-100);
    }
  }

  .Toastify__close-button--info {
    color: var(--theme-elevation-100);
  }

  .Toastify__toast--default {
    color: var(--theme-elevation-700);
    background: var(--theme-elevation-50);
    border: 1px solid var(--theme-elevation-150);

    .Toastify__progress-bar {
      background: var(--theme-elevation-300);
    }

    &:hover {
      background: var(--theme-elevation-100);
    }
  }

  .Toastify__close-button--default {
    color: var(--theme-elevation-100);
  }

  .Toastify__close-button--light {
    color: inherit;
  }

}
