.payload-toast-container {
  padding: 0;
  margin: 0;

  .payload-toast-close-button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-bg);
    transform: translate(-40%, -40%);
    border: none;

    svg {
      width: 0.8rem;
      height: 0.8rem;
    }

    [dir='RTL'] & {
      right: unset;
      left: 0.5rem;
    }
  }

  .toast-title {
    line-height: 1rem;
    margin-right: 1rem;
  }

  .payload-toast-item {
    padding: 0.8rem;
    color: var(--theme-elevation-800);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--theme-border-color);
    background: var(--theme-input-bg);
    box-shadow:
      0px 10px 4px -8px rgba(0, 2, 4, 0.02),
      0px 2px 3px 0px rgba(0, 2, 4, 0.05);

    .toast-content {
      transition: opacity 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
      width: 100%;
    }

    &[data-front='false'] {
      .toast-content {
        opacity: 0;
      }
    }

    &[data-expanded='true'] {
      .toast-content {
        opacity: 1;
      }
    }

    .toast-icon {
      width: 0.8rem;
      height: 0.8rem;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    &.toast-warning {
      color: var(--theme-warning-300);
      border-color: var(--theme-warning-700);
      background-color: var(--theme-warning-900);

      .payload-toast-close-button {
        color: var(--theme-warning-600);
      }
    }

    &.toast-error {
      color: var(--theme-error-300);
      border-color: var(--theme-error-700);
      background-color: var(--theme-error-900);

      .payload-toast-close-button {
        color: var(--theme-error-600);
      }
    }

    &.toast-success {
      color: var(--theme-success-300);
      border-color: var(--theme-success-700);
      background-color: var(--theme-success-900);

      .payload-toast-close-button {
        color: var(--theme-elevation-600);
      }
    }

    &.toast-info {
      color: var(--theme-elevation-800);
      border-color: var(--theme-elevation-250);
      background-color: var(--theme-elevation-100);

      .payload-toast-close-button {
        color: var(--theme-elevation-600);
      }
    }
  }
}
