@use 'queries' as *;

/////////////////////////////
// HEADINGS
/////////////////////////////

@mixin jumbo {
  margin: 50px 0;
  font-size: 132px;
  line-height: 1;
  font-weight: normal;

  @include extra-large-break {
    font-size: 96px;
  }

  @include large-break {
    font-size: 84px;
  }

  @include mid-break {
    font-size: 70px;
  }

  @include small-break {
    margin: 24px 0;
    font-size: 36px;
    line-height: 42px;
  }
}

@mixin h1 {
  margin: calc(var(--base) * 3) 0 calc(var(--base) * 2.4);
  font-size: calc(var(--base) * 4);
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.05em;

  @include small-break {
    font-size: calc(var(--base) * 2.5);
  }
}

@mixin h2 {
  margin: calc(var(--base) * 2.4) 0 calc(var(--base) * 1.8);
  font-size: calc(var(--base) * 3);
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.05em;

  @include small-break {
    font-size: calc(var(--base) * 1.75);
  }
}

@mixin h3 {
  margin: calc(var(--base) * 1.8) 0 calc(var(--base) * 1.2);
  font-size: calc(var(--base) * 2);
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.05em;

  @include small-break {
    font-size: calc(var(--base) * 1.5);
  }
}

@mixin h4 {
  margin: calc(var(--base) * 1.2) 0;
  font-size: calc(var(--base) * 1.4);
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.05em;

  @include large-break {
    font-size: calc(var(--base) * 1.5);
  }

  @include small-break {
    font-size: calc(var(--base) * 1.125);
  }
}

@mixin h5 {
  margin: calc(var(--base) * 1.2) 0;
  font-size: calc(var(--base) * 1);
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.05rem;

  @include large-break {
    font-size: calc(var(--base) * 1.25);
  }

  @include small-break {
    font-size: var(--base);
  }
}

@mixin h6 {
  margin: calc(var(--base) * 1.2) 0;
  font-size: calc(var(--base) * 0.65);
  line-height: 1;
  font-weight: 400;
  letter-spacing: .25em;

  @include large-break {
    font-size: calc(var(--base) * 0.8125);
  }
}

/////////////////////////////
// TYPE STYLES
/////////////////////////////

@mixin body {
  font-size: var(--font-body-size);
  line-height: 1.4;
  letter-spacing: -0.03em;
}

@mixin small {
  font-size: 14px;
  line-height: 15px;
}

@mixin large-body {
  font-size: 33px;
  line-height: 42px;

  @include mid-break {
    font-size: 22px;
    line-height: 30px;

  }

  @include small-break {
    font-size: 17px;
    line-height: 24px;
  }
}

@mixin label {
  margin: calc(var(--base) * 1.2) 0;
  font-size: calc(var(--base) * 1);
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.05em;

  @include mid-break {
    font-size: calc(var(--base) * 1);
  }

  @include small-break {
    font-size: calc(var(--base) * 1);
  }
}
