@use 'queries' as *;

/////////////////////////////
// HEADINGS
/////////////////////////////

@mixin jumbo {
  margin: 50px 0;
  font-size: 132px;
  line-height: 1;
  font-weight: normal;

  @include extra-large-break {
    font-size: 96px;
  }

  @include large-break {
    font-size: 84px;
  }

  @include mid-break {
    font-size: 70px;
  }

  @include small-break {
    margin: 24px 0;
    font-size: 36px;
    line-height: 42px;
  }
}

@mixin h1 {
  margin: 3rem 0 2.4rem;
  font-size: 4rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.05em;

  @include small-break {
    font-size: 2.5rem;
  }
}

@mixin h2 {
  margin: 2.4rem 0 1.8rem;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.05em;

  @include large-break {
    font-size: 3rem;
  }

  @include small-break {
    font-size: 1.75rem;
  }
}

@mixin h3 {
  margin: 1.8rem 0 1.2rem;
  font-size: 2rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.05em;

  @include small-break {
    font-size: 1.5rem;
  }
}

@mixin h4 {
  margin: 1.2rem 0;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.05em;

  @include large-break {
    font-size: 1.5rem;
  }

  @include small-break {
    font-size: 1.125rem;
  }
}

@mixin h5 {
  margin: 1.2rem 0;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.05rem;

  @include large-break {
    font-size: 1.25rem;
  }

  @include small-break {
    font-size: 1rem;
  }
}

@mixin h6 {
  margin: 1.2rem 0;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;

  @include large-break {
    font-size: 12px;
  }
}

/////////////////////////////
// TYPE STYLES
/////////////////////////////

@mixin body {
  font-size: var(--font-body-size);
  line-height: 1.4;
}

@mixin small {
  letter-spacing: 0;
  font-size: 16px;
  line-height: 20px;

  @include extra-large-break {
    font-size: 15px;
    line-height: 18px;
  }
}

@mixin large-body {
  font-size: 24px;
  line-height: 1.2em;
  letter-spacing: -0.04em;

  @include extra-large-break {
    font-size: 22px;
  }
}

@mixin code {
  font-family: var(--font-mono);
  font-size: calc(var(--font-body-size) * 0.825);
}

@mixin label {
  margin: 1.2rem 0;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.05em;

  @include mid-break {
    font-size: 1rem;
  }

  @include small-break {
    font-size: 1rem;
  }
}


@mixin uppercaseLabel {
  color: var(--theme-elevation-900);
  font-size: 0.55rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2.75px;
  text-transform: uppercase;
  margin: 0 0 0.75rem 0;
}