@use '@scss/common.scss' as *;

.homeHero {
  margin-top: calc(-1 * var(--page-padding-top));

  @include small-break-ht {
    margin-top: calc(1 * var(--page-padding-top) * 0.25);

    @include large-break {
      margin-top: calc(-1 * var(--page-padding-top) * 0.25);
    }

    @include mid-break {
      margin-top: calc(-1 * var(--page-padding-top));
    }
  }
}

.wrap {
  position: relative;
  background: var(--theme-bg);
}

.bg {
  position: absolute;
  z-index: 1;
  top: calc(var(--header-height) * 2);
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.bgImage {
  pointer-events: none;
  height: 100vh;
  overflow: hidden;
  position: relative;

  img {
    object-fit: cover;
  }
}

.backgroundGrid {
  z-index: 2;
}

.contentWrap {
  position: relative;
  z-index: 2;
  grid-template-rows: auto min-content;
  align-items: end;
  min-height: 72vh;

  @include mid-break {
    padding-top: calc(var(--base) * 6);
    min-height: initial;
    display: block;
  }
}

.secondaryContentWrap {
  position: relative;
  z-index: 2;
}

.richText {
  margin-bottom: calc(var(--base) * 2);
}

.primaryButtons,
.secondaryButtons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mediaGutter {
  position: relative;
}

.voidSpaceBelowMedia {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  bottom: 0;
}