@use '@scss/common.scss' as *;

.homeHero {
  position: relative;
  background: linear-gradient(to top, var(--theme-elevation-0) 60%, transparent 100%);
  padding-bottom: calc(var(--base) * 5);
}

.bg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  img, video {
    object-fit: cover;
    width: 100%;
  }

  @include mid-break {
    display: none;
  }
}

.backgroundGrid {
  z-index: 2;
}

.contentWrap {
  position: relative;
  z-index: 2;
  grid-template-rows: auto min-content;
  padding-top: calc(var(--base) * 3);

  @include mid-break {
    padding-top: calc(var(--base) * 1.5);
  }
}

.secondaryContentWrap {
  position: relative;
  z-index: 2;
  align-items: center;
  padding-top: calc(var(--base) * 8);

  @include large-break {
    padding-top: calc(var(--base) * 6);
  }

  @include mid-break {
    padding-top: calc(var(--base) * 1.5);
  }
}

.secondaryContent {
  @include mid-break {
    order: 1;
    margin-top: calc(var(--base) * 2);
  }

  @include small-break {
    margin-top: calc(var(--base) * 1.5);
  }
}

.logoWrapper {
  @include mid-break {
    order: 0;
  }
}

.richTextHeading {
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: calc(var(--base) * 1.5);
  }
}

.secondaryRichTextHeading {
  margin-bottom: calc(var(--base) * 1.5);
}

.richTextHeading, .secondaryRichTextHeading {
  max-width: 75%;

  @include mid-break {
    max-width: 100%;
  }
}

.richTextDescription, .secondaryRichTextDescription {
  max-width: 50%;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: calc(var(--base) * 1.5);
    max-width: 100%;
  }
}

.primaryButtons,
.secondaryButtons {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 50%;

  @include mid-break {
    max-width: 100%;
  }
}

.primaryButtons {
  @include mid-break {
    margin-bottom: calc(var(--base) * 2);
  }
}

.mediaGutter {
  display: none;

  @include mid-break {
    display: block;
    position: relative;
  }
}