@import '~payload/ui/scss';

.rich-text-video {
	padding: base(0.5);
	display: block;
	align-items: flex-start;
	background: var(--theme-elevation-50);
	max-width: base(15);
	margin-bottom: base(0.5);

	svg {
		width: base(1);
		height: base(1);
		margin-right: base(0.25);
	}

	&__label {
		@extend %body;
		font-family: var(--font-body);
		padding-top: base(0.25);
		line-height: base(0.75);
		display: flex;

		svg {
			flex-shrink: 0;
		}
	}

	&--selected {
		box-shadow: $focus-box-shadow;
		outline: none;
	}
}
