@use "@scss/common" as *;

.cmsForm {
  position: relative;

  .fieldWrap {
    position: relative;
    border-top: 1px solid var(--grid-line-dark);
    border-bottom: 1px solid var(--grid-line-dark);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background: var(--color-base-0);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:focus-within {
      &::before {
        opacity: 1;
      }
    }

    :global {
      div.rs__control  {
        border: none;
        background: none;
      }
    }

    input, textarea {
      border: none;
      background: none;

      &:focus {
        outline: none;
      }
    }
  }

  .submitButton {
    &::before {
      content: '';
      width: calc(100% - 2px);
      position: absolute;
      height:100%;
      left: 1px;
      top:0;
      z-index: 0;
      background-color: var(--theme-input-bg);
    }
  }

  .hideTopBorder {
    border-top: 0;
  }

  .hideBottomBorder {
    border-bottom: 0;
  }
}

.formFieldsWrap {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  > * {
    width: 100%;
  }

  .crosshair {
    position: absolute;
    width: calc(var(--base) * 1);
    height: auto;
    z-index: 5;
    color: var(--theme-elevation-1000);
    opacity: 0.5;
  }

  .crosshairLeft {
    top: calc(0% + var(--base) * -0.5);
    left: calc(0% + var(--base) * -0.5);
  }
}

:global([data-theme="light"]) {
  .leader {
    color: var(--text-light);
  }

  .fieldWrap {
    border-top: 1px solid var(--grid-line-dark);
    border-bottom: 1px solid var(--grid-line-dark);
  }

  .hideTopBorder {
    border-top: 0;
  }

  .hideBottomBorder {
    border-bottom: 0;
  }
}
