@use '@scss/common.scss' as *;

.doc {
  display: flex;

  @include mid-break {
    display: block;
  }
}

.title {
  @include h2;
  margin-top: 0 !important;
}

.content {
  width: 70%;
  max-width: 900px;
  margin-right: auto;

  @include mid-break {
    width: 100%;
  }
}

.mdx {
  @include color-links;
}

.aside {
  position: sticky;
  top: var(--page-padding-top);
  max-height: calc(100vh - var(--page-padding-top));
  overflow-y: auto;
  padding-bottom: calc(var(--base) * 2);
  margin-left: 5%;
  width: 25%;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--theme-elevation-100);
    }
  }


  @include mid-break {
    display: none;
  }
}

.next {
  display: block;
  padding: var(--base);
  margin-top: calc(var(--base) * 2);
  text-decoration: none;

  h4 {
    margin: 0;
  }
}

.next--dark {
  composes: next;
  background: var(--theme-purple-100);
  border-bottom: 1px solid var(--theme-purple-500);
  color: var(--theme-purple-500);

  &:hover {
    background: var(--theme-purple-200);
  }

  &:active, &:focus {
    background: var(--theme-purple-250);
  }
}

.next--light {
  composes: next;
  background: var(--theme-purple-500);
  border-bottom: 1px solid var(--theme-purple-800);
  color: var(--theme-text);

  &:hover {
    background: var(--theme-purple-400);
  }

  &:active, &:focus {
    background: var(--theme-purple-450);
  }
}

.nextLabel {
  display: flex;
  align-items: center;

  svg {
    margin-left: calc(var(--base) * .5);
  }
}

.search {
  width: 100% !important;
  margin-top: var(--base) !important;
}