@use '@scss/common' as *;

.authorSlot {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) * .25);

  @include mid-break {
    padding: 0;
  }
}

.label {
  @include uppercaseLabel;
}

.authorLink {
  text-decoration: none;

  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.author {
  display: flex;
  align-items: center;
  padding: 0 0 calc(var(--base) * 0.5) 0;

  p {
    font-size: calc(var(--base) * 0.8);
    color: var(--theme-elevation-900);
    margin: 0;
    line-height: 1;
  }
}

.authorInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.twitter {
  @include small;
  color: var(--theme-elevation-500);
}

.authorImage {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: calc(var(--base) * 0.75);
  flex-shrink: 0;
}