@use "@scss/common" as *;

.table {
  margin-bottom: var(--base);

  & table {
    width: 100%;
  }

  thead {
    th {
      font-weight: normal;
      text-align: left;
      color: var(--theme-elevation-500);
    }
  }

  th {
    padding: var(--base);
  }

  td {
    padding: 0 var(--base);
    min-width: 60px;
  }

  th:first-child, td:first-child {
    padding-left: 0;
  }

  tbody {
    tr {
      position: relative;

      &:nth-child(odd) {
        background: var(--theme-elevation-50);

        .cellBG {
          position: absolute;
          height: 100%;
          left: 0;
          right: 0;
          background: var(--theme-elevation-50);
          z-index: -1;
        }
      }
    }
  }

  & label {
    @include label;
    color: var(--theme-elevation-500);
  }

  @include mid-break {
    th,
    td {
      padding: calc(var(--base)*0.5);
      min-width: 40px;
    }
  }
}

.inDrawer {
  tbody {
    tr {
      &:nth-child(odd) {
        background: var(--theme-elevation-100);
      }
    }
  }
}

[data-theme=light] {
  .table {
    tbody {
      tr {
        &:nth-child(odd) {
          background: var(--theme-elevation-50);

          .cellBG {
            background: var(--theme-elevation-50);
          }
        }
      }
    }
  }

  .inDrawer {
    tbody {
      tr {
        &:nth-child(odd) {
          background: var(--theme-elevation-100);
        }
      }
    }
  }
}