@use '@scss/common' as *;

.position--wide {
  margin-left: calc(var(--gutter-h) / -2);
  width: calc(100% + var(--gutter-h));
}

.caption {
  display: flex;
  justify-content: center;
  padding-top: calc(var(--base) * 1.25);
}
