@use '@scss/common' as *;

.position--wide {
  margin-left: calc(var(--gutter-h) / -2);
  width: calc(100% + var(--gutter-h));
}

.caption {
  display: flex;
  justify-content: center;
  margin: calc(var(--base) * .75) calc(var(--base) * 1.5);
  margin-bottom: 0;
}

.mediaResource {
  @include shadow-lg;
}