@use '@scss/common' as *;

.stickyHighlight {
  position: relative;

  @include mid-break {
    margin-bottom: var(--block-spacing);
  }
}

.scroll-direction--down {
  :global {
    .animate-enter {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, calc(var(--base) * 4), 0);
    }
  
    .animate-enter-active,
    .animate-enter-done {
      transform: translate3d(0,0,0);
      opacity: 1;
      visibility: visible;
      transition: all 750ms;
    }
  
    .animate-exit {
      transform: translate3d(0,0,0);
      opacity: 1;
      visibility: visible;
    }
  
    .animate-exit-active {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, calc(var(--base) * -4), 0);
      transition: all 750ms;
    }
  }
}

.scroll-direction--up {
  :global {
    .animate-enter {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, calc(var(--base) * -4), 0);
    }
  
    .animate-enter-active,
    .animate-enter-done {
      transform: translate3d(0,0,0);
      opacity: 1;
      visibility: visible;
      transition: all 750ms;
    }
  
    .animate-exit {
      transform: translate3d(0,0,0);
      opacity: 1;
      visibility: visible;
    }
  
    .animate-exit-active {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, calc(var(--base) * 4), 0);
      transition: all 750ms;
    }
  }
}

.minHeight {
  height: 100vh;
  align-items: center;

  @include mid-break {
    height: auto;
  }
}

.scanlineColumns {
  position: relative;
}

.scanlineWrapper {
  position: absolute;
  height: 100%;
  width: 100%;

  @include mid-break {
    display: none;
  }
}

.crosshairTopRight, .crosshairBottomRight {
  position: absolute;
  width: calc(var(--base) * 1);
  height: auto;
  color: var(--theme-elevation-1000);
  opacity: 0.5;
}

.crosshairTopRight {
  top: calc(var(--base) * -0.5);
  right: calc(var(--base) * -0.5);
}

.crosshairBottomRight {
  bottom: calc(var(--base) * -0.5);
  right: calc(var(--base) * -0.5);
}

.scanlineDesktop {
  width: calc(100% + var(--gutter-h) * 1);
  margin-right: calc(var(--gutter-h) * -1);
}

.scanlineMobile {
  display: none;

  @include mid-break {
    display: block;
    width: calc(100% + var(--gutter-h) * 2);
    margin-left: calc(var(--gutter-h) * -1);
    margin-right: calc(var(--gutter-h) * -1);
  }
}

.richText {
  margin-bottom: calc(var(--base) * 1.5);
}

.codeMediaPosition {
  position: fixed;
  z-index: 3;
  top: 15vh;
  right: 0;
  bottom: 15vh;
  left: 0;
  opacity: 0;
  visibility: hidden;

  @include mid-break {
    position: relative;
    pointer-events: initial;
    top: auto;
    bottom: auto;
    transform: translate3d(0,0,0) !important;
    opacity: 1 !important;
    visibility: visible !important;
    padding: 0 !important;
    margin: calc(var(--base) * 2) 0 0;
  }
}

.codeMedia {
  height: 100%;

  @include mid-break {
    margin: 0;
    height: auto;
  }
}

.codeMediaInner {
  width: 100%;
}

.codeWrap {
  position: relative;
  height: 100%;
  background: var(--color-base-900);
}

.code {
  margin: 0 !important;
}

.innerCode {
  height: 640px;

  @include mid-break {
    height: 500px;
  }

  @include small-break {
    height: 400px;
  }
}

.centerCodeMedia {
  display: flex;
  align-items: center;

  @include mid-break {
    display: block;
  }
}

.mediaInner {
  display: flex;
  width: 100%;
  height: calc(100% - calc(var(--wrapper-padding-top) / 2 + var(--wrapper-padding-bottom) / 2));
}

.media {
  display: flex;
  align-items: center;
  width: 100%;
}