.container {
  display: inline-block;
  position: relative;
  background: radial-gradient(circle at center, #DFEDF4 0%, #628699 20%, #628699 100%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 200vw 200vh;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &::selection {
    color: black;
    -webkit-text-fill-color: currentcolor;
  }

  > * {
    position: relative;
  }

  &.highlight {
    color: white;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: currentcolor;
    background: none;
  }
}
