@use '@scss/common' as *;

.footer {
  margin: var(--block-spacing) 0 calc(var(--base) * 4) 0;
}

.colHeader {
  margin-bottom: calc(var(--base) * 4.5);
  height: 35px;
  display: inline-flex;
  align-items: flex-end;

  @include mid-break {
    margin-bottom: calc(var(--base) * 2);
  }
}

.footer .link {
  display: block;
  margin-bottom: calc(var(--base) * .15);
  text-decoration: none;
  width: 50%;
  font-size: calc(var(--font-body-size) * 0.925);
  color: var(--theme-elevation-500);

  &:hover {
    color: var(--theme-elevation-800)
  }

  @include mid-break {
    width: 100%;
  }
}

.col2Items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 225px;

  @include mid-break {
    max-height: unset;
  }
}

.subscribeAction {
  display: flex;
  margin-top: calc(var(--base) * 1);
}

.subscribeDesc {
  color: var(--theme-elevation-500);
  font-size: calc(var(--font-body-size) * 0.925);
}

.inputWrap {
  position: relative;
}

.emailInput input {
  padding-right: calc(var(--base) * 2);
}

.inputArrow {
  position: absolute;
  right: var(--base);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: var(--theme-text);
  transform: translateY(-50%) rotate(45deg);
}

.ok {
  cursor: pointer;
  height: calc(var(--base) * 3);
  width: calc(var(--base) * 3);
  border-radius: 50%;
  color: var(--theme-text);
  border: 1px solid currentColor;
  background-color: var(--theme-bg);
  position: relative;
  isolation: isolate;
  flex-shrink: 0;
  margin-left: calc(var(--base) * 1.5);

  &:hover {
    background-color: var(--theme-text);
    color: var(--theme-bg);
  }
}

.footerMeta {
  margin-top: calc(var(--base) * 4);
  align-items: flex-end;
}

.socialLinks {
  svg {
    margin-right: var(--base);
  }
}

.copyright {
  font-size: calc(var(--font-body-size) * 0.925);
  color: var(--theme-elevation-500);
  margin: 0;
}

.selectContainer {
  --theme-icon-width: calc(var(--base) * 2);
  --theme-switcher-icon-width: calc(var(--base) * 2);
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--theme-elevation-500);
  cursor: pointer;

  label {
    all: unset;
    font-size: calc(var(--font-body-size) * 0.75);
    display: flex;
    align-items: center;
  }
  
  select {
    all: unset;
    border: 1px solid var(--theme-elevation-300);
    font-size: calc(var(--font-body-size) * 0.925);
    padding-top: calc(var(--base) * .25);
    padding-bottom: calc(var(--base) * .25);
    padding-left: var(--theme-icon-width);
    padding-right: var(--theme-switcher-icon-width);
  }
}

.switcherIcon {
  display: inline-flex;
  height: var(--base);
  justify-content: center;
  position: absolute;
}

.themeIcon {
  width: var(--theme-icon-width);
}

.upDownChevronIcon {
  width: var(--theme-switcher-icon-width);
  right: 0;
  pointer-events: none;
}