@use '@scss/common' as *;

$curve: cubic-bezier(.165, .84, .44, 1);

.footer {
  position: relative;
  background: var(--color-base-1000);
  padding-top: calc(var(--base) * 11.5);
  padding-bottom: calc(var(--base) * 7.5);
  overflow: hidden;

  @include mid-break {
    padding-top: calc(var(--base) * 7.5);
    padding-bottom: calc(var(--base) * 7.5);
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100%);
  //display: none;

  & img {
    object-fit: cover;
    height: 100%;
  }
}

.container {
  position: relative;
}

.colHeader {
  @include h6;
  margin-bottom: calc(var(--base) * 4.5);
  display: inline-flex;
  align-items: flex-end;
  text-transform: uppercase;

  @include mid-break {
    margin-bottom: calc(var(--base) * 2);
  }
}

.footer .link {
  display: block;
  margin-bottom: calc(var(--base) * .15);
  font-size: calc(var(--font-body-size) * 0.925);
  color: var(--color-base-0);

  &:hover {
    color: var(--theme-elevation-800)
  }

  @include underline-on-focus;

  @include mid-break {
    width: 100%;
  }
}

.colItems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(var(--base) * 1);
}

.subscribeAction {
  display: flex;
  margin-top: calc(var(--base) * 1);
  margin-bottom: calc(var(--base) * 2);
}

.subscribeDesc {
  color: var(--color-base-0);
  margin: 0;
  font-size: calc(var(--font-body-size) * 0.9);
}

.inputWrap {
  position: relative;

  &:hover {
    .inputArrow {
      transform: translateX(6px) rotate(45deg);
      transition: transform 350ms $curve;
    }
  }
}

.emailInput input {
  padding-right: calc(var(--base) * 2);
  background: transparent;
  border-color: var(--grid-line-dark);
  border-left: none;
  border-right: none;

  &::placeholder {
    color: var(--color-base-300);
  }
}

.inputArrow {
  z-index: 1;
  color: var(--color-base-300);
  transform: rotate(45deg);
  transition: transform 350ms $curve;
  height: calc(var(--base) * 0.6);
  width: auto;
}

.submitButton {
  @include btnReset;
  cursor: pointer;
  display: block;
  position: absolute;
  right: calc(var(--base) * 0.5);
  top: calc(50% - var(--base) * 0.6);

  &:hover {
    background-color: var(--theme-text);
    color: var(--theme-bg);
  }
}

.footerMeta {
  margin-top: calc(var(--base) * 4);
  align-items: flex-end;

  @include mid-break {
    margin-top: calc(var(--base) * 2);
  }
}

.socialLinks {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--base) * 3);
}

.socialIconLink {
  display: inline-flex;
  border-radius: 50%;
  margin-right: var(--base);
}

.twitterIcon {
  color: var(--color-base-1000);
  background:  var(--color-base-0);
}

.copyright,
.communityHelp {
  font-size: calc(var(--font-body-size) * 0.925);
  color: var(--theme-elevation-500);
  margin: 0;
}

.themeCell {
  @include mid-break {
    grid-row: 3;
  }
}

.selectContainer {
  --theme-icon-width: calc(var(--base) * 2);
  --theme-switcher-icon-width: calc(var(--base) * 2);
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--theme-elevation-500);
  cursor: pointer;
  width: 100%;

  label {
    all: unset;
    font-size: calc(var(--font-body-size) * 0.75);
    display: flex;
    align-items: center;
    width: 100%;
  }

  select {
    all: unset;
    border-top: 1px solid var(--grid-line-dark);
    border-bottom: 1px solid var(--grid-line-dark);
    font-size: calc(var(--font-body-size) * 0.925);
    padding-top: calc(var(--base) * .25);
    padding-bottom: calc(var(--base) * .25);
    padding-left: var(--theme-icon-width);
    width: 100%;
    padding-right: var(--theme-switcher-icon-width);
  }
}

.switcherIcon {
  display: inline-flex;
  height: var(--base);
  justify-content: center;
  position: absolute;
}

.themeIcon {
  width: var(--theme-icon-width);
}

.upDownChevronIcon {
  width: var(--theme-switcher-icon-width);
  right: 0;
  pointer-events: none;
}
