@use '@scss/common' as *;

$curve: cubic-bezier(.165, .84, .44, 1);

.footer {
  position: relative;
  background: var(--color-base-1000);
  padding-top: calc(var(--base) * 8);
  padding-bottom: calc(var(--base) * 7.5);
  overflow: hidden;

  @include mid-break {
    padding-top: calc(var(--base) * 4);
    padding-bottom: calc(var(--base) * 7.5);
  }

  .grid {
    grid-row-gap: calc(var(--base) * 3);
  }
}

.topBorder {
  border-top: 1px solid var(--grid-line-dark);
}

.container {
  position: relative;
  z-index: 3;
}

.colHeader {
  @include h6;
  margin-bottom: calc(var(--base) * 4.5);
  display: inline-flex;
  align-items: flex-end;
  text-transform: uppercase;

  @include mid-break {
    margin-bottom: calc(var(--base) * 2);
  }
}

.footer .link {
  @include body;
  display: block;
  margin-bottom: calc(var(--base) * .15);
  color: var(--color-base-0);

  &:hover {
    color: var(--theme-elevation-800)
  }

  @include underline-on-focus;

  @include mid-break {
    width: 100%;
  }
}

.colItems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(var(--base) * 1);
}

.subscribeAction {
  display: flex;
  margin-top: calc(var(--base) * 1);
  margin-bottom: calc(var(--base) * 2);
}

.subscribeDesc {
  color: var(--color-base-0);
  margin: 0;
  @include small;
}

.inputWrap {
  position: relative;

  &:hover {
    .inputArrow {
      transform: translateX(6px) rotate(45deg);
      transition: transform 350ms $curve;
    }
  }
}

.emailInput input {
  @include body;
  padding: var(--base) calc(var(--base) * 1.5);
  background: var(--color-base-1000);
  border-color: var(--grid-line-dark);
  border-left: none;
  border-right: none;
  margin-left: 1px;
  width: calc(100% - 2px);
  height: auto;

  @include data-theme-selector('light') {
    background: var(--color-base-1000);
  }

  &::placeholder {
    color: var(--color-base-300);
  }
}

.inputArrow {
  z-index: 1;
  color: var(--color-base-300);
  transform: rotate(45deg);
  transition: transform 350ms $curve;
  height: calc(var(--base) * 0.6);
  width: auto;
}

.submitButton {
  @include btnReset;
  cursor: pointer;
  display: block;
  position: absolute;
  right: calc(var(--base) * 1.5);
  top: calc(50% - var(--base) * 0.6);
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base);
  max-width: 100%;
  align-items: center;
  margin-bottom: calc(var(--base) * 3);
}

.socialIconLink {
  display: inline-flex;
  transition: opacity 350ms $curve;

  &:hover {
    opacity: .75;
  }

  & svg {
    height: auto;
    width: calc( var(--base) * 1.6);
  }
}

.selectContainer {
  --theme-icon-width: calc(var(--base) * 2);
  --theme-switcher-icon-width: calc(var(--base) * 2);
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--theme-elevation-500);
  cursor: pointer;
  width: 100%;

  select {
    @include body;
    all: unset;
    position: relative;
    border-top: 1px solid var(--grid-line-dark);
    border-bottom: 1px solid var(--grid-line-dark);
    width: 100%;
    padding: var(--base) calc(var(--base) * 1.5);
    padding-left: calc(var(--base) * 1.5 + var(--theme-switcher-icon-width));

  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    z-index: 0;
    height: 100%;
    width: calc(100% - 2px);
    background: var(--color-base-1000);
  }
}

.switcherIcon {
  display: inline-flex;
  height: var(--base);
  justify-content: center;
  position: absolute;
  margin-left: calc(var(--base) * 1.25);
}

.themeIcon {
  width: var(--theme-icon-width);
}

.upDownChevronIcon {
  width: var(--theme-switcher-icon-width);
  right: calc(var(--base) * 0.75);
  pointer-events: none;
}
