@use '@scss/common' as *;

.fields {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.meta {
  list-style: none;
  padding: 0;
  overflow-wrap: anywhere;
  
  li {
    display: flex;
  }

  strong {
    width: 300px;
    flex-shrink: 0;

    @include small-break {
      width: 50%;
      padding-right: var(--base);
    }
  }
}

.secretInput {
  margin-bottom: calc(var(--base) * 1.5);
}