@use '@scss/common' as *;

.envVariables {
  max-width: 1000px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: calc(var(--base) * 1.5);
}

.addNewEnvs {
  [data-accordion-header-content] {
    color: var(--theme-blue-550);
  }
}

.divider {
  margin: calc(var(--base) * 3) 0;
  border-color: var(--theme-elevation-200);
}

.noEnvs {
  padding: var(--base);
  background-color: var(--theme-elevation-50);
  border: 1px solid var(--theme-elevation-200);
  margin: 0;
  text-align: center;
  color: var(--theme-elevation-600);
}