@use '@scss/common' as *;

.wrapper {
  &.darkTheme {
    background: var(--color-base-950);

    & .backgroundGrid {
      z-index: 0;
    }
  }
}

.container {
  position: relative;
  align-items: center;
  row-gap: calc(var(--base) * 3);

  @include mid-break {
    padding-top: calc(var(--base) * 3);
    padding-bottom: calc(var(--base) * 3);
  }
}

.content {
  position: relative;
  z-index: 1;
}

.labelWrap {
  padding: var(--base) var(--base) 0;
}

.label {
  padding-bottom: var(--base);
  border-bottom: 1px solid var(--color-base-700);
  color: var(--color-base-100);
  margin: 0;
}

.heading {
  margin-top: 0;
}

.richText {
  margin-bottom: calc(var(--base) * 1.5);
}

.links {
  width: 100%;

  > * {
    width: 100%;
  }
}

.tabsWrapper {
  position: relative;
  border: 1px solid var(--theme-elevation-200);
}

.code {
  position: relative;
}

.tabs {
  position: relative;
  display: flex;
  gap: calc(var(--base) * 2);
  padding: 0 calc(var(--base) * 2);
  background: var(--color-base-900);
  border-bottom: 1px solid var(--theme-elevation-200);
  overflow-x: auto;
  scroll-behavior: smooth;

  @include mid-break {
    padding: 0 calc(var(--base) * 1);
  }
}

.hiddenTab {
  @include visually-hidden;
}

.tabIndicator {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  bottom: 1px;
  background:var(--theme-elevation-800);
  transition: width var(--trans-default) linear, left var(--trans-default) linear ;
}

.tab {
  @include btnReset;
  cursor: pointer;
  padding: calc(var(--base) * 1) 0;
  @include body;
  font-size: calc(var(--base) * 0.9);
  color: var(--theme-elevation-700);
  white-space: nowrap;

  &.isActive, &:hover {
    color: var(--theme-elevation-1000);
  }
}

.codeBlock {
  display: none;

  &.isActive {
    display: block;
  }
}
