@import '~payload/ui/scss';

.rich-text-spotlight {
  display: inline-block;
  font-size: 1.25em;
  min-width: 6rem;
  background-color: var(--theme-elevation-1000);
  background: linear-gradient(to right,  #628699, #DFEDF4, #628699 100%);
  color: var(--theme-elevation-0);

  &--wrapper {
    background-color: var(--theme-elevation-0);
    border: 1px solid var(--theme-elevation-100);
    pointer-events: none;
    user-select: none;
    margin-bottom: 0.5rem;
  }

  &--header {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  &--button {
    pointer-events: all;
    user-select: none;
  }
}
