@use '@scss/common' as *;

.uniqueRepoName {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error {
  color: var(--theme-error-500);
}

.success {
  color: var(--theme-text-success);
}

.description {
  @include small;
}

.check {
  path {
    stroke: var(--theme-text-success);
  }
}
