@use '@scss/common' as *;

.communityHelpWrap {
  height: 100%;
  position: relative;
  margin-top: var(--page-padding-top);
  padding-bottom: 3rem;
  border-top: 1px solid var(--theme-border-color);
  border-bottom: 1px solid var(--theme-border-color);

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);
  }
}

.grid {
  padding-top: 2rem;
}

.postsWrap {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post {
  border-bottom: 1px solid var(--grid-line-dark);

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);
  }
}

.postContent {
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  @include mid-break {
    padding: 0 2rem;
  }
}

.postContent,
.searchBarWrap,
.heading {
  padding: 1.75rem 5rem;
  margin: 0;

  @include mid-break {
    padding: 1.5rem 2rem;
  }
}

.pagination {
  margin-top: 3rem;
  padding: 0 5rem;

  @include mid-break {
    padding: 0 2rem;
  }
}

.title {
  margin: 0;
  word-break: break-word;
  hyphens: auto;

  @include small-break {
    margin-bottom: 0.25rem;
  }
}

.titleMeta {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  color: var(--theme-elevation-500);
  gap: 0.5rem;
}

.platform {
  display: inline-flex;
  margin-right: 0.25rem;
}

.upvotes {
  display: flex;
  justify-content: flex-end;
  color: var(--theme-elevation-500);
  margin-left: 1rem;
  flex-shrink: 0;
  line-height: 42px;

  & svg {
    width: 0.75rem;
    margin-right: 0.35rem;
  }

  & span:not(:last-child) {
    padding-right: 1rem;
  }

  @include mid-break {
    line-height: 32px;
  }

  @include small-break {
    line-height: 24px;
  }
}

.icon {
  width: 20px;
  margin: 0 1px;
}

.ctaWrap {
  position: relative;
  padding-top: 4rem;

  & > * {
    position: sticky;
    top: var(--page-padding-top);
    border-top: 1px solid var(--theme-border-color);
  }
}

.bg {
  & > div {
    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
  }
}
