@use '@scss/common' as *;

.step {
  --step-indicator-pos: calc(var(--base) * 2);
  position: relative;
  padding-bottom: var(--block-spacing);

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: calc(var(--base) * 2);
    left: calc(var(--gutter-h) - var(--step-indicator-pos) - 5px);
    bottom: var(--base);
    transition: transform 1500ms ease-out;
    transform-origin: center top;
    transform: scaleY(0);
    background: currentColor;
    width: 1px;
  }

  @include large-break {
    --step-indicator-pos: var(--base);
  }

  @include mid-break {
    --step-indicator-pos: calc(var(--base) / 2);
  }

  &:last-child {
    padding-bottom: 0;

    .label {
      &:before {
        background: var(--color-success-500);
      }
    }
    
    &:before {
      content: none;
    }
  }
}

.animate {
  &:before {
    transform: scaleY(1);
  }
}

.label {
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + var(--step-indicator-pos));
    width: calc(var(--base) / 2);
    height: calc(var(--base) / 2);
    background: currentColor;
    border-radius: 100%;
  }
  
  @include mid-break {
    &:before {
      width: calc(var(--base) / 4);
      height: calc(var(--base) / 4);
    }
  }
}