@use "@scss/common" as *;

.pricingBlock {
    position: relative;
}

.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: calc(100% + var(--gutter-h));
    height: calc(100% - var(--gutter-h));
    margin: var(--gutter-h) 0 0 calc(var(--gutter-h) / -2);
    overflow: hidden;

    &:before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: calc(var(--base) * 3);
        background-color: var(--color-base-1000);
    }
}

.wrap {
    position: relative;
    padding: 0 0 calc(var(--base) * 4) 0;
}

.disclaimer {
    padding-bottom: var(--base);
}

.planWrap {
    &:nth-child(1) {
        .card {
            color: var(--color-base-100);
        }
    }

    &:nth-child(2) {
        .card {
            color: var(--color-base-950);
            border-color: var(--color-base-950);
            background-color: var(--color-success-400);
        }
    }

    &:nth-child(3) {
        .card {
            color: var(--color-success-400);
            border-color: var(--color-success-400);
        }
    }
}

.features {
    list-style: none;
    margin: calc(var(--base) * 2.5) 0;
    padding: 0;
    color: var(--color-base-100);

    .feature {
        margin: var(--base) 0;
        display: flex;
    }

    .check,
    .x {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        flex-shrink: 0;
        width: calc(var(--base) * 1.5);
        height: calc(var(--base) * 1.5);
        margin-right: calc(var(--base) * 1.5);
        justify-items: center;
    }

    .check {
        border: 1px solid var(--color-success-500);

        & svg {
            color: var(--color-success-500);
            width: 100%;
            height: 100%;

            & path {
                stroke-width: 1px;
            }
        }
    }

    .x {
        border: 1px solid var(--color-error-500);

        & svg {
            color: var(--color-error-500);
            width: 80%;
            height: 80%;

            & rect {
                height: 1.5px;
            }
        }
    }
}

.toggler {
    display: none;
}

.collapsibleList {
    display: none;
}

@include extra-large-break {
    .bg {
        margin-top: calc(var(--gutter-h)*0.5);
        height: calc(100% - calc(var(--gutter-h)*0.5));
    }
}

@include large-break {
    .wrap {
        padding: 0 0 calc(var(--base) * 2) 0;
    }

    .bg {
        width: calc(100% + (var(--gutter-h) * 2));
        margin: var(--gutter-h) 0 0 calc(var(--gutter-h) * -1);
        height: calc(100% - var(--gutter-h));

        &:before {
            margin: calc(var(--base) * 1.5);
        }
    }
}

@include mid-break {
    .wrap {
        padding: 0 calc(var(--base) * 2) calc(var(--base) * 3);
    }

    .toggler,
    .collapsibleList {
        display: unset;
    }

    .list {
        display: none;
    }

    .toggler {
        @include label;
        color: var(--color-base-100);
        background-color: transparent;
        border: none;
        margin: calc(var(--base)*0.25) 0;
        cursor: pointer;
    }

    .chevron {
        transform: rotate(90deg);

        & path {
            stroke-width: 1px;
        }
    }

    .chevron.open {
        transform: rotate(-90deg);
    }

    .disclaimer {
        padding: 0;
    }
}