@use "@scss/common" as *;

.pricingBlock {
    position: relative;
}

.gutter {
  position: relative;
}

.wrapper {
  position: relative;
  grid-template-rows: auto auto auto;
}

.plan {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: subgrid;
  grid-row: span 4;
  background: var(--theme-bg);
  border-bottom: 1px solid var(--grid-line-dark);

  @include mid-break {
    margin-bottom: calc(var(--base) * 2);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);
  }
}

.crosshairTopLeft {
  position: absolute;
  top: calc(var(--base) * -.5);
  left: calc(var(--base) * -.5);
  width: calc(var(--base) * 1);
  height: auto;
  opacity: 0.15;
}

.crosshairTopRight {
  position: absolute;
  top: calc(var(--base) * -.5);
  right: calc(var(--base) * -.5);
  width: calc(var(--base) * 1);
  height: auto;
  opacity: 0.15;

  @include mid-break {
    display: none;
  }
}

.disclaimer {
    padding-bottom: var(--base);
}

.createPayloadApp {
  display: flex;
  padding: calc(var(--base) * 1.5);
  width: 100%;
  font-size: calc(var(--base) * 0.8);

  @include mid-break {
    padding: calc(var(--base) * 1);
  }
}

.ctaWrapper {
  display: flex;
  height: calc(var(--base) * 4.2);
  border-bottom: 1px solid var(--grid-line-dark);

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);
  }

  @include mid-break {
    border-top: 1px solid;
    border-bottom: none;
  }
}

.link {
  width: 100%;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: calc(var(--base) * 1.5);

  @include mid-break {
    padding: 0;
    padding-left: calc(var(--base) * 1);
    padding-right: calc(var(--base) * 1);
    padding-bottom: calc(var(--base) * 1.5);
  }

  .feature {
    margin-bottom: calc(var(--base) * 1.5);
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include mid-break {
      margin-bottom: calc(var(--base) * 0.4);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .check,
  .x {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: calc(var(--base) * 1.5);
    height: calc(var(--base) * 1.5);
    margin-right: calc(var(--base) * 0.8);
    justify-items: center;
  }

  .check {
    & svg {
      color: rgba(81, 191, 246, 1);
    }
  }

  .x {
    border: 1px solid var(--color-error-500);

    & svg {
      color: var(--color-error-500);
      width: 80%;
      height: 80%;

      & rect {
        height: 1.5px;
      }
    }
  }
}

.list {
  @include mid-break {
    display: none;
  }
}

.toggler {
  display: none;
  width: 100%;
  padding: calc(var(--base) * 1.5) calc(var(--base) * 1);
  align-items: center;
  justify-content: space-between;
  border: none;
  @include body;
  font-weight: bold;
  cursor: pointer;


  @include mid-break {
    margin: 0;
    display: flex;
    background-color: transparent;
    padding: calc(var(--base) * 1);
  }

  svg {
    width: calc(var(--base) * 2);
    height: 100%;
  }
}

.collapsibleList {
  display: none;

  @include mid-break {
    display: unset;
  }
}

.chevron {
  transform: rotate(90deg);

  & path {
    stroke-width: 1px;
  }
}

.chevron.open {
  transform: rotate(-90deg);
}
