.noData {
  padding: var(--base);
  background-color: var(--theme-elevation-50);
  border: 1px solid var(--theme-elevation-200);
  margin: 0;
  text-align: center;
  color: var(--theme-elevation-600);
}