@use '@scss/common.scss' as *;

.description {
  a {
    color: var(--theme-blue-500);
    cursor: pointer;
    text-decoration: underline;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include mid-break {
    margin-bottom: 1rem;
  }
}

.submit {
  align-self: flex-start;
}
