@use '@scss/common' as *;

.error {
    color: var(--theme-error-500);
}

.tabs {
    margin-bottom: 2rem;
}

.controls {
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 2rem  0;
    gap: 1rem;

    @include mid-break {
        margin-bottom: 1rem;
        padding: 1.5rem 0;
        flex-wrap: wrap;
    }
}

.search {
    flex-grow: 1;

    @include small-break {
        width: 100%;
    }
}

.teamSelector {
    width: 33.33%;

    @include small-break {
        width: 100%;
    }
}

.createButton {
    white-space: nowrap;
}

.controlsBG {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + 4rem);
    height: 100%;
    left: -2rem;
    right: -2rem;
    background-color: var(--theme-elevation-100);

    @include mid-break {
        width: calc(100% + calc(var(--gutter-h) * 2));
        left: calc(var(--gutter-h) * -1);
        right: calc(var(--gutter-h) * -1);
    }
}

.pagination {
    margin-top: 2rem;
}

:global([data-theme="light"]) {
    .controlsBG {
        background-color: var(--theme-elevation-50);
    }
}