@use '@scss/common' as *;

.contributionList {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.contribution {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--theme-border-color);
  text-decoration: none;

  &:last-child {
    border-bottom: none;
  }
}

.number {
  opacity: 0.75;
  width: 3rem;
  @include small;
}

.title {
  width: auto;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

.arrow {
  display: block;
  transition: transform 0.3s;
  margin-left: auto;
}

.contribution:hover {
  & > .title,
  & > .pill {
    opacity: 0.75;
  }

  & > .arrow {
    transform: translate(0.25rem, -0.25rem);
  }
}
