@use "@scss/common" as *;

.wrapper {
  position: relative;
  @include mid-break {
    row-gap: calc(var(--base) * 4);
  }

  align-items: center;

  .link {
    width: 100%;
  }
}

.backgroundGrid {
  top: 0;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.richText {
  margin-bottom: calc(var(--base) * 2);
}

.contentWrapper {
  max-width: calc(4 / 6 * 100%);

  @include mid-break {
    max-width: 100%;
  }
}

.mediaWrapper {
  position: relative;
}

.media {
  width: calc(100% + calc(var(--gutter-h)));

  grid-row: 1/1;

  @include mid-break {
    width: calc(100% - 2px);
    margin: 0 1px;
    grid-row: 2/3;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.linksWrapper {
  position: relative;
  align-self: flex-end;
  width: 100%;
}

.description {
  margin-bottom: calc(var(--base) * 2);
}

.bgSquare {
  grid-row: 1/1;

  @include mid-break {
    grid-row: 2/3;
  }

  img {
    width: 100%;
  }
}

.bgFull {
  position: absolute;
  left: 0;
  top: calc(0px - var(--header-height) - 1px);
  width: 100%;
  height: calc(100% + var(--header-height) + 1px);
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hasBreadcrumbsEnabled {
  top: calc(0px - var(--header-height) * 2 - 1px);
  height: calc(100% + var(--header-height) * 2 + 1px);
}
