.pill {
  background: var(--theme-elevation-900);
  color: var(--theme-elevation-0);
  padding: 0.25rem .75rem;
  border-radius: 9999px;
  font-family: var(--font-geist-mono);
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  display: block;
  margin: 1rem auto 1.5rem auto;
  width: fit-content;
  text-align: center;
}
