@use '@scss/common' as *;

.authorTag,
.author {
  display: flex;
  align-items: center;
}

.author {
  text-decoration: none;
  color: var(--theme-elevation-900);

  & img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: calc(var(--base) * 0.35);
  }
}

.date,
.platform {
  color: var(--theme-elevation-500);
  font-weight: normal;
}

@include large-break {
  .authorTag {
    justify-content: space-between;
  }
}

@include mid-break {
  .author {
    & img {
      flex-shrink: 0;
      width: 30px;
      height: 30px;
    }
  }

  .authorTag {
    justify-content: unset;
  }
}