@use '@scss/common' as *;

.error {
    color: var(--theme-error-500);
}

.sidebarCell {
    position: relative;
    height: 100%;
}

.sidebar {
    position: sticky;
    top: calc(var(--base) * 5);

    > *:not(:last-child) {
        margin-bottom: calc(var(--base) * 2);
    }

    @include mid-break {
        position: static;
        top: unset;

        > *:not(:last-child) {
            margin-bottom: var(--base);
        }
    }
}

.header {
    display: flex;
    align-items: flex-end;
    margin-bottom: calc(var(--base) * 2);
}

.title {
    margin: 0;
    flex-grow: 1;
}

.projects {
    border: 0.5px solid var(--theme-elevation-500);
    border-left: 0;
    border-right: 0;
}

.project {
    width: 100%;
    display: flex;
    align-items: center;
    padding: calc(var(--base) * 2) 0;
    position: relative;

    &:not(:last-child) {
        border-bottom: 0.5px solid var(--theme-elevation-500);
    }

    @include mid-break {
        padding: var(--base) 0;
    }
}

.projectTitle {
    margin: 0;
    flex-grow: 1;
}