@use '@scss/common' as *;

.repoCard {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.repo {
    display: flex;
    align-items: center;
    padding: calc(var(--base) * 1.5) 0;
    position: relative;

    @include small-break {
        padding: var(--base) 0;
        flex-direction: column;
        align-items: flex-start;
    }
}

.shimmer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.repoContent {
    flex-grow: 1;
    margin-right: var(--base);
    // set a `height` so that cards with no description so not shift the layout
    // this is because description may or may not render depending on the data
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    @include small-break {
        height: auto;
        margin-right: 0;
        margin-bottom: calc(var(--base) / 2);
    }
}

.repoName {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.repoDescription {
    margin-top: calc(var(--base) / 2);
    color: var(--theme-elevation-500);
    overflow: hidden;
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}