@use "@scss/common" as *;

.formBlock {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    width: calc(25% + var(--gutter-h) * 0.5);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #0A0A0A;
  }
}

.gutter {
  position: relative;
}

.formBlockGrid {
  position: relative;
  align-items: center;
}

.outerBackgroundSectionWrap {
  position: absolute;
  top: 0;
  left: calc(100% - var(--gutter-h));
  bottom: 0;
  width: 100%;
}

.outerBackgroundSection {
  position: relative;
  height: 100%;
}

.backgroundSectionWrap {
  display: flex;
  position: absolute;
  top: 0;
  left: calc(calc(var(--gutter-h) / 2) + 25%);
  right: 0;
  width: calc(75% - calc(var(--gutter-h) * 1.5));
  height: 100%;
}

.gradientWrap {
  position: absolute;
  top: 0;
  left: calc(calc(var(--gutter-h) / 2) + 25%);
  width: calc(75% - calc(var(--gutter-h) * 1.5));
  height: 100%;
}

.leftGradientOverlay, .rightGradientOverlay {
  border-radius: 100vw;
  border: 1px solid #FFF;
  background: radial-gradient(50% 50% at 50% 50%, #0A0A0A 34.5%, rgba(10, 10, 10, 0.00) 100%), conic-gradient(from 180deg at 50% 50%, #007FAE 0deg, #000 90deg, #F4AC4F 180deg, #000 270deg, #007FAE 360deg);
  filter: blur(240px);
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -2;
}

.leftGradientOverlay {
  top: 50%;
  left: 50%;
  transform: translate(-75%, -75%);
}

.rightGradientOverlay {
  bottom: 50%;
  right: 50%;
  transform: translate(75%, 75%);
}

.section {
  position: relative;
  width: 33.3333%;
}

.formCell {
  position: relative;

  &>*:not(:last-child) {
    margin-bottom: var(--base);
  }

  @include mid-break {
    margin-top: calc(var(--base) / 2);
  }
}

.richTextCell {
  position: relative;

  @include mid-break {
    padding-left: var(--base);
    padding-right: var(--base);
  }
}

.formCell {
  position: relative;

  @include mid-break {
    padding-left: var(--base);
    padding-right: var(--base);
  }
}

.formCellContent {
  & label {
    @include label;
  }
}