@use '@scss/common' as *;

.thread {
  max-width: 1200px;
  margin-right: calc(var(--base) * 8);

  @include mid-break {
    margin: 0;
  }

  @include small-break {
    margin-top: var(--base);
  }
}

.breadcrumbWrap {
  margin: 0 0 var(--base) 0;
}

.breadcrumb {
  @include label;
  text-decoration: none;

  @include small-break {
    line-height: calc(var(--base) * 3);
  }
}

.title {
  margin-top: 0;
}

.authorDetails {
  display: flex;
  align-items: center;
  padding: var(--base) 0 calc(var(--base) * 2.5) 0;

  @include mid-break {
    padding: calc(var(--base) * .5) 0;
  }
}

.content {
  margin-top: calc(var(--base) * 1.25);

  code {
    font-size: calc(var(--base) * .65);
    line-height: var(--base);
    background-color: var(--color-base-950);
    color: #ffffff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre {
    white-space: break-spaces !important;

    code {
      display: flex;
      padding: calc(var(--base) * 1.5);
      overflow: auto;
    }
  }

  a {
    color: var(--color-blue-600);

    @include large-break {
      display: inline-block;
      max-width: 300px;
      word-wrap: break-word;
    }

    @include mid-break {
      display: block;
      max-width: unset;
      word-wrap: unset;
    }

    @include small-break {
      display: inline-block;
      word-wrap: break-word;
      max-width: 250px;
    }
  }
}

.comments {
  height: 100%;
  margin-left: calc(var(--base) * 1.25);
  color: var(--color-base-300);

  & svg {
    width: calc(var(--base) * 0.75);
    margin-right: calc(var(--base) * 0.25);
  }
}

.messageWrap {
  margin-top: calc(var(--base) * 4);
  list-style: none;
  padding: 0;
}

.message {
  border: 1px solid var(--color-base-650);
  padding: calc(var(--base) * 1.75);
  line-height: 1.2;
  margin: 0 0 calc(var(--base) * 1.75) 0;
}

.attachmentWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: var(--base);

  @include large-break {
    grid-template-columns: 1fr;
  }
}

.attachment {
  @include shadow-lg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--base);
  background-color: var(--color-base-1000);
  border: 1px solid var(--color-base-650);
  font-size: calc(var(--base) * 0.75);

  & svg {
    width: calc(var(--base) * 2);
    margin-left: calc(var(--base) * 0.5);
  }

  &:nth-child(even) {
    margin-left: var(--base);
  }

  &:nth-child(2n+3) {
    margin-top: var(--base);
  }

  &:hover {
    background-color: var(--color-base-850);
  }

  @include large-break {
    & svg {
      width: unset
    }

    &:not(:first-child) {
      margin-top: var(--base);
      margin-left: 0;
    }
  }

  @include small-break {
    padding: calc(var(--base) * 1);
    font-size: calc(var(--base) * 0.75);
  }
}

.attachmentName {
  width: 100%;
}