@use '@scss/common' as *;

.post {
  max-width: 1200px;
  margin-right: calc(var(--base) * 8);

  @include mid-break {
    margin: 0;
  }

  @include small-break {
    margin-top: var(--base);
  }
}

.content {
  margin-top: calc(var(--base) * 1.25);

  & code {
    font-size: calc(var(--base) * .65);
    line-height: var(--base);
    background-color: var(--theme-elevation-50);
    color: #ffffff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    white-space: break-spaces;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: calc(var(--base) * 0.15);

    @include small-break {
      word-break: break-all;
    }
  }

  :global(.ts) {
    display: block;
  }

  & pre {
    white-space: break-spaces !important;

    & code {
      display: flex;
      padding: calc(var(--base) * 1.5);
      overflow: auto;
      background-color: var(--color-base-950);
      word-break: normal;

      @include mid-break {
        padding: var(--base);
      }
    }
  }

  & a {
    color: var(--color-blue-600);
    word-wrap: break-word;
  }

  & blockquote {
    margin-left: 0;
    padding-left: var(--base);
    border-left: 2px solid var(--theme-elevation-300);
  }

  & strong {
    @include small-break {
      word-wrap: break-word;
    }
  }
}

.messageWrap {
  margin-top: calc(var(--base) * 3);
  list-style: none;
  padding: 0;
}

.message {
  border: 1px solid var(--color-base-650);
  padding: calc(var(--base) * 2);
  line-height: 1.5;
  margin: 0 0 calc(var(--base) * 1.75) 0;

  @include mid-break {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--base);
  }

}

.attachmentWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: var(--base);

  @include large-break {
    grid-template-columns: 1fr;
  }
}

:global([data-theme="light"]) {
  .content {
    & code {
      background-color: var(--theme-elevation-100);
      color: var(--color-base-750);
    }

    & pre {
      & code {
        background-color: var(--color-base-950);
        color: var(--color-base-0);
      }
    }
  }
}