.teamSelect {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem 1rem;
  border: 1px solid var(--theme-border-color);
}

.actionsFooter {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--theme-border-color);
}

.noAccess {
  padding: 1.25rem 1rem;
  color: var(--color-warning-500);
  background: var(--theme-warning-100);
  border-bottom: 1px solid var(--color-warning-500);
}

:global([data-theme='light']) {
  .noAccess {
    color: var(--color-warning-850);
    background-color: var(--theme-warning-450);
    border-bottom: 1px solid var(--color-warning-550);
  }
}
