@use '@scss/common' as *;

.uniqueDomain {
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--theme-error-500);
}

.success {
  color: var(--theme-text-success);
}

.description {
  @include small;
  & {
    margin-top: 0.5rem;
  }
}

.check {
  path {
    stroke: var(--theme-text-success);
  }
}

.input {
  input {
    // this is ana arbitrary value to make up for the space of the icon plus the `.payloadcms.app` suffix
    padding-right: 8.25rem;
  }

  @include small-break {
    input {
      padding-right: 9rem;
    }
  }
}
