@use '@scss/common' as *;

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--theme-elevation-650);
  line-height: 1;
  font-size: 1rem;
  align-self: flex-end;
  display: flex;
  width: 100%;
}

.required {
  color: var(--color-error-500);
  margin: 0 0.25rem;
}

.labelWithActions {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  display: inline-flex;
  width: 100%;

  label {
    margin: 0;
  }
}

.actions {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 0.5rem;
}

.noMargin {
  margin: 0;
}
