@use '@scss/common.scss' as *;

.avatar {
  position: relative;
  display: flex;
  align-items: center;
}

.button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
}

.primaryUser {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  background-color: var(--theme-elevation-900);
  color: var(--theme-elevation-50);
  font-weight: 500;
  text-transform: uppercase;
  overflow: hidden;
  flex-shrink: 0;
}

.userInitial {
  @include small;
  & {
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
