@use '@scss/common' as *;

.hoverHighlights {
    position: relative;
}

.highlightLink {
    position: relative;
}

.highlight {
    padding: calc(var(--base) * 4) 0;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    width: 100%;

    &:hover {
        opacity: 1;
    }

    @include mid-break {
        padding: calc(var(--base) * 2) 0;
    }
}

.title {
    margin: 0;
}

.hr {
    margin: 0;
}

.description {
    margin: 0;
}

.richTextGrid {
    // margin-bottom: calc(var(--base) * 4);
}

.rowNumber {
    @include label;
}

.content  {
    position: relative;
    padding: calc(var(--base) * 4) 0;
    width: calc(100% + var(--gutter-h));

    @include mid-break {
        padding: calc(var(--base) * 2) 0;
    }
}

.pixelBG {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    left: auto;
    right: 0;
}

.media {
    position: fixed;
    max-width: 400px;
    width: 100%;
    height: auto;
    pointer-events: none;
}