@use '@scss/common.scss' as *;

.breadcrumbs {
  display: flex;
  margin-bottom: calc(var(--base) * 1.5);
}

.label {
  @include label;
  display: flex;
  align-items: center;
  white-space: nowrap;
  line-height: inherit;
}

.ellipsis {
  overflow: hidden;
  width: 100%;
  max-width: max-content;
}

.labelContent {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.divider {
  margin: 0 calc(var(--base) * 0.5);
  color: var(--theme-elevation-300);
}