@use '../shared.scss';
@use '@scss/common' as *;

.component {
  position: relative;
  display: inline-flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
}

.fullWidth {
  width: 100%;
}

.inputWrap {
  position: relative;
}

.input {
  @include shared.formInput;
}

.showError {
  .input {
    border-left: 2px solid var(--theme-error-500);
  }
}

.description {
  margin: 0;
}

.tooltipButton {
  width: 100%;
  height: 100%;
}

.type--hidden {
  display: none;
}

.iconWrapper {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate3d(0, -50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.5rem;
  width: 0.5rem;
}

.suffix {
  @include small;

  & {
    display: flex;
    color: var(--theme-elevation-500);
  }
}

:global([data-theme='light']) {
  .input {
    background: var(--theme-elevation-50);

    &:disabled {
      background: var(--theme-elevation-100);
    }
  }
}
