@use "../shared.scss";

.wrap {
  position: relative;
}

.actionsSlot {
  display: flex;
  margin-left: auto;
  gap: calc(var(--base) * .5);

  svg {
    height: 24px;
    width: auto;
  }
}

.input {
  @include shared.formInput;
}

.showError {
  .input {
    border-left: 2px solid var(--theme-error-500);
  }
}

.description {
  margin-bottom: 0;
}