@use '@scss/common' as *;

.creditCardList {
    position: relative;
}

.scrollRef { 
    position: absolute;
    top: calc(var(--base) * -6);
}

.error {
    color: var(--theme-error-500);
}

.success {
    color: var(--theme-success-500);
}

.formState {
    display: flex;
    flex-direction: column;
    gap: var(--base);

    > * {
        margin: 0;

        &:last-child {
            margin-bottom: var(--base);
        }
    }
}

.cardState {
    display: flex;
    flex-direction: column;
    gap: var(--base);
    margin-bottom: calc(var(--base) / 2);

    > * {
        margin: 0;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: var(--base);
    
    @include mid-break {
        gap: calc(var(--base) / 2);
    }
}

.card,
.newCard {
    border: 1px solid;
    border-color: var(--theme-elevation-250);
    padding: var(--base);
    display: flex;
    align-items: center;
    gap: var(--base);

    > * {
        margin: 0;
    }

    @include mid-break {
        padding: calc(var(--base) * .75);
    }
}

.newCard {
    flex-grow: 1;
    border-color: var(--theme-success-500);

    > * {
        width: 100%;
    }
}

.cardBrand {
    flex-grow: 1;
    line-height: var(--base);
}

.deleteCard {
    color: var(--theme-elevation-500);
}

.controls {
    display: flex;
    align-items: center;
    margin-top: var(--base);
    gap: var(--base);
}

.deleteCard,
.saveNewCard,
.cancelNewCard {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    line-height: inherit;
    font-family: inherit;
    cursor: pointer;
    font-size: inherit;
}

.cancelNewCard {
    color: var(--theme-elevation-500);
}