@use '@scss/common' as *;

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;

  a {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 0 1 content;
    overflow: hidden;
    line-height: 1.2em;

    &:hover {
      color: var(--theme-elevation-750);
    }

    &:focus {
      opacity: unset;
    }

    &:last-of-type {
      flex-shrink: 0;
    }
  }

  @include small-break {
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: auto;
    padding: 0.75rem var(--gutter-h);
    background: var(--theme-bg);
    border-bottom: 1px solid var(--theme-border-color);
    overflow-x: auto;

    a {
      display: inline;
      height: 1.5rem;
      flex: 0 0 auto;
      overflow: visible;
    }
  }
}

a.logo {
  display: flex;
  flex-shrink: 0;

  svg {
    height: 1.25rem;
    width: auto;
  }

  @include small-break {
    display: none;
  }
}

.breadcrumbs {
  width: 100%;
  display: flex;
  line-height: 1rem;
  flex-shrink: 1;
  overflow: hidden;
}

.slash {
  margin: 0 0.5rem;
  display: block;
  color: var(--theme-elevation-250);
  pointer-events: none;
  flex-shrink: 0;

  @include small-break {
    &:first-of-type {
      display: none;
    }
  }
}
