@use '@scss/common' as *;

.console {
  overflow: auto;
  max-height: 800px;

  code {
    background-color: unset;
    display: block;
  }
}

.logLines {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.logLine {
  margin-bottom: 0;
  font-family: var(--font-mono);
  font-size: 15px;
  display: flex;
  gap: 5px;
  letter-spacing: -0.5px;
  color: var(--theme-elevation-500);

  p {
    margin-bottom: 0;
  }
}
  
.logTimestamp {
  margin-bottom: 0;
  flex-shrink: 0;
  color: var(--theme-elevation-500);
}
  
.lineMessage {
  color: var(--theme-text);

  @include mid-break {
    white-space: nowrap;
  }
}

.lineType--error,
.lineType--success,
.lineType--warning {
  .logText,
  .logTimestamp {
    color: inherit;
  }
  .logTimestamp {
    opacity: .5;
  }
}
.lineType--error {
  background-color: var(--theme-error-50);
  color: var(--theme-error-450);
}
.lineType--success {
  background-color: var(--theme-success-50);
  color: var(--theme-success-500);
}
.lineType--warning {
  background-color: var(--theme-warning-50);
  color: var(--theme-warning-450);
}
.lineType--info {
  background-color: var(--theme-elevation-150);
}

.logText {
  color: var(--theme-elevation-500)
}
.logTextAppearance--style {
  color: var(--theme-elevation-500);
}
.logTextAppearance--text {
  color: var(--theme-elevation-900);
}