@use '@scss/common.scss' as *;

.error {
  color: var(--theme-error-500);
}

.success {
    color: var(--theme-success-500);
}

.form {    
    & > * {
        margin-bottom: var(--base);
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}

.hr {
    margin: calc(var(--base) * 2) 0;
    border: 0.5px solid var(--theme-elevation-500);
}   