@use '@scss/common' as *;

.cloneProgress {
    color: var(--theme-elevation-250);
    padding: calc(var(--base) * 2);
    background-color: var(--theme-elevation-50);
    position: relative;
    border: 0.5px solid var(--theme-border-color);
}

.scrollTarget {
    position: absolute;
    top: calc(var(--header-height) * -2);
}

.active {
    color: var(--theme-text);
    
    &:local() {
        .dots > div > div {
            animation: dots 1s infinite;
        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: calc(var(--base) / 2);
    width: 100%;
}

.icons {
    display: flex;
    align-items: center;
    gap: calc(var(--base) / 2);
}

.headerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--base));
    height: calc(var(--base));
}

.dots {
    display: flex;
    gap: 4px;

    & > div {
        position: relative;

        & > div {
            position: absolute;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: currentColor;
            transition: background-color 0.25s linear;
        }

        &:nth-child(1) > div {
            animation-delay: 0s;
        }

        &:nth-child(2) > div {
            animation-delay: 0.25s;
        }

        &:nth-child(3) > div {
            animation-delay: 0.5s;
        }
    }
}

@keyframes dots {
    0% {
        background-color: currentColor;
    }
    50% {
        background-color: var(--theme-elevation-250);
    }
    100% {
        background-color: currentColor;
    }
}