@use '@scss/common.scss' as *;

.centeredCarouselHero {
  background-color: var(--theme-elevation-50);
  margin-top: calc(-1 * var(--page-padding-top));
  padding-top: calc(var(--page-padding-top) + var(--base));

  @media (prefers-reduced-motion) {
    :global(.marquee) {
      animation: none;
    }
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: calc(var(--base) * 2);
  margin-top: calc(var(--base) * 2);

  @include small-break {
    gap: var(--base);
  }
}

.commandLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: var(--base);
  width: 100%;
  max-width: 540px;
  padding: calc(var(--base) / 2) var(--base);
  font-family: var(--font-mono);
  background-color: var(--theme-elevation-100);
  @include small;
  line-height: 1.5;
  @include extra-small-break {
    display: none;
  }
  @include extra-large-break {
    width: auto;
  }
}

.richText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  p {
    max-width: 840px;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: var(--base);
  margin-bottom: var(--base);
  padding: 0;
  gap: var(--base);

  li {
    list-style: none;
  }

  @include small-break {
    flex-direction: column;
  }
}

.logoGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--base);

  .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(var(--base) * 3);
    list-style: none;
    padding: 0;
  }
}

.carousel {
  background: linear-gradient(180deg,var(--theme-elevation-50) 0%, var(--theme-elevation-100) 50%, var(--theme-bg) 50%);

  div:global(.child) div {
    @include shadow-lg;
    margin: calc(var(--base) * 4) var(--base);

    @include small-break {
      margin: calc(var(--base) * 2) calc(var(--base) / 2);
    }
  }


  img {
    display: block;
    height: 480px;
    width: auto;

    @include large-break {
      height: 320px;
    }

    @include small-break {
      height: 240px;
    }

    @include extra-small-break {
      height: 160px;
    }
  }
}
