@use '@scss/common' as *;

.addTeamButton {
    display: block;
    background-color: transparent;
    margin: 0;
    padding:0;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    line-height: inherit;
    font-size: inherit;
    padding: calc(var(--base) / 2) var(--base);
}