@use '@scss/common.scss' as *;

.description {
  a {
    color: var(--theme-blue-500);
    cursor: pointer;
    text-decoration: underline;
  }
}

.error {
  color: var(--theme-error-500);
}

.list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
  list-style: none;
  padding: 0;
  margin: 0;
}

.subscription {
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: calc(var(--base) * 2);
    border-bottom: 1px solid var(--theme-border-color);
    padding-bottom: calc(var(--base) * 2);
  }

  @include small-break {
    flex-direction: column;
    gap: calc(var(--base) / 2);

    &:not(:last-child) {
      margin-bottom: var(--base);
      padding-bottom: var(--base);
    }
  }
}

.productName {
  @include label;
}

.subscriptionTitleWrapper {
  display: flex;
  gap: calc(var(--base) / 2);
  align-items: center;

  @include small-break {
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--base) / 2);
  }
}

.subscriptionTitle {
  display: flex;
  gap: calc(var(--base) / 2);
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.subscriptionDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
}

.subscriptionCancel {
  flex-shrink: 0;
}

.subscriptionContent {
  margin-top: calc(var(--base) / 2);
  display: flex;
  gap: calc(var(--base) / 2);
  flex-direction: column;
}

.loadMore {
  margin-top: calc(var(--base) * 2);
}

.modalActions {
  display: flex;
  gap: var(--base);
  justify-content: flex-end;
  width: 100%;
  padding-top: var(--base);
  border-top: 1px solid var(--theme-border-color);
}