@use '@scss/common' as *;

.breadcrumbWrap {
  margin: 0 0 var(--base) 0;
}

.breadcrumb {
  @include label;
  text-decoration: none;
}

.title {
  margin-top: 0;
  text-decoration: none;
}

.authorDetails {
  display: flex;
  align-items: center;
  padding: var(--base) 0 var(--base) 0;

  @include mid-break {
    padding: calc(var(--base) * 0.5) 0;
  }
}