@use '@scss/common' as *;

.tabsContainer {
  position: relative;
  width: 100%;
  margin-bottom: calc(var(--base) * 2);

  &:after {
    // thin full width line
    content: '';
    position: absolute;
    width: calc(100% + var(--gutter-h));
    left: calc(-1 * var(--gutter-h));
    height: 1px;
    bottom: 0px;
    background-color: var(--theme-border-color);
  }

  @include mid-break {
    margin-bottom: calc(var(--base) * 1.5);
  }
}

.tabs .tab {
  background-color: transparent;
  border-radius: none;
  border: none;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  margin: 0;
  margin-right: calc(var(--base) * 1.5);
  padding-bottom: calc(var(--base) * 1.5);
  position: relative;
  color: var(--theme-elevation-300);
  display: flex;
  align-items: center;
  gap: calc(var(--base) / 2);
  cursor: pointer;

  &.lastTab {
    margin-right: 0;
  }

  &:not(:disabled):after,
  &.active:after {
    // text underline
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: currentColor;
    opacity: 0;
    z-index: 1;
  }

  &:hover::after,
  &.active::after,
  &:focus-within::after {
    // text underline
    opacity: 1;
  }

  &.active {
    color: var(--theme-text);

    &.warning {
      color: var(--theme-warning-500);
    }

    &.error {
      color: var(--theme-error-500);
    }
  }

  &.warning {
    color: var(--theme-warning-300);
  }

  &.error {
    color: var(--theme-error-300);
  }

  &:disabled {
    color: var(--theme-elevation-200);
    cursor: not-allowed;
  }
}

.iconWrapper {
  position: relative;
  top: 2px;
  border: 1px solid currentColor;
  border-radius: 50%;
  width: calc(var(--base) * 1.25);
  height: calc(var(--base) * 1.25);
  flex-shrink: 0;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.tabsContainer {
  @include mid-break {
    .tab {
      padding-bottom: calc(var(--base));
    }
  }
}