@use '@scss/common.scss' as *;

.description {
  a {
    color: var(--theme-blue-600);
    cursor: pointer;
    text-decoration: underline;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

.invoice {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid var(--theme-border-color);

  & > * {
    flex: 1;
  }

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
  }
}

.invoiceBlockLeft {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.invoiceStatus {
  color: var(--theme-elevation-600);
}

.invoiceLines {
  flex-grow: 2;
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  @include mid-break {
    flex-grow: 1;
  }
}

.invoiceLine {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @include body;
  & {
    color: var(--theme-elevation-750);
  }
}

.invoiceBlockRight {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-end;

  @include mid-break {
    align-items: flex-start;
  }
}

.invoiceTotalNegative {
  @include body;
  & {
    color: var(--theme-success-750);
  }
}

.invoiceLink {
  @include body;
  & {
    color: var(--theme-elevation-600);
  }

  &:hover {
    color: var(--theme-elevation-400);
  }
}

.freeTrialNotice {
  @include small;
  & {
    color: var(--theme-elevation-600);
  }
}

.loadMore {
  margin-top: 2rem;
}
