@use '@scss/common' as *;

.docs-card-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin: 1.5rem 0;

  @include mid-break {
    grid-template-columns: 1fr;
  }
}
