@use '@scss/common' as *;

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + var(--gutter-h));
    height: 100%;
    margin-left: calc(var(--gutter-h) / -2);

    @include mid-break {
        margin-left: calc(var(--gutter-h) * -1);
        width: calc(100% + (var(--gutter-h) * 2));
    }
}

.description {
    margin-bottom: 0;
}

.templatesWrapper {
    position: relative;
    margin: calc(var(--base) * 2) 0;
}

.templates {
    position: relative;
    display: flex;
    width: calc(100% + (var(--base) * 2));
    left: calc(var(--base) * -1);
    padding: calc(var(--base) * 2) 0;

    @include mid-break {
        flex-wrap: wrap;
    }
}

.card {
    width: 33.33%;
    margin: calc(var(--base) * 1);

    @include mid-break {
        width: 100%;
        margin: calc(var(--base) * 0.5);
    }
}