@use '@scss/common' as  *;

.bgExtension {
  --container-extension: calc(var(--base) * 5);
  position: relative;
  padding-top: var(--container-extension);
  padding-bottom: var(--container-extension);
  margin-top: var(--block-spacing);
  margin-bottom: var(--block-spacing);
  isolation: isolate;

  @include small-break {
    padding-top: var(--block-spacing);
    padding-bottom: var(--block-spacing);
  }
}

.darkBg {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--color-base-950);
  margin-left: calc(var(--gutter-h) / -2);
  width: calc(100% - var(--gutter-h));
  z-index: -1;
}

.cell {
  margin-top: var(--base);
  margin-bottom: var(--base);

  @include small-break {
    margin-top: 0;
  }
}

.richText {
  a {
    color: var(--theme-success-600);

    &:hover {
      color: var(--theme-success-400);
    }

    &:visited {
      color: var(--theme-success-700);

      &:hover {
        color: var(--theme-success-500);
      }
    }
  }
}

:global([data-theme="light"]) {
  .cellsWithCurrentTheme {
    .richText {
      a {
        color: var(--theme-base-600);

        &:hover {
          color: var(--theme-base-400);
        }

        &:visited {
          color: var(--theme-base-700);

          &:hover {
            color: var(--theme-base-500);
          }
        }
      }
    }
  }
}