@use '@scss/common' as  *;

.wrapper {
  &.gridBelow {
    align-items: center;
  }
}

.topContent {
  align-items: start;
  row-gap: 2rem;

  &.gridBelow {
    margin-bottom: 6rem;

    @include mid-break {
      margin-bottom: 3rem;
    }
  }

  @include mid-break {
    margin-bottom: 3rem;
  }
}

.leader {
  @include h6;
  opacity: 0.75;
  margin-top: 0;
}

.cellGrid {
  row-gap: 2.5rem;
}

.cell {
  padding-right: 15%;
}

.cellRichText {
  p {
    opacity: 0.75;
  }
}
