@use '@scss/common.scss' as *;

.statementWrap {
  position: relative;
}

.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    max-width: 50%;
  }

  a:first-child {
    border-bottom: 1px solid var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    a:first-child {
      border-color: var(--grid-line-light);
    }
  }

  @include mid-break {
    flex-direction: column;

    a {
      max-width: none;
    }

    a:first-child {
      border-bottom: none;
    }
  }
}

.content {
  margin-bottom: 2rem;

  @include mid-break {
    margin-bottom: 1.5rem;
  }

  p {
    margin: 0;
  }
}
