@use '@scss/common' as *;

.communityHelpWrap {
  height: 100%;
  position: relative;
  margin-top: var(--page-padding-top);
  padding-bottom: calc(var(--base) * 3);
  border-top: 1px solid var(--theme-border-color);
  border-bottom: 1px solid var(--theme-border-color);

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);
  }
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & div {
    width: 45%;
    font-size: calc(var(--base)*0.85);
  }

  @include large-break {
    flex-direction: column;

    & div {
      width: unset;
    }
  }
}

.grid {
  padding-top: calc(var(--base) * 2);
}

.postsWrap {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post {
  border-bottom: 1px solid var(--grid-line-dark);

  @include data-theme-selector('dark') {
    border-color: var(--grid-line-dark);
  }

  @include data-theme-selector('light') {
    border-color: var(--grid-line-light);
  }
}

.postContent {
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  @include mid-break {
    padding: 0 calc(var(--base) * 2);
  }
}

.postContent, .searchBarWrap, .heading {
  padding: calc(var(--base) * 1.75) calc(var(--base) * 5);
  margin: 0;

  @include mid-break {
    padding: calc(var(--base) * 1.5) calc(var(--base) * 2);
  }
}

.pagination {
  margin-top: calc(var(--base) * 3);
  padding: 0 calc(var(--base) * 5);

  @include mid-break {
    padding: 0 calc(var(--base) * 2);
  }
}

.title {
  margin: 0;
  word-break: break-word;
  hyphens: auto;

  @include small-break {
    margin-bottom: calc(var(--base)*0.25);
  }
}

.titleMeta {
  display: flex;
  align-items: center;
  margin-top: calc(var(--base) * .25);
  color: var(--theme-elevation-500);
  gap: calc(var(--base) * .5);
}

.platform {
  display: inline-flex;
  margin-right: calc(var(--base) * .25);
}

.upvotes {
  display: flex;
  justify-content: flex-end;
  color: var(--theme-elevation-500);
  margin-left: var(--base);
  flex-shrink: 0;
  line-height: 42px;

  & svg {
    width: calc(var(--base) * .75);
    margin-right: calc(var(--base) * .35);
  }

  & span:not(:last-child) {
    padding-right: var(--base);
  }

  @include mid-break {
    line-height: 32px;
  }

  @include small-break {
    line-height: 24px;
  }
}

.icon {
  width: 20px;
  margin: 0 1px;
}

.ctaWrap {
  position: relative;
  padding-top: calc(var(--base) * 8);

  & > * {
    position: sticky;
    top: var(--page-padding-top);
    border-top: 1px solid var(--theme-border-color);
  }
}

.bg {
  & > div {
    &:nth-child(2), &:nth-child(3) {
      display: none;
    }
  }
}
