@use '@scss/common' as *;

@mixin formInput() {
  all: unset;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-family: var(--font-body);
  width: 100%;
  border: 1px solid var(--theme-border-color);
  background: var(--theme-input-bg);
  color: var(--theme-text);
  font-size: 1rem;
  height: 4.5rem;
  line-height: 1rem;

  &::-moz-placeholder,
  &::-webkit-input-placeholder {
    color: var(--theme-elevation-400);
    font-weight: normal;
    font-size: 1rem;
  }

  &:hover {
    border-color: var(--theme-elevation-250);
  }

  &:focus,
  &:active {
    border-color: var(--theme-elevation-400);
    outline: 0;
  }

  &:disabled {
    background: var(--theme-elevation-50);
    cursor: wait;

    &:hover {
      border-color: var(--theme-elevation-250);
    }
  }
}

.description {
  @include small;
  & {
    margin-top: 0.5rem;
    color: var(--theme-elevation-400);
  }
}
