@use '@scss/common' as *;

:global([data-theme='light']) {
  .configureDomain {
    background: var(--theme-elevation-100);
  }

  .pendingDomainAlert {
    color: var(--theme-error-550);
    background: var(--theme-error-100);
  }
}

.pending {
  border-left: 1px solid var(--theme-error-500);
}

.linkedDomain {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.externalLinkIcon {
  height: 22px;
  width: auto;
}

.domainField {
  margin-bottom: 1rem;
  pointer-events: none;
}

.domainTitleName {
  color: var(--theme-text);
}

.domainInfo > * {
  margin-bottom: 1rem;
}

.records {
  display: block;
  background: var(--theme-elevation-100);
  padding: 1rem;
  overflow: auto;

  th {
    @include small;
    & {
      font-weight: normal;
      color: var(--theme-elevation-600);
      text-align: left;
      padding: 0.25rem 0.5rem;
    }
  }

  td {
    font-size: 18px;
    padding: 0 0.5rem;
    white-space: nowrap;
    color: var(--theme-text);

    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 2rem;
    }

    button {
      display: inline-block;
      vertical-align: middle;
      margin-right: 1rem;

      span {
        width: 0;
      }
    }
  }

  .recordType {
    width: 4em;

    & > span {
      width: 2em;
    }
  }

  .recordName {
    & > span {
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      white-space: nowrap;
    }
  }

  .recordContent {
    width: 16em;

    & > span {
      width: 14em;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      white-space: nowrap;
    }
  }
}

.domainActions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--theme-border-color);

  .leftActions {
    margin-right: auto;
  }

  .rightActions {
    display: flex;
    gap: inherit;
  }
}

.modalActions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid var(--theme-border-color);
}
