@use '@scss/common.scss' as *;

.wrap {
  padding-top: var(--page-padding-top);
  position: relative;
}

.stickyWrap {
  position: absolute;
  z-index: 1;
  top: 0;
  right: calc(var(--gutter-h) / 2 * -1);
  bottom: 0;
  left: calc(var(--gutter-h) / 2 * -1);
}

.nav {
  position: sticky;
  top: var(--page-padding-top);
}

.grid {
  position: relative;
  z-index: 2;
}