@use '@scss/common' as *;

.header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: calc(var(--base) * 1.5);

    @include mid-break {
        margin-bottom: 0;
        flex-wrap: wrap;
    }
}

.title {
    margin-bottom: var(--base);
}

.import {
    color: var(--theme-blue-500);
}

.description {
    margin-bottom: 0;
}

.headerContent {
    flex-grow: 1;
    
    @include mid-break {
        margin-bottom: var(--base);
    }
}

.callToAction {
    @include shadow;
    background-color: var(--theme-elevation-50);
    padding: calc(var(--base) * 2);
    position: relative;
    width: calc(100% + var(--gutter-h));
    left: calc(var(--gutter-h) * -0.5);

    @include mid-break {
        padding: calc(var(--base) * 1.5);
        width: calc(100% + (var(--gutter-h) * 2));
        left: calc(var(--gutter-h) * -1);
    }
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + var(--gutter-h));
    height: calc(50% + calc(var(--base) * 3));
    margin-left: calc(var(--gutter-h) / -2);

    @include mid-break {
        margin-left: calc(var(--gutter-h) * -1);
        width: calc(100% + (var(--gutter-h) * 2));
    }
}

.description {
    margin-bottom: 0;
}

.templatesWrapper {
    position: relative;
}

.templates {
    position: relative;
    display: flex;
    width: calc(100% + (var(--base) * 2));
    left: calc(var(--base) * -1);
    padding-bottom: calc(var(--base) * 6);

    @include mid-break {
        flex-wrap: wrap;
        width: calc(100% + var(--base));
        left: calc(var(--base) * -0.5);
        padding-bottom: calc(var(--base) * 2);
    }
}

.card {
    width: calc(33.333% - (var(--base) * 2));
    margin: calc(var(--base) * 1);

    @include mid-break {
        width: calc(100% - var(--base));
        margin: calc(var(--base) * 0.5);
    }
}