.banner {
  padding: var(--base);
  margin: calc(var(--base) * 1.5) 0;
  display: flex;
  align-items: center;

  a,
  a:hover,
  a:active {
    color: currentColor !important
  }
}

.children {
  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

:global([data-theme="light"]) {
  .default, .info {
    color: var(--theme-text);
    background: var(--theme-elevation-100);
    border-bottom: 1px solid var(--theme-elevation-500);
  }

  .success {
    color: var(--color-success-850);
    background-color: var(--theme-success-450);
    border-bottom: 1px solid var(--color-success-550);
    
    :local(.icon path) {
      stroke: var(--theme-success-450);
    }
  }
  .warning {
    color: var(--color-warning-850);
    background-color: var(--theme-warning-450);
    border-bottom: 1px solid var(--color-warning-550);
    
    :local(.icon path) {
      stroke: var(--theme-warning-450);
    }
  }
  .error {
    color: var(--color-error-850);
    background-color: var(--theme-error-450);
    border-bottom: 1px solid var(--color-error-700);
    
    :local(.icon path) {
      stroke: var(--theme-error-450);
    }
  }
}

:global([data-theme="dark"]) {
  .default, .info {
    background: var(--theme-elevation-100);
    color: var(--theme-text);
    border-bottom: 1px solid var(--theme-elevation-600);
  }

  .success {
    color: var(--color-success-500);
    background: var(--theme-success-100);
    border-bottom: 1px solid var(--color-success-500);

    :local(.icon path) {
      stroke: var(--theme-success-100);
    }
  }
  .warning {
    color: var(--color-warning-500);
    background: var(--theme-warning-100);
    border-bottom: 1px solid var(--color-warning-500);

    :local(.icon path) {
      stroke: var(--theme-warning-100);
    }
  }
  .error {
    color: var(--color-error-500);
    background: var(--theme-error-100);
    border-bottom: 1px solid var(--color-error-500);

    :local(.icon path) {
      stroke: var(--theme-error-100);
    }
  }
}

.icon {
  background-color: currentColor;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: var(--base);

  path {
    stroke: var(--color-base-800);
  }
}