@use '@scss/common.scss' as *;

.banner {
  padding: 1rem 1.5rem;
  display: flex;
  margin-bottom: 2rem;
  border-radius: 2px;

  a,
  a:hover,
  a:active {
    color: currentColor !important;
  }

  p {
    margin: 0.8rem 0;
  }
}

.success {
  color: var(--theme-blue-text);
  background-color: var(--theme-success-100);
  border: 1px solid var(--theme-success-200);

  & p code {
    background-color: var(--theme-success-200) !important;
  }
}

.warning {
  color: var(--theme-orange-text);
  background-color: var(--theme-warning-100);
  border: 1px solid var(--theme-warning-200);

  & p code {
    background-color: var(--theme-warning-200) !important;
  }
}

.error {
  color: var(--theme-red-text);
  background-color: var(--theme-error-100);
  border: 1px solid var(--theme-error-200);

  & p code {
    background-color: var(--theme-error-200) !important;
  }
}

.default,
.info {
  color: var(--theme-text);
  background: var(--theme-elevation-50);
  border: 1px solid var(--theme-elevation-200);

  & p code {
    background-color: var(--theme-elevation-150) !important;
  }
}

.children {
  width: 100%;
  & > * {
    margin: 0;
    line-height: 1.4rem;
  }

  & > p {
    line-height: 1.6;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
