@use '@scss/common.scss' as *;

.banner {
  padding: 2rem;
  margin: 1.5rem 0;
  display: flex;

  a,
  a:hover,
  a:active {
    color: currentColor !important
  }

  &.noMargin {
    margin: 0;
  }
}


.success {
  color: var(--theme-blue-text);
  background-color: var(--theme-blue-bg);
  border-bottom: 1px solid var(--theme-blue-border);

  :local(.icon path) {
    stroke: var(--theme-blue-bg);
  }
}

.warning {
  color: var(--theme-orange-text);
  background-color: var(--theme-orange-bg);
  border-bottom: 1px solid var(--theme-orange-border);

  :local(.icon path) {
    stroke: var(--theme-orange-bg);
  }
}

.error {
  color: var(--theme-red-text);
  background-color: var(--theme-red-bg);
  border-bottom: 1px solid var(--theme-red-border);

  :local(.icon path) {
    stroke: var(--theme-red-bg);
  }
}

.children {
  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

:global([data-theme="light"]) {
  .default, .info {
    color: var(--theme-text);
    background: var(--theme-elevation-100);
    border-bottom: 1px solid var(--theme-elevation-500);
  }
}

:global([data-theme="dark"]) {
  .default, .info {
    background: var(--theme-elevation-150);
    color: var(--theme-text);
    border-bottom: 1px solid var(--theme-elevation-600);
  }
}

.icon {
  background-color: currentColor;
  border-radius: 50%;
  flex-shrink: 0;
  margin: 5px 1rem 0 0;
  width: 1rem;
  height: 1rem;
  padding: 4px;

  path {
    stroke: var(--color-base-800);
    stroke-width: 2px;
  }

  @include small-break {
    margin-top: 0;
  }
}