@use '@scss/common' as *;

.gutter {
    overflow-y: hidden;
}

.wrapper {
    min-height: 80vh;
    position: relative;
    padding-block: 12rem;

    @include mid-break {
        padding-block: 16rem;
    }
}

.highlightText {
    @include h2;
    margin: 0;
    text-decoration: none;
    display: flex;
    gap: 1rem;
    align-items: center;

    & .arrow {
        opacity: 0;
        transition: opacity 0.6s ease 0.1s;
    }

    &:hover .arrow {
        opacity: .5;
    }
}

.highlightMediaLeft {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    top: 0;
    left: calc(var(--column) * -4);
    width: calc(var(--column) * 8);
    height: 100%;
    pointer-events: none;
    z-index: 2;

    @include mid-break {
        display: none;
    }
}

.highlightMediaRight {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    top: 0;
    right: calc(var(--column) * -4);
    width: calc(var(--column) * 8);
    height: 100%;
    pointer-events: none;
    z-index: 2;

    @include mid-break {
        display: none;
    }
}

.media {
    width: 100%;
    height: auto;
}

.leftMargin {
    position: absolute;
    width: var(--gutter-h);
    height: 100%;
    left: 0;
    top: 0;
}

.rightMargin {
    position: absolute;
    width: var(--gutter-h);
    height: 100%;
    left: calc(100% - var(--gutter-h));
    top: 0;
}