@use '@scss/common' as *;

.hoverHighlights {
    position: relative;
}

.highlightWrapper {
    position: relative;
}

.highlight {
    padding: 4rem 0;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    width: 100%;

    &:hover {
        opacity: 1;
    }

    @include mid-break {
        padding: 2rem 0;
    }
}

.title {
    margin: 0;
}

.hr {
    margin: 0;
}

.description {
    margin: 0;
}

.richTextGrid {
    // margin-bottom: 4rem;
}

.rowNumber {
    @include label;
}

.content  {
    position: relative;
    padding: 4rem 0;
    width: calc(100% + var(--gutter-h));

    @include mid-break {
        padding: 2rem 0;
    }
}

.pixelBG {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    left: auto;
    right: 0;
}

.media {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 400px;
    width: 100%;
    height: auto;
}