@use '@scss/common.scss' as *;


.list {
    position: relative;
    list-style: none;
    padding: 0;
}

.team {
    padding: calc(var(--base) * 2) 0;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    text-decoration: none;
}

.teamName {
    margin: 0;
    flex-grow: 1;
}

.teamWrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.teamContent {
    flex-grow: 1;
}

.teamName {
    font-weight: bold;
}

.teamName,
.teamSlug {
    margin: 0;
}

.teamDrawerToggler {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: calc(var(--base) * 1.5);

    @include mid-break {
        margin-top: var(--base);
    }
}